﻿
@model JYHWebUI.Models.DTOs.WordDto
@{
    Layout = null;
}
<head>


    <style>
        .add-info {
            color: purple;
        }

        .ui-autocomplete {
            z-index: 10000;
        }
    </style>
    <script>
                $(document).ready(function () {
                    $("#word-auto").on("focus",function(){
                        $("#word-auto").autocomplete({
                            source: function (request, response) {
                                $.ajax({
                                    url: "/AutoComplete/Index",
                                    type: "POST",
                                    dataType: "json",
                                    data: { Prefix: request.term, type: 2},
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return { label: item.Word, value: item.Word, data: item };
                                        }))

                                    }
                                })
                            },
                            minLength: 0,
                            select: function (event, ui) {


                            },
                            open: function () {
                                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                            },
                            close: function () {
                                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                            },
                            focus: function (event, ui) {
                                // $("#kanji").val(ui.item.value.Kanji);
                                document.getElementById("wid").innerHTML = ui.item.data.ID;
                                document.getElementById("word").innerHTML = ui.item.data.Word;
                                document.getElementById("read").innerHTML = ui.item.data.Reading;
                                document.getElementById("type").innerHTML = ui.item.data.Type;
                                document.getElementById("mean").innerHTML = ui.item.data.Meaning;
                            }
                            });
                    });


                });
    </script>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm từ vựng cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID bài học:</td>
                                    <td><input type="text" value="@ViewBag.Lesson.ID" disabled id="w-l-id"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Tìm Kiếm Từ Vựng:</td>
                                    <td><input id="word-auto" type="text" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID từ vựng: </td>
                                    <td class="add-info" id="wid"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Từ:</td>
                                    <td class="add-info" id="word"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Cách đọc:</td>
                                    <td class="add-info" id="read"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Từ loại:</td>
                                    <td class="add-info" id="type"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Nghĩa:</td>
                                    <td class="add-info" id="mean"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
