﻿@model JYHWebUI.Models.DTOs.KanjiDto
@{
    Layout = null;
}
<head>
   

    <style>
        .add-info {
            color: purple;
        }
        .ui-autocomplete{
            z-index:10000;
        }
    </style>
    <script>
                $(document).ready(function () {
                    $("#kanji-auto").on("focus",function(){
                        $("#kanji-auto").autocomplete({
                            source: function (request, response) {
                                $.ajax({
                                    url: "/AutoComplete/Index",
                                    type: "POST",
                                    dataType: "json",
                                    data: { Prefix: request.term, type: 1},
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return { label: item.Kanji, value: item.Kanji, data: item };
                                        }))

                                    }
                                })
                            },
                            minLength: 0,
                            select: function (event, ui) {


                            },
                            open: function () {
                                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                            },
                            close: function () {
                                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                            },
                            focus: function (event, ui) {
                                // $("#kanji").val(ui.item.value.Kanji);
                                document.getElementById("kid").innerHTML = ui.item.data.ID;
                                document.getElementById("kanji").innerHTML = ui.item.data.Kanji;
                                document.getElementById("on").innerHTML = ui.item.data.Onyomi;
                                document.getElementById("kun").innerHTML = ui.item.data.Kunyomi;
                                document.getElementById("mean").innerHTML = ui.item.data.Meaning;
                            }
                            });
                    });

                    
                });
    </script>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm Kanji cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info col-sm-2">ID bài học:</td>
                                    <td class="col-sm-5"><input type="text" value="@ViewBag.Lesson.ID" disabled id="k-l-id"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Kanji:</td>
                                    <td><input id="kanji-auto" type="text" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID Kanji:</td>
                                    <td class="add-info" id="kid"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Kanji:</td>
                                    <td class="add-info" id="kanji"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">On'yomi:</td>
                                    <td class="add-info" id="on"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Kun'yomi</td>
                                    <td class="add-info" id="kun"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Nghĩa:</td>
                                    <td class="add-info" id="mean"></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>
