﻿
@model JYHWebUI.Models.DTOs.GrammarDto
@{
    Layout = null;
}
<head>


    <style>
        .add-info {
            color: purple;
        }

        .ui-autocomplete {
            z-index: 10000;
        }
    </style>
    <script>
                $(document).ready(function () {
                    $("#grammar-auto").on("focus", function () {
                        $("#grammar-auto").autocomplete({
                            source: function (request, response) {
                                $.ajax({
                                    url: "/AutoComplete/Index",
                                    type: "POST",
                                    dataType: "json",
                                    data: { Prefix: request.term, type: 3},
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return { label: item.StructureForms, value: item.StructureForms, data: item };
                                        }))

                                    }
                                })
                            },
                            minLength: 0,
                            select: function (event, ui) {


                            },
                            open: function () {
                                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                            },
                            close: function () {
                                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                            },
                            focus: function (event, ui) {
                                // $("#kanji").val(ui.item.value.Kanji);
                                document.getElementById("gid").innerHTML = ui.item.data.ID;
                                document.getElementById("structure").innerHTML = ui.item.data.StructureForms;
                                document.getElementById("usage").innerHTML = ui.item.data.Usage;
                                document.getElementById("level").innerHTML = ui.item.data.Level;
                                document.getElementById("mean").innerHTML = ui.item.data.Meaning;
                            }
                            });
                    });


                });
    </script>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm từ vựng cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID bài học:</td>
                                    <td><input type="text" value="@ViewBag.Lesson.ID" disabled id="g-l-id"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Ngữ pháp:</td>
                                    <td><input id="grammar-auto" type="text" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID ngữ pháp: </td>
                                    <td class="add-info" id="gid"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Cấu trúc</td>
                                    <td class="add-info" id="structure"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Cách sử dụng</td>
                                    <td class="add-info" id="usage"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Trình độ</td>
                                    <td class="add-info" id="level"></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Nghĩa</td>
                                    <td class="add-info" id="mean"></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
