﻿
@{
    Layout = null;
}
<head>
    <style>
        .add-info {
            color: black;
        }
    </style>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Phân quyền cho '<span id="account">@ViewBag.username</span>'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        @if (ViewBag.listRole == null)
                        {
                            <div class="checkbox add-info">
                                <label><input type="checkbox" class="add-info role1">Quản lý từ điển</label>
                            </div>
                            <div class="checkbox add-info">
                                <label><input type="checkbox" class="add-info role2">Quản lý khóa học và bài học</label>
                            </div>
                            <div class="checkbox add-info">
                                <label><input type="checkbox" class="add-info role3">Phân quyền</label>
                            </div>
                        }
                        else
                        {
                            if (@ViewBag.listRole.Contains(1))
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox" checked class="add-info " name="role1">Quản lý từ điển</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox" class="add-info " name="role1">Quản lý từ điển</label>
                                </div>
                            }

                            if (@ViewBag.listRole.Contains(2))
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox" checked class="add-info" name="role2">Quản lý khóa học và bài học</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox" class="add-info " name="role2">Quản lý khóa học và bài học</label>
                                </div>
                            }

                            if (@ViewBag.listRole.Contains(3))
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox" checked class="add-info" name="role3">Phân quyền</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox add-info">
                                    <label><input type="checkbox"  class="add-info" name="role3">Phân quyền</label>
                                </div>
                            }
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
