﻿@{
    ViewBag.Title = "Chỉnh sửa thông tin bài học";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .form-group {
            text-align: left;
        }

        .lbl {
            padding-top: 8px;
            display: inline;
            color: #FFFFFF;
        }

        .req {
            display: inline;
            color: #FF0000;
        }


        .admin-content {
            color: #FFFFFF;
            text-align: left;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 767px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse" class="admin-curlink">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Chỉnh sửa thông tin bài học</h2>
            </div>
            <div class="addcourse-form">
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Tên bài học</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="Name" type="text" class="form-control validate" maxlength="255" placeholder="Tên bài học" value="@ViewBag.LessonDetail.Name" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Mô tả</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="Description" type="text" class="form-control validate" maxlength="2000" placeholder="Mô tả" value="@ViewBag.LessonDetail.Description" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Hội thoại</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="Dialogue" type="text" class="form-control validate" placeholder="Hội thoại" value="@ViewBag.LessonDetail.Dialogue" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Hội thoại (Audio)</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="DialogueAudio" type="text" class="form-control validate" placeholder="Hội thoại (Audio)" value="@ViewBag.LessonDetail.DialogueAudio" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Văn hóa</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="CultureNotes" type="text" class="form-control validate" placeholder="Văn hóa" value="@ViewBag.LessonDetail.CultureNotes" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div>
                    <input type="button" value="Cập nhật" class="btn btn-default add-btn" />
                </div>
                <div class="divider-10"></div>
            </div>
        </div>
    </div>


    @Html.AntiForgeryToken()
    }


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
        $(document).ready(function () {
            var id = @ViewBag.LessonDetail.ID;
            var callbacks = $.Callbacks();
            $('.validate').on('focus', function () {
                if ($(this).val() == "") {
                    $(this).next().text("");
                }
            });


            $(".add-btn").on("click", function () {
                var count = 0;
                var callbacks = $.Callbacks();
                callbacks.add(function () {
                    $(".validate").each(function () {
                        var data = $(this).val();
                        var label = $(this).parent().prev().text().replace("*", "") + " không được bỏ trống";
                        /*if ($(this).attr("name") == "Description") {
                            label = "";
                        }*/
                        if (data == "") {
                            $(this).next().text(label);
                        }
                    });
                });
                callbacks.add(function () {
                    $(".text-danger").each(function () {
                        var data = $(this).text();
                        if (data != "") {
                            count--;
                        } else {
                            count++;
                        }
                    });
                });
                callbacks.add(function () {
                    if (count == 5) {
                        count++;
                        var form = $('#__AjaxAntiForgeryForm');
                        var token = $('input[name="__RequestVerificationToken"]', form).val();
                        $.post("../Admin/UpdateLesson", {
                            "__RequestVerificationToken": token,
                            "Name": $("input[name=Name]").val(),
                            "ID": id,
                            "Video": "",
                            "Description": $("input[name=Description]").val(),
                            "Dialogue": $("input[name=Dialogue]").val(),
                            "DialogueAudio": $("input[name=DialogueAudio]").val(),
                            "CultureNotes": $("input[name=CultureNotes]").val()
                        }, function () {
                            $.redirect('../Admin/ManageLesson', { "courseID": @ViewBag.LessonDetail.CourseID });
                        });
                    }
                });
                callbacks.fire();
            });
        });
    </script>
</body>
</html>