﻿@{
    ViewBag.Title = "Phân quyền";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .admin-content {
            color: #FFFFFF;
            text-align: left;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 1299px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
        
        .container {
            margin: 0 auto;
            width:100%;
        }

        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

        ul.tabs li {
            background-color: rgba(20,40,60,0.2);
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current {
            background-color: rgba(20,40,60,0.6);
        }

        .kana-tab-content {
            display: none;
            background-color: rgba(20,40,60,0.6);
            padding: 15px;
        }


        .kana-tab-content.current {
            display: inherit;
        }

        ul.tabs li {
                font-size: 14px;
            }
        .input-group {
            width: 50%;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles"  class="admin-curlink">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Phân quyền</h2>
            </div>
            <div class="admin-content">

                <div class="container">

                    <ul class="tabs">
                        <li class="current" id="managerRoles">Tất cả</li>
                        <li  id="managerDic">Quản lý từ điển</li>
                        <li  id="managerCourse">Quản lý khóa học</li>
                        <li  id="managerRole">Phân quyền</li>
                    </ul>
                    

                    <center>
                        <div class="input-group">
                            <input placeholder="Tìm Kiếm Bằng Tên, Email Hoặc Số Điện Thoại" onkeyup="filterFunction()" id="filter-Input" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </center>
                        <div class="divider-10"></div>

                    <table class="table table-bordered" id="Table">
                        <thead>
                            <tr>
                                <th width="20%">Tên</th>
                                <th width="20%">Email</th>
                                <th width="10%">Số điện thoại</th>
                                <th width="27%">Địa chỉ</th>
                                <th width="8%">Trình độ</th>
                                <th width="15%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                        <div class="divider-10"></div>
            </div>

                
                <!-- Modal -->
                <div class="modal fade" id="roleModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modal-lesson-header"></h4>
                            </div>
                            <div class="modal-body lesson-add-content">

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-delete" class="btn btn-default btn-lesson-add" data-dismiss="modal">Đồng ý</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        </div>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
        $(document).on("click", ".btn-role", function () {
            var uid = $(this).closest(".user-id").attr("uid");
            $(".lesson-add-content").load("../Admin/AddUserRole?userID=" + uid, function () {
                $('#roleModal').modal("show");
            });
        })
        $(document).ready(function () {
            active(0);

            $(".btn-lesson-add").on("click", function () {
                var listRole = [];
                if ($('input[name=role1]').is(':checked')) {
                    listRole.push(1);
                }

                if ($('input[name=role2]').is(':checked')) {
                    listRole.push(2);
                }

                if ($('input[name=role3]').is(':checked')) {
                    listRole.push(3);
                }

                $.ajax({
                    type: "POST",
                    url: "UpdateUserRole",
                    data: {
                        roles: listRole,
                        email: $("#account").text(),
                    },
                    dataType: 'json',
                    success: function(data){
                        alert(data);
                    }
                });
            });


            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs li').removeClass('current');
                $(this).addClass('current');
            });
            
        
            $("#managerDic").on("click", function () {
                active(1);
                
            });

            $("#managerCourse").on("click", function () {
                active(2);
            });

            $("#managerRole").on("click", function () {
                active(3);
            });

            $("#managerRoles").on("click",function () {
                active(0);
            });
        });


        function filterFunction() {
            // Declare variables
            var input, filter, table, tr, td, td1, td2, i;
            input = document.getElementById("filter-Input");
            filter = input.value.toUpperCase();
            table = document.getElementById("Table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1
                        || td1.innerHTML.toUpperCase().indexOf(filter) > -1
                        || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function active(type) {
            $.ajax({
                type: 'POST',
                url: 'UserFilter',
                data: {
                    role: type,
                },
                dataType: 'json',
                success: function (data) {
                    $("#Table > tbody").html("");
                    //$("#Table1").find(".tbody > tr").empty();
                    var trHTML = "";
                    $.each(data, function (i, item) {
                        trHTML += "<tr class='user-id' uid='" + item.ID + "'><td>" + item.FullName + "</td><td>" + item.Email + "</td>" +
                            "<td>" + item.Phone + "</td><td>" + item.Address + "</td>" +
                            "<td>" + item.Level + "</td>" +
                                "<td><button type='button' class='btn btn-default btn-role'>Phân Quyền</button></td></tr>";
                    });
                    $("#Table").append(trHTML);
                }
            });
        }
    </script>

</body>
</html>