﻿@{
    ViewBag.Title = "Quản lý nội dung bài học";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .admin-content {
            color: #FFFFFF;
            text-align: left;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 1299px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse" class="admin-curlink">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Nội dung bài học</h2>
            </div>
            <div class="admin-content">
                <div style="text-align: center;">
                    <a class="btn btn-success" id="btn-add-lesson-kanji">Thêm Kanji</a>
                    <a class="btn btn-success" id="btn-add-lesson-word">Thêm từ vựng</a>
                    <a class="btn btn-success" id="btn-add-lesson-grammar">Thêm ngữ pháp</a>
                    <a class="btn btn-success" id="btn-add-lesson-quiz">Thêm câu hỏi kiểm tra</a>
                </div>
                <div class="divider-10"></div>
                <div class="admin-title">
                    <h2>Danh sách Kanji</h2>
                </div>
                <table class="table table-bordered" id="kanjiTable">
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="15%">Kanji</th>
                            <th width="35%">On'yomi</th>
                            <th width="35%">Kun'yomi</th>
                            <th width="5%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.LessonDetail.LessonKanjis.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.LessonDetail.LessonKanjis[i].ID</td>
                                <td>@ViewBag.LessonDetail.LessonKanjis[i].Kanji</td>
                                <td>@ViewBag.LessonDetail.LessonKanjis[i].Onyomi</td>
                                <td>@ViewBag.LessonDetail.LessonKanjis[i].Kunyomi</td>
                                <td><a class="btn btn-danger btn-delete-kanji" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="divider-10"></div>
                <div class="admin-title">
                    <h2>Danh sách từ vựng</h2>
                </div>
                <table class="table table-bordered" id="wordTable">
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="25%">Từ vựng</th>
                            <th width="25%">Cách đọc</th>
                            <th width="35%">Nghĩa</th>
                            <th width="5%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.LessonDetail.LessonWords.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.LessonDetail.LessonWords[i].ID</td>
                                <td>@ViewBag.LessonDetail.LessonWords[i].Word</td>
                                <td>@ViewBag.LessonDetail.LessonWords[i].Reading</td>
                                <td>@ViewBag.LessonDetail.LessonWords[i].Meaning</td>
                                <td><a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="divider-10"></div>
                <div class="admin-title">
                    <h2>Danh sách ngữ pháp</h2>
                </div>
                <table class="table table-bordered" id="grammarTable">
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="30%">Ngữ pháp</th>
                            <th width="55%">Cách dùng</th>
                            <th width="5%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.LessonDetail.LessonGrammars.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.LessonDetail.LessonGrammars[i].ID</td>
                                <td>@ViewBag.LessonDetail.LessonGrammars[i].StructureKanji</td>
                                <td>@ViewBag.LessonDetail.LessonGrammars[i].Usage</td>
                                <td><a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="divider-10"></div>
                <div class="admin-title">
                    <h2>Danh sách câu hỏi kiểm tra</h2>
                </div>
                <table class="table table-bordered" id="quizTable">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="21%">Câu hỏi</th>
                            <th width="11%">Đáp án đúng</th>
                            <th width="11%">Đáp án sai 1</th>
                            <th width="11%">Đáp án sai 2</th>
                            <th width="11%">Đáp án sai 3</th>
                            <th width="16%">Giải thích</th>
                            <th width="14%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.LessonDetail.LessonQuizs.Count; i++)
                        {
                            <tr>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].ID)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].Question)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].CorrectAnswer)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].WrongAnswer1)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].WrongAnswer2)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].WrongAnswer3)</td>
                                <td>@Html.Raw(ViewBag.LessonDetail.LessonQuizs[i].Explanation)</td>
                                <td><a class="btn btn-success btn-edit">Sửa</a>&nbsp;<a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- Modal delete -->
                <div class="modal fade" id="deleteModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modal-lesson-header"></h4>
                            </div>
                            <div class="modal-body">
                                <p style="color:black" id="modal-lesson-content"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-delete" class="btn btn-default" data-dismiss="modal">Có</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Add -->
                <div class="modal fade" id="addModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modal-lesson-header"></h4>
                            </div>
                            <div class="modal-body lesson-add-content">
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-add" class="btn btn-default">Thêm</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modal-lesson-header"></h4>
                            </div>
                            <div class="modal-body lesson-edit-content">

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-edit" class="btn btn-default">Sửa</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
        $(document).ready(function (){
            var id = -1;
            var name = "";
            var parentName = "";
            var t1 = document.getElementById('kanjiTable');
            var t2 = document.getElementById('wordTable');
            var t3 = document.getElementById('grammarTable');
            var t4 = document.getElementById('quizTable');
            var type = -1;
            var tableIndex = 0;
            $("#btn-delete").on("click", function () {
                if (type == 1) {
                    $.post("../Admin/DeleteLessonKanji", {
                        "KanjiID": id,
                        "LessonID": @ViewBag.LessonID,
                    }, function (data) {
                        t1.deleteRow(tableIndex);

                    });
                } else if (type == 2) {
                    $.post("../Admin/DeleteLessonWord", {
                        "WordID": id,
                        "LessonID": @ViewBag.LessonID,
                    }, function (data) {
                        t2.deleteRow(tableIndex);

                    });
                }else if (type == 3) {
                    $.post("../Admin/DeleteLessonGrammar", {
                        "GrammarID": id,
                        "LessonID": @ViewBag.LessonID,
                    }, function (data) {
                        t3.deleteRow(tableIndex);

                    });
                }else if (type == 4) {
                    $.post("../Admin/DeleteLessonQuiz", {
                        "id": id
                    }, function (data) {
                        t4.deleteRow(tableIndex);

                    });
                }

            });
            $("#btn-edit").on("click", function () {
                $.post("../Admin/UpdateLessonQuiz",{
                    "ID":$("#edit-id").val(),
                    "LessonID":document.getElementById('g-l-id').value,
                    "Question":$("#edit-add").val(data.Question),
                    "CorrectAnswer":$("#edit-correct").val(),
                    "WrongAnswer1":$("#edit-wrong1").val(),
                    "WrongAnswer2":$("#edit-wrong1").val(),
                    "WrongAnswer3":$("#edit-wrong1").val(),
                    "Type":$("#edit-type").val(),
                    "Explanation":$("#edit-explanation").val()
                },function(){
                    if(data != "") {
                        alert("Đã Sửa Câu hỏi");
                        $("#quizTable > tbody").html("");
                        var trHTML = "";
                        $.each(data, function (i, item) {
                            trHTML += "<tr><td>" + item.ID + "</td><td>" + item.Question + "</td>" +
                                "<td>" + item.CorrectAnswer + "</td><td>" + item.WrongAnswer1 + "</td><td>" + item.WrongAnswer2 + "</td><td>" + item.WrongAnswer3 + "</td><td>" + item.Explanation + "</td>" +
                                    "<td><a class='btn btn-success btn-edit'>Sửa</a>&nbsp;<a class='btn btn-danger' data-toggle='modal' data-target='#deleteModal'>Xóa</a></td></tr>";
                        });
                        $("#quizTable").append(trHTML);
                    }else {
                        alert("Đã Có Lỗi Xảy Ra Khi Sửa Câu hỏi!");
                    }
                });
            });
            $("#btn-add").on("click", function () {
                if(type == 1) {
                    var text = document.getElementById("kanji-auto").value;
                    if (text != "") {
                        var id = $("#kid").text();
                        if (id != "") {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "AddLessonKanji",
                                data: {
                                    LessonID: document.getElementById('k-l-id').value,
                                    KanjiID: id,
                                },
                                success: function(data) {
                                    if(data != "") {
                                        alert("Đã Thêm Từ '" +  text + "' Vào Bài Học");
                                        $("#kanjiTable > tbody").html("");
                                        //$("#Table1").find(".tbody > tr").empty();
                                        var trHTML = "";
                                        $.each(data, function (i, item) {
                                            trHTML += "<tr><td>" + item.ID + "</td><td>" + item.Kanji + "</td>" +
                                                "<td>" + item.Onyomi + "</td><td>" + item.Kunyomi + "</td>" +
                                                    "<td><a class='btn btn-danger btn-delete-kanji' data-toggle='modal' data-target='#deleteModal'>Xóa</a></td></tr>";
                                        });
                                        $("#kanjiTable").append(trHTML);
                                    }else {
                                        alert("Đã Có Lỗi Xảy Ra Khi Thêm Từ '" + text + "'");
                                    }

                                }
                            });
                        }else {
                            alert("Không có từ '" + text + "' trong cơ sở dữ liệu");
                        }

                    }else {
                        alert("Bạn Phải Nhập Kanji");
                    }
                }else if(type == 2) {
                    var text = document.getElementById("word-auto").value;
                    if (text != "") {
                        var id = $("#wid").text();
                        if (id != "") {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "AddLessonWord",
                                data: {
                                    LessonID: document.getElementById('w-l-id').value,
                                    WordID: id,
                                },
                                success: function(data) {
                                    if(data != "") {
                                        alert("Đã Thêm Từ '" +  text + "' Vào Bài Học");
                                        $("#wordTable > tbody").html("");
                                        var trHTML = "";
                                        $.each(data, function (i, item) {
                                            trHTML += "<tr><td>" + item.ID + "</td><td>" + item.Word + "</td>" +
                                                "<td>" + item.Reading + "</td><td>" + item.Meaning + "</td>" +
                                                    "<td><a class='btn btn-danger btn-delete-word' data-toggle='modal' data-target='#deleteModal'>Xóa</a></td></tr>";
                                        });
                                        $("#wordTable").append(trHTML);
                                    }else {
                                        alert("Đã Có Lỗi Xảy Ra Khi Thêm Từ '" + text + "'");
                                    }

                                }
                            });
                        }else {
                            alert("Không có từ '" + text + "' trong cơ sở dữ liệu");
                        }

                    }else {
                        alert("Bạn Phải Nhập Từ");
                    }
                }else if(type == 3) {
                    var text = document.getElementById("grammar-auto").value;
                    if (text != "") {
                        var id = $("#gid").text();
                        if (id != "") {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "AddLessonGrammar",
                                data: {
                                    LessonID: document.getElementById('g-l-id').value,
                                    GrammarID: id,
                                },
                                success: function(data) {
                                    if(data != "") {
                                        alert("Đã Thêm Cấu Trúc '" +  text + "' Vào Bài Học");
                                        $("#grammarTable > tbody").html("");
                                        var trHTML = "";
                                        $.each(data, function (i, item) {
                                            trHTML += "<tr><td>" + item.ID + "</td><td>" + item.StructureKanji + "</td>" +
                                                "<td>" + item.Usage + "</td>" +
                                                    "<td><a class='btn btn-danger btn-delete-grammar' data-toggle='modal' data-target='#deleteModal'>Xóa</a></td></tr>";
                                        });
                                        $("#grammarTable").append(trHTML);
                                    }else {
                                        alert("Đã Có Lỗi Xảy Ra Khi Thêm Cấu Trúc '" + text + "'");
                                    }

                                }
                            });
                        }else {
                            alert("Không có Cấu Trúc '" + text + "' trong cơ sở dữ liệu");
                        }

                    }else {
                        alert("Bạn Phải Nhập Cấu Trúc");
                    }
                }else if(type == 4) {
                    var text = document.getElementById("question-add").value;
                    if (text != "") {
                        var id = $("#lesson-id").val();
                        if (id != "") {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "AddLessonQuiz",
                                data: {
                                    LessonID: $("#lesson-id").val(),
                                    Question: $("#question-add").val(),
                                    CorrectAnswer: $("#question-correct").val(),
                                    WrongAnswer1: $("#question-wrong1").val(),
                                    WrongAnswer2: $("#question-wrong2").val(),
                                    WrongAnswer3: $("#question-wrong3").val(),
                                    Type: $("#question-type").val(),
                                    Explanation: $('#question-explanation').val(),
                                },
                                success: function(data) {
                                    if(data != "") {
                                        alert("Đã Thêm Câu hỏi vào Bài Học");
                                        $("#quizTable > tbody").html("");
                                        var trHTML = "";
                                        $.each(data, function (i, item) {
                                            trHTML += "<tr><td>" + item.ID + "</td><td>" + item.Question + "</td>" +
                                                "<td>" + item.CorrectAnswer + "</td><td>" + item.WrongAnswer1 + "</td><td>" + item.WrongAnswer2 + "</td><td>" + item.WrongAnswer3 + "</td><td>" + item.Explanation + "</td>" +
                                                    "<td><a class='btn btn-success btn-edit'>Sửa</a>&nbsp;<a class='btn btn-danger' data-toggle='modal' data-target='#deleteModal'>Xóa</a></td></tr>";
                                        });
                                        $("#quizTable").append(trHTML);
                                    }else {
                                        alert("Đã Có Lỗi Xảy Ra Khi Thêm Câu hỏi!");
                                    }

                                }
                            });
                        }else {
                            alert("Xảy ra lỗi!");
                        }

                    }else {
                        alert("Bạn Phải Nhập Câu hỏi");
                    }
                }


            });

            $(document).on("click",'tr',function () {
                parentName = $(this).parent().parent().attr('id');
                tableIndex = $(this).index() +  1;

                if (parentName == "kanjiTable") {
                    id = $(t1.rows[tableIndex].cells[0]).text();
                    name = $(t1.rows[tableIndex].cells[1]).text();
                    $("#modal-lesson-header").text("Xóa Kanji trong bài học");
                    $("#modal-lesson-content").html("Bạn có chắc chắn muốn xóa Kanji '" + name + "' trong bài học '@Html.Raw(ViewBag.LessonName)'?");
                    type = 1;

                } else if (parentName == "wordTable"){
                    id = $(t2.rows[tableIndex].cells[0]).text();
                    name = $(t2.rows[tableIndex].cells[1]).text();
                    $("#modal-lesson-header").text("Xóa từ vựng trong bài học");
                    $("#modal-lesson-content").html("Bạn có chắc chắn muốn xóa từ vựng '" + name + "' trong bài học '@Html.Raw(ViewBag.LessonName)'?");
                    type = 2;

                } else if (parentName == "grammarTable") {
                    id = $(t3.rows[tableIndex].cells[0]).text();
                    name = $(t3.rows[tableIndex].cells[1]).text();
                    $("#modal-lesson-header").text("Xóa ngữ pháp trong bài học");
                    $("#modal-lesson-content").html("Bạn có chắc chắn muốn xóa ngữ pháp '" + name + "' trong bài học '@Html.Raw(ViewBag.LessonName)'?");
                    type = 3;

                }else if (parentName == "quizTable"){
                    id = $(t4.rows[tableIndex].cells[0]).text();
                    name = $(t4.rows[tableIndex].cells[1]).text();
                    $("#modal-lesson-header").text("Xóa câu hỏi ôn tập");
                    $("#modal-lesson-content").html("Bạn có chắc chắn muốn xóa câu hỏi '" + name + "' bài học '@Html.Raw(ViewBag.LessonName)'?");
                    type = 4;

                }


            });

            $("#btn-add-lesson-kanji").on("click", function() {
                $(".lesson-add-content").load("../Admin/AddLessonKanji?lessonID=" + @ViewBag.LessonID, function () {
                    $('#addModal').modal("show");
                    type = 1;
                });
            });

            $("#btn-add-lesson-word").on("click", function() {
                $(".lesson-add-content").load("../Admin/AddLessonWord?lessonID=" + @ViewBag.LessonID, function () {
                    $('#addModal').modal("show");
                    type = 2;
                });
            });

            $("#btn-add-lesson-grammar").on("click", function() {
                $(".lesson-add-content").load("../Admin/AddLessonGrammar?lessonID=" + @ViewBag.LessonID, function () {
                    $('#addModal').modal("show");
                    type = 3;
                });
            });

            $("#btn-add-lesson-quiz").on("click", function() {
                $(".lesson-add-content").load("../Admin/AddLessonQuiz?lessonID=" + @ViewBag.LessonID, function () {
                    $('#addModal').modal("show");
                    type = 4;
                });
            });
            $(document).on("click",".btn-edit", function() {
                var tr = $(this).closest("tr");
                $(".lesson-edit-content").load("../Admin/EditLessonQuiz?lessonID=" + @ViewBag.LessonID, function () {
                    $.post("../AutoComplete/Index",{ "Prefix": tr.children().eq(0).text(), "type": 4},function (data) {
                        $("#edit-id").val(data.ID);
                        $("#edit-add").val(data.Question);
                        $("#edit-correct").val(data.CorrectAnswer);
                        $("#edit-wrong1").val(data.WrongAnswer1);
                        $("#edit-wrong2").val(data.WrongAnswer2);
                        $("#edit-wrong3").val(data.WrongAnswer3);
                        $("#edit-type").val(data.Type);
                        $("#edit-explanation").val(data.Explanation);
                        $('#editModal').modal("show");
                    });
                });
            });
        });

    </script>

</body>
</html>