﻿<style>
    .dic-detail {
        text-align: center;
    }
    .grammar1 {
            font-size: 48px;
        }
        .grammar2 {
            font-size: 24px;
        }
        .grammar3 {
            font-size: 20px;
        }
        .grammar4 {
            font-size: 20px;
        }
        .grammar5 {
            font-size: 18px;
        }
        .grammar6 {
            font-size: 18px;
        }
</style>
<div class="dic-detail">
    <div class="divider-10"></div>
    <div class="col-sm-12 grammar1">@ViewBag.GrammarDetail.StructureKanji</div>
    <div class="col-sm-12 grammar2">@ViewBag.GrammarDetail.StructureKana</div>
    <div class="col-sm-12 grammar3">@ViewBag.GrammarDetail.Meaning</div>
    <div class="col-sm-12 grammar4">@ViewBag.GrammarDetail.Usage</div>
    <div class="col-sm-12 grammar5">@ViewBag.GrammarDetail.Example</div>
    <div class="col-sm-12 grammar6">@ViewBag.GrammarDetail.Notes</div>
    <div class="divider-10"></div>
</div>