﻿<style>
    .dic-detail {
        text-align: center;
    }
    
        .word1 {
            font-size: 48px;
        }
        .word2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .word3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .word4 {
            font-size: 20px;
        }
</style>
<div class="dic-detail">
    <div class="divider-10"></div>
    <div class="col-sm-12 word1">@ViewBag.WordDetail.Word</div>
    <div class="col-sm-12 word2">@ViewBag.WordDetail.Reading</div>
    <div class="col-sm-12 word3">@ViewBag.WordDetail.Type</div>
    <div class="col-sm-12 word4">@ViewBag.WordDetail.Meaning</div>
    <div class="divider-10"></div>
</div>