﻿
@{
    ViewBag.Title = "Japanese In Your Hand | Profile";
    Layout = null;
}
<head>
    <style>
        .time{
            margin-left:20px;
            margin-right:20px;
            text-align: center;
            display:inline-block;
            width:50px;
        }
        body {
            background-image: url("../Content/Resources/Image/bg4.png");
        }

        .register-form {
            width: 60%;
            margin-left: 20%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
        }


        @@media (max-width: 1299px) {
            .register-form {
                width: 80%;
                margin-left: 10%;
            }
        }

        @@media (max-width: 767px) {
            .register-form {
                width: 100%;
                margin-left: 0%;
            }
        }


        //Reusing bootstrap 3 panel CSS
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.panel-primary {
    border-color: #428BCA;
}   

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}   

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:after {
    clear: both;
}   

.panel-body {
    padding: 15px;
}   

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}

//CSS from v3 snipp
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    height:40px;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}


    </style>
</head>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thống kê</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="circle-tile ">
                                    <div href="#"><div class="circle-tile-heading dark-blue"><div style="font-size: 48px">☆</div></div></div>
                                    <div class="circle-tile-content dark-blue">
                                        <div class="circle-tile-description text-faded"> Đã học</div>
                                        <div class="circle-tile-number text-faded ">@ViewBag.LessonLearned.Count</div>
                                        <div class="circle-tile-footer">Bài</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="circle-tile ">
                                    <div href="#"><div class="circle-tile-heading green"><div style="font-size: 48px">漢</div></div></div>
                                    <div class="circle-tile-content green">
                                        <div class="circle-tile-description text-faded"> Kanji</div>
                                        <div class="circle-tile-number text-faded ">@ViewBag.KanjiLearned.Count</div>
                                        <div class="circle-tile-footer">Chữ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="circle-tile ">
                                    <div href="#"><div class="circle-tile-heading red"><div style="font-size: 48px">あ</div></div></div>
                                    <div class="circle-tile-content red">
                                        <div class="circle-tile-description text-faded"> Từ vựng</div>
                                        <div class="circle-tile-number text-faded ">@ViewBag.WordLearned.Count</div>
                                        <div class="circle-tile-footer">Từ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="circle-tile ">
                                    <div href="#"><div class="circle-tile-heading orange"><div style="font-size: 48px">文</div></div></div>
                                    <div class="circle-tile-content orange">
                                        <div class="circle-tile-description text-faded"> Ngữ pháp</div>
                                        <div class="circle-tile-number text-faded ">@ViewBag.GrammarLearned.Count</div>
                                        <div class="circle-tile-footer">Cấu trúc</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="circle-tile ">
                                    <div href="#"><div class="circle-tile-heading blue"><div style="font-size: 48px">⌚</div></div></div>
                                    <div class="circle-tile-content blue">
                                        <div class="circle-tile-description text-faded"> Thời gian học</div>
                                        @{
                                            float time = ViewBag.LearnInfor.TotalTime;
                                            int hour = 0;
                                            int minute = 0;
                                            if (time / 60 < 1)
                                            {
                                                hour = 0;
                                                minute = ViewBag.LearnInfor.TotalTime;
                                            }
                                            else
                                            {
                                                minute = (ViewBag.LearnInfor.TotalTime % 60);
                                                hour = (ViewBag.LearnInfor.TotalTime -minute)/60;

                                            }
                                        }
                                        <div class="circle-tile-number text-faded">
                                           <div class="time">@hour</div><div class="time">@minute</div>     
                                        </div>
                                        <div class="circle-tile-footer text-center"><div class="time">Giờ</div><div class="time">Phút</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thông tin người dùng</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                     alt="User Pic">
                            </div>
                            <div class="col-sm-12">
                                <strong><input name="Name" type="text" class="form-control validate" value="@ViewBag.UserInfo.FullName"/></strong><br>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Trình độ:</td>
                                            <td>@if (ViewBag.UserInfo.Level == null || ViewBag.UserInfo.Level == 6) {
                                                <span>Mới học</span>
                                            } else {
                                                <span>N<span>@ViewBag.UserInfo.Level</span></span>
                                            } 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td id="account">@ViewBag.UserInfo.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td><input name="Phone" type="text" class="form-control validate" value="@ViewBag.UserInfo.Phone"/><p class="text-danger"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td><input name="Address" type="text" class="form-control validate" value="@ViewBag.UserInfo.Address"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="demo" class="collapse">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Mật khẩu cũ</td>
                                                <td><input name="OldPass" type="password" class="form-control validate"/><p class="text-danger"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Mật khẩu mới</td>
                                                <td><input name="NewPass" type="password" class="form-control validate" /><p class="text-danger"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Nhập lại Mật khẩu</td>
                                                <td><input name="RePass" type="password" class="form-control validate" /><p class="text-danger"></p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <button class="btn  btn-primary" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Đổi mật khẩu" id="rePss">
                                    Đổi mật khẩu
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-12 pull-right">
                                <button class="btn btn-warning save-info" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Lưu thông tin cá nhân">
                                    Lưu thông tin cá nhân
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Kĩ năng của bạn</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                Kanji
                            </div>
                                <div class="col-xs-2">
                                    Đúng
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="progress">
                                        @{
                                            float correct = ViewBag.LearnInfor.CorrectKanji;
                                            float wrong = ViewBag.LearnInfor.WrongKanji;
                                            float total = correct + wrong;
                                            int correctpercent = 0;
                                            int wrongpercent = 0;
                                            if (total == 0)
                                            {
                                                correctpercent = 0;
                                                wrongpercent = 0;
                                            }
                                            else
                                            {
                                                correctpercent = Convert.ToInt32(((correct / total) * 100));
                                                wrongpercent = Convert.ToInt32(((wrong / total) * 100));
                                            }
                                        }
                                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width:@correctpercent%">
                                            @ViewBag.LearnInfor.CorrectKanji
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@wrongpercent%">
                                            @ViewBag.LearnInfor.WrongKanji
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    Sai
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                Từ vựng
                            </div>
                            <div class="col-xs-2">
                                Đúng
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="progress">
                                    @{
                                        correct = ViewBag.LearnInfor.CorrectWord;
                                        wrong = ViewBag.LearnInfor.WrongWord;
                                        total = correct + wrong;
                                        if (total == 0)
                                        {
                                            correctpercent = 0;
                                            wrongpercent = 0;
                                        }
                                        else
                                        {
                                            correctpercent = Convert.ToInt32(((correct / total) * 100));
                                            wrongpercent = Convert.ToInt32(((wrong / total) * 100));
                                        }
                                    }
                                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:@correctpercent%">
                                        @ViewBag.LearnInfor.CorrectWord
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@wrongpercent%">
                                        @ViewBag.LearnInfor.WrongWord
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 text-center">
                                Sai
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                Ngữ pháp
                            </div>
                            <div class="col-xs-2">
                                Đúng
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="progress">
                                    @{
                                        correct = ViewBag.LearnInfor.CorrectGrammar;
                                        wrong = ViewBag.LearnInfor.WrongGrammar;
                                        total = correct + wrong;
                                        if (total == 0)
                                        {
                                            correctpercent = 0;
                                            wrongpercent = 0;
                                        }
                                        else
                                        {
                                            correctpercent = Convert.ToInt32(((correct / total) * 100));
                                            wrongpercent = Convert.ToInt32(((wrong / total) * 100));
                                        }
                                    }
                                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:@correctpercent%">
                                        @ViewBag.LearnInfor.CorrectGrammar
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@wrongpercent%">
                                        @ViewBag.LearnInfor.WrongGrammar
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 text-center">
                                Sai
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                Đọc hiểu
                            </div>
                                <div class="col-xs-2">
                                    Đúng
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="progress">
                                        @{
                                            correct = ViewBag.LearnInfor.CorrectReading;
                                            wrong = ViewBag.LearnInfor.WrongReading;
                                            total = correct + wrong;
                                            if (total == 0)
                                            {
                                                correctpercent = 0;
                                                wrongpercent = 0;
                                            }
                                            else
                                            {
                                                correctpercent = Convert.ToInt32(((correct / total) * 100));
                                                wrongpercent = Convert.ToInt32(((wrong / total) * 100));
                                            }
                                        }
                                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width:@correctpercent%">
                                            @ViewBag.LearnInfor.CorrectReading
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@wrongpercent%">
                                            @ViewBag.LearnInfor.WrongReading
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    Sai
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                Nghe hiểu
                            </div>
                            <div class="col-xs-2">
                                Đúng
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="progress">
                                    @{
                                        correct = ViewBag.LearnInfor.CorrectListening;
                                        wrong = ViewBag.LearnInfor.WrongListening;
                                        total = correct + wrong;
                                        if (total == 0)
                                        {
                                            correctpercent = 0;
                                            wrongpercent = 0;
                                        }
                                        else
                                        {
                                            correctpercent = Convert.ToInt32(((correct / total) * 100));
                                            wrongpercent = Convert.ToInt32(((wrong / total) * 100));
                                        }
                                    }
                                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:@correctpercent%">
                                        @ViewBag.LearnInfor.CorrectListening
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@wrongpercent%">
                                        @ViewBag.LearnInfor.WrongListening
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 text-center">
                                Sai
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>