﻿
@{
    ViewBag.Title = "Japanese In Your Hand | Register";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <style>
        body {
            background-image: url("../Content/Resources/Image/bg4.png");
        }

        .register-form {
            width: 60%;
            margin-left: 20%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
        }

        .lbl {
            padding-top: 8px;
            display: inline;
        }
        
        .req {
            display: inline;
            color: #FF0000;
        }

        .register-title {
            text-align: center;
        }

        .register-btn {
            text-align: center;
        }

        .social-login {
            text-align: center;
        }

        .or-social-login {
        }

        .form-group {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        
        @@media (max-width: 1299px) {
            .register-form {
                width: 80%;
                margin-left: 10%;
            }
        }

        @@media (max-width: 767px) {
            .register-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
</head>
<body>
        <div class="container">
            <div class="register-form">
                <div class="register-title">
                    <h2>ĐĂNG KÝ</h2>
                </div>
                <div class="local-register">
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Họ và tên</p><p class="req">*</p>
                        </div>
                        <div class="col-md-7">
                            <input name="FullName" type="text" class="form-control validate" maxlength="100" placeholder="Họ và tên" />
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Email</p><p class="req">*</p>
                        </div>
                        <div class="col-md-7">
                            <input name="Email" type="email" class="form-control validate" maxlength="254" placeholder="Email"/>
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Số điện thoại</p>
                        </div>
                        <div class="col-md-7">
                            <input name="Phone" type="text" class="form-control validate" maxlength="15" min="9" placeholder="Số điện thoại" />
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Trình độ tiếng Nhật</p>
                        </div>
                        <div class="col-md-7">
                            <select name="Level" class="form-control">
                                <!--<option value="6" selected disabled hidden>Trình độ tiếng Nhật</option> @*cái này chưa check để mặc định là 6*@-->
                                <option value="6">Bắt đầu học</option>
                                <option value="5">N5</option>
                                <option value="4">N4</option>
                                <option value="3">N3</option>
                                <option value="2">N2</option>
                                <option value="1">N1</option>
                            </select>
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Mật khẩu</p><p class="req">*</p>
                        </div>
                        <div class="col-md-7">
                            <input name="Password" type="password" class="form-control validate" placeholder="Mật khẩu"/>
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <p class="lbl">Nhập lại mật khẩu</p><p class="req">*</p>
                        </div>
                        <div class="col-md-7">
                            <input name="RePassword" type="password" class="form-control validate" placeholder="Nhập lại mật khẩu"/>
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="register-btn">
                            <input type="button" value="Đăng ký" class="btn btn-default" id="register-btn"/>
                        </div>
                    </div>
                </div>
                <div class="divider-10"></div>
                <br />
                <div class="social-login">
                    <div class="fb-login-JYH">
                        <!--<div class="fb-login-button" scope="public_profile,email" data-width="300" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
                        <a class="btn fb-login-button btn-facebook loginBtn loginBtn--facebook" href="/Account/LoginFacebook">
                            <i class="fa fa-facebook"></i>
                            Đăng nhập bằng Facebook
                        </a>
                    </div>
                    <div class="google-login-JYH">
                        <button id="GoogleLogin" class="customGPlusSignIn loginBtn loginBtn--google" type="button" onclick="login()">
                            <span class="icon"></span>
                            <span class="buttonText">Đăng nhập bằng Google+</span>
                        </button>
                    </div>
                </div>
                <div class="divider-10"></div>
            </div>
        </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            var callbacks = $.Callbacks();
            $('.validate').on('focus', function () {
                if ($(this).val() == "") {
                    $(this).next().text("");
                }
            });



            $('.validate').on('input paste blur', function () {
                var name = $(this).attr("name");
                var data = $(this).val();
                var validate = $(this).next();
                if (data != "") {
                    if (name == "Email") {
                        var pattern = /^(([^<>()\[\]\.,;:\s@@\"]+(\.[^<>()\[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i;
                        if (!pattern.test(data)) {
                            validate.text("Email không hợp lệ");
                        } else {
                            $.post("../Account/CheckExist", { "Attr": name, "Value": data }, function (data) {
                                validate.text(data);
                            });
                        }
                    }
                    if (name == "Phone") {
                        var pattern = new RegExp(/^[0-9]{8,15}$/i);
                        if (!pattern.test(data)) {
                            validate.text("Số điện thoại không hợp lệ");
                        } else {
                            $.post("../Account/CheckExist", { "Attr": name, "Value": data }, function (data) {
                                validate.text(data);
                            });
                        }
                    }
                    if (name == "Password") {
                        var pattern1 = new RegExp(/^.{8,}$/g);
                        var pattern2 = new RegExp(/^(?=.*[A-Z])/g);
                        var pattern3 = new RegExp(/^(?=.*\d)/g);
                        if (!pattern1.test(data)) {
                            validate.text("Mật khẩu phải có độ dài 8 ký tự trở lên");
                        } else if (!pattern3.test(data)) {
                            validate.text("Mật khẩu phải có 1 ký tự số");
                        } else if (!pattern2.test(data)) {
                            validate.text("Mật khẩu phải có 1 ký tự chữ in hoa");
                        } else {
                            validate.text("");
                        }
                    }
                    if (name == "RePassword") {
                        if (data != $("input[name=Password]").val()) {
                            validate.text("Mật khẩu không khớp");
                        } else {
                            validate.text("");
                        }
                    }
                } else {
                    validate.text("");
                }
            });

            $(".validate").keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#register-btn").click();
                }
            });


            $("#register-btn").on("click", function () {
                var count = 0;
                var callbacks = $.Callbacks();
                callbacks.add(function () {
                    $(".validate").each(function () {
                        var data = $(this).val();
                        var label = $(this).parent().prev().text().replace("*", "") + " không được bỏ trống";
                        if ($(this).attr("name") == "Phone") {
                            label = "";
                        }

                        if (data == "") {
                            $(this).next().text(label);
                        }
                        
                    });
                });
                callbacks.add(function () {
                    $(".text-danger").each(function () {
                        var data = $(this).text();
                        if (data != "") {
                            count--;
                        } else {
                            count++;
                        }
                    });
                });
                callbacks.add(function () {
                    if (count == 6) {
                        count++;
                        var form = $('#__AjaxAntiForgeryForm');
                        var token = $('input[name="__RequestVerificationToken"]', form).val();
                        $.post("../Account/Register", {
                            "__RequestVerificationToken": token,
                            "FullName": $("input[name=FullName]").val(),
                            "Email": $("input[name=Email]").val(),
                            "Phone": $("input[name=Phone]").val(),
                            "Level": $("select[name=Level]").val(),
                            "Password": $("input[name=RePassword]").val()
                        }, function () { // sau khi tạo tài khoản thành công thì tự động đăng nhập
                            $.post("../Account/Login", {
                                "__RequestVerificationToken": token,
                                "Account": $("input[name=Email]").val(),
                                "Password": $("input[name=Password]").val(),
                                "Expires": "false"
                            }, function (data) {
                                window.location = "../../" // đăng nhập thành công quay về trang home
                            })
                        });
                    }
                });
                callbacks.fire();
            });

        $(".dictionary-search-jp").addClass("disable");
        $(".navbar-fixed-top").addClass("scrolled menu-shrink");
    });
    </script>
</body>

