﻿
@{
    ViewBag.Title = "Japanese In Your Hand | Add Lesson Kanji";
    Layout = null;
}
<head>
    <style>
       .add-info {
            color: black;
        }
       li {
            color: black;
        }
    </style>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm câu hỏi kiểm tra cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="add-info">ID bài học:</td>
                                <td><input type="text" value="@ViewBag.Lesson.ID" disabled /></td>
                            </tr>
                            <tr>
                                <td class="add-info">Câu hỏi:</td>
                                <td><input name="quession" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời đúng:</td>
                                <td><input name="correct" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 1:</td>
                                <td><input name="wrong1" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 2:</td>
                                <td><input name="wrong2" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 3:</td>
                                <td><input name="wrong3" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info"> Loại Câu Hỏi:</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Chọn loại câu hỏi<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a>Kanji</a></li>
                                            <li><a>Từ vựng</a></li>
                                            <li><a>Ngữ pháp</a></li>
                                            <li><a>Đọc hiểu</a></li>
                                            <li><a>Nghe hiểu</a></li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <td class="add-info">Giải thích:</td>
                                <td><input id="grammar-auto" type="text" class="form-control" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
