﻿@{
    ViewBag.Title = "Chỉnh sửa thông tin khóa học";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .form-group {
            text-align: left;
        }

        .lbl {
            padding-top: 8px;
            display: inline;
            color: #FFFFFF;
        }

        .req {
            display: inline;
            color: #FF0000;
        }


        .admin-content {
            color: #FFFFFF;
            text-align: left;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 767px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse" class="admin-curlink">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Chỉnh sửa thông tin khóa học</h2>
            </div>
            <div class="addcourse-form">
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Tên khóa học</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="Name" type="text" class="form-control validate" maxlength="255" placeholder="Tên khóa học" value="@ViewBag.CourseDetail.Name" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Trình độ</p>
                    </div>
                    <div class="col-md-7">
                        <select name="Level" class="form-control">
                            <!--<option value="6" selected disabled hidden>Trình độ tiếng Nhật</option> @*cái này chưa check để mặc định là 6*@-->
                            @if (ViewBag.CourseDetail.Level == 5)
                            {
                                <option value="5" selected>N5</option>
                            }
                            else
                            {
                                <option value="5">N5</option>
                            }
                            @if (ViewBag.CourseDetail.Level == 4)
                            {
                                <option value="4" selected>N4</option>
                            }
                            else
                            {
                                <option value="4">N4</option>
                            }
                            @if (ViewBag.CourseDetail.Level == 3)
                            {
                                <option value="3" selected>N3</option>
                            }
                            else
                            {
                                <option value="3">N3</option>
                            }
                            @if (ViewBag.CourseDetail.Level == 2)
                            {
                                <option value="2" selected>N2</option>
                            }
                            else
                            {
                                <option value="2">N2</option>
                            }
                            @if (ViewBag.CourseDetail.Level == 1)
                            {
                                <option value="1" selected>N1</option>
                            }
                            else
                            {
                                <option value="1">N1</option>
                            }
                        </select>
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-3">
                        <p class="lbl">Mô tả</p><p class="req">*</p>
                    </div>
                    <div class="col-md-7">
                        <input name="Description" type="text" class="form-control validate" maxlength="500" placeholder="Mô tả" value="@ViewBag.CourseDetail.Description" />
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div>
                    <input type="button" value="Cập nhật" class="btn btn-default edit-btn" />
                </div>
                <div class="divider-10"></div>
            </div>
        </div>


        @Html.AntiForgeryToken()
        }


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/Content/assets/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                var id = @ViewBag.CourseDetail.ID;
                var callbacks = $.Callbacks();
                $('.validate').on('focus', function () {
                    if ($(this).val() == "") {
                        $(this).next().text("");
                    }
                });


                $(".edit-btn").on("click", function () {
                    var count = 0;
                    var callbacks = $.Callbacks();
                    callbacks.add(function () {
                        $(".validate").each(function () {
                            var data = $(this).val();
                            var label = $(this).parent().prev().text().replace("*", "") + " không được bỏ trống";
                            /*if ($(this).attr("name") == "Description") {
                                label = "";
                            }*/
                            if (data == "") {
                                $(this).next().text(label);
                            }
                        });
                    });
                    callbacks.add(function () {
                        $(".text-danger").each(function () {
                            var data = $(this).text();
                            if (data != "") {
                                count--;
                            } else {
                                count++;
                            }
                        });
                    });
                    callbacks.add(function () {
                        if (count == 3) {
                            count++;
                            var form = $('#__AjaxAntiForgeryForm');
                            var token = $('input[name="__RequestVerificationToken"]', form).val();
                            $.post("../Admin/UpdateCourse", {
                                "__RequestVerificationToken": token,
                                "ID": id,
                                "Name": $("input[name=Name]").val(),
                                "Description": $("input[name=Description]").val(),
                                "Level": $("select[name=Level]").val()
                            }, function () {
                                window.location = "../Admin/ManageCourse"
                            });
                        }
                    });
                    callbacks.fire();
                });
            });
        </script>
</body>
</html>