﻿@{
    ViewBag.Title = "Trang quản lý";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }
        .admin-form {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }
        h2 {
            color: #FFFFFF;
        }
        a {
            color: rgb(150,200,250);
        }

        @@media (max-width: 767px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
        </div>
    </div>
</body>
</html>