﻿@{
    ViewBag.Title = "Quản lý khóa học";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .admin-content {
            color: #FFFFFF;
            text-align: left;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 1299px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
    
</head>
<body>
    <div class="container-fluid">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary">Quản lý từ điển</a> | <a href="/Admin/ManageCourse" class="admin-curlink">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Quản lý khóa học</h2>
            </div>
            <div class="admin-content">
                <div style="text-align: center;">
                    <a class="btn btn-success" href="/Admin/AddCourse">Thêm khóa học</a>
                </div>
                <div class="divider-10"></div>
                <table class="table table-bordered" id="courseTable">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="20%">Tên khóa học</th>
                            <th width="7%">Trình độ</th>
                            <th width="35%">Mô tả</th>
                            <th width="8%">Số bài học</th>
                            <th width="25%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.CourseList.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.CourseList[i].ID</td>
                                <td>@ViewBag.CourseList[i].Name</td>
                                <td>N<span>@ViewBag.CourseList[i].Level</span></td>
                                <td>@ViewBag.CourseList[i].Description</td>
                                <td>@ViewBag.CourseList[i].Lessons.Count</td>
                                <td><button type="button" class="btn btn-default btn-lesson">Bài học</button>&nbsp;<a class="btn btn-success btn-edit">Sửa</a>&nbsp;<a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Xóa khóa học</h4>
                            </div>
                            <div class="modal-body">
                                <p style="color:black">Bạn có chắc chắn muốn xóa khóa học này?<br />ID: <span id="deleteCourseID"></span><br />Tên: <span id="deleteCourseName"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-delete" class="btn btn-default" data-dismiss="modal">Có</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
        $(document).ready(function (){
            var id = -1;
            var name = "";
            var t = document.getElementById('courseTable');
            var tableIndex = 0;
            $("#btn-delete").on("click", function () {
                $.post("../Admin/DeleteCourse", {
                    "id": id
                }, function (data) {
                    t.deleteRow(tableIndex);
                    
                });
            });

            $('td').click(function () {
                tableIndex = $(this).parent().index() +  1;
                //var val1 = $(t.rows[row_index + 1].cells[0]).text();
                id = $(t.rows[tableIndex].cells[0]).text();
                name = $(t.rows[tableIndex].cells[1]).text();
                $("#deleteCourseID").text(id);
                $("#deleteCourseName").text(name);
            });

            $(".btn-edit").on("click", function () {
                tableIndex = $(this).parent().parent().index() + 1;
                id = $(t.rows[tableIndex].cells[0]).text();
                $.redirect('../Admin/EditCourse', { "courseID": id });
            });

            $(".btn-lesson").on("click", function () {
                tableIndex = $(this).parent().parent().index() + 1;
                id = $(t.rows[tableIndex].cells[0]).text();
                $.redirect('../Admin/ManageLesson', { "courseID": id });
            });

        });

        
    </script>

</body>
</html>