﻿﻿@{
    ViewBag.Title = "Quản lý từ điển";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg1.png");
        }

        .admin-form {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 25px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
        }

        h3 {
            color: #FFFFFF;
        }

        .admin-content {
            color: #FFFFFF;
        }

        .select-type {
            width: 50%;
            margin-left: 25%;
        }

        .select-file {
            text-align: center;
        }

        a {
            color: rgb(150,200,250);
        }

        .admin-curlink {
            color: rgb(150,250,150);
        }

        @@media (max-width: 767px) {
            .admin-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="admin-form">
            <div class="admin-title">
                <h2>Trang quản lý Japanese in Your Hand</h2>
            </div>
            <div class="admin-link">
                <a href="/Admin/ManageDictionary" class="admin-curlink">Quản lý từ điển</a> | <a href="/Admin/ManageCourse">Quản lý khóa học và bài học</a> | <a href="/Admin/ManageRoles">Phân quyền</a>
            </div>
            <div class="divider-10"></div>
            <div class="admin-title">
                <h2>Quản lý từ điển</h2>
            </div>
            <div class="admin-content">
                @using (Html.BeginForm("Import", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div class="admin-title">
                        <h3>Nhập dữ liệu</h3>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2">
                                    <select name="type">
                                        <option value="1" selected>Từ vựng</option>
                                        <option value="2">Kanji</option>
                                        <option value="3">Ngữ pháp</option>
                                    </select>
                                </div>

                                <div class="col-md-9">
                                    <input type="file" id="FileUpload" name="fileUpload" class="" />
                                </div>
                                <div class="col-md-offset-3 col-md-9" style="text-align: left;">
                                    <input type="submit" value="Import" id="btnSubmit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("Export", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div class="admin-title">
                        <h3>Xuất dữ liệu</h3>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2">
                                    <select name="type">
                                        <option value="1" selected>Từ vựng</option>
                                        <option value="2">Kanji</option>
                                        <option value="3">Ngữ pháp</option>
                                    </select>
                                </div>

                                <div class="col-md-9" style="text-align: left;">
                                    <input type="submit" value="Export" id="btnSubmit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
