<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<link rel="stylesheet" href="/apps/minify/g=styles&20140816014416">
	<meta charset="utf-8">
	<title>Parallelus</title>
	<meta name="description" content="Dedicated to making the web better through great design, useful applications and strong communities.">
	<meta name="author" content="Parallelus">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<script src="/apps/minify/g=modernizr&20170509045002"></script>
</head>
<body>

	<div id="ContentOverlay"></div>

	<div id="Home"></div>
	<div id="Wrapper">

		<nav id="MainMenu">
			<div class="sectionWrap">
				<ul id="Nav">
					<li><a href="#Home">Home</a></li>
					<li><a href="#Our_Work">Work</a></li>
					<li><a href="#Our_Sites">Sites</a></li>
					<li><a href="#News_and_Updates">News</a></li>
					<li><a href="#Contact">Contact</a></li>
				</ul>
			</div>
		</nav>

		<header id="Header" class="contentSection">
			<div class="sectionWrap clearfix">
				<h1 id="Logo" class="ir" title="Parallelus">Parallelus</h1>
				<h2 id="Intro" class="shadow">We're dedicated to making the web better through great design, useful applications and strong communities.</h2>
			</div>
		</header>

		<div id="ContentArea" role="content">

			<!-- Themes and Templates -->
			<section class="contentSection lighter scroller" id="Our_Work">
				<div class="layer-1-bg">
					<div class="layer-2-bg">
						<div class="layer-3-bg">
							<div class="layer-4-bg">


								<div class="shadowTop"></div>
								<div class="sectionWrap clearfix">

									<h1 class="sectionTitle">Our Work</h1>

									<article class="placard col-2-3">
										<figure style="background-image: url(http://images-para.llel.us/envato/tf-header.jpg);" class="preview i-float" title="ThemeForest Portfolio"></figure>
										<div class="i-float">
											<header>
												 <h2>ThemeForest</h2>
											</header>
											<section class="article-content">
												<div class="description">
													<p>Since 2010 we've been a top seller of WordPress themes and HTML templates on the Envato Market and ThemeForest. We are a trusted provider of premium products with over 30,000 sales and a record of producing original designs and outstanding support.</p>
													<p>We found the greatest success by forming long-term relationships with our customers and focusing on quality over quantity. Check out our portfolio on ThemeForest to see our work.</p>
												</div>
												<div class="item-row">
													<a href="http://themeforest.net/user/Parallelus?ref=parallelus" class="btn small">View Our Portfolio</a>
												</div>
											</section><!--/ .article-content -->
										</div>
									</article>

									<article class="placard col-1-3 last"><!-- this one's empty :) --> </article>

								</div>
								<!--<div class="shadowBottom"></div>-->


							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- Our Sites -->
			<section class="contentSection scroller blue" id="Our_Sites">
				<div class="layer-1-bg">
					<div class="layer-2-bg">

						<div class="shadowTop"></div>
						<div class="sectionWrap clearfix">

							<h1 class="sectionTitle">Our Sites</h1>

							<div class="col-1-3">&nbsp;</div>

							<div class="col-2-3 last">

								<article class="placard col-2-3 last">
									<div class="i-float">
										<header>
											 <h2>UpThemes</h2>
										</header>
										<section class="article-content">
											<p>
												<img src="http://images-para.llel.us/logos/upthemes-600x175.png" width="600" height="175" alt="UpThemes Logo" style="display: block; margin: 0 auto;">
											</p>
											<div class="description">
												<p>Beautiful, responsive, fast and easy-to-use WordPress themes. A model of best practices in the WordPress community offering the highest quality <a href="//upthemes.com/">themes</a> and <a href="//upthemes.com/hosting/">managed hosting</a> for WordPress. If you're looking for a new design or launching a website, UpThemes has what you need.</p>
											</div>
											<div class="item-row">
											<a href="//upthemes.com/" title="Go to the UpThemes website." class="btn small">Check out UpThemes</a>
											</div>
										</section><!--/ .article-content -->
									</div>
								</article>

								<article class="placard col-2-3 last">
									<div class="i-float">
										<header>
											 <h2>Runway Framework for WordPress</h2>
										</header>
										<section class="article-content">
											<p>
												<img src="//runwaywp.com/assets/images/runway-symbol.png" width="450" height="288" alt="Runway Symbol" style="position: relative; left: -18px; display: block; margin: 0 auto;">
											</p>
											<div class="description">
												<p>One of the most powerful and original concepts in WordPress frameworks, Runway turns your admin into a theme development environment. Build themes in an easy to use, drag-and-drop admin interface. Start with a child theme and when you're finished, simply export the completed product as a standalone WordPress theme, entirely self-contained and separated from the Runway framework!</p>
											</div>
											<div class="item-row">
											<a href="//runwaywp.com/" title="Go to the Runway website." class="btn small">Check out Runway</a>
											</div>
										</section><!--/ .article-content -->
									</div>
								</article>


								<article>
									<header>
										 <h2 style="margin-top: 0;">We have more great things on the way so stay posted...</h2>
									</header>
									<section class="article-content">
										<p>Get notifications of updates by signing up for our email alerts in the <a href="#News_and_Updates">News and Updates</a> section below or by following us on <a href="http://twitter.com/parallelus">Twitter</a>.</p>
									</section><!--/ .article-content -->

								</article>

							</div>

						</div>
						<!--<div class="shadowBottom"></div>-->

					</div>
				</div>
			</section>


			<!-- Updates -->
			<section class="contentSection scroller orange" id="News_and_Updates">
				<div class="layer-1-bg">
					<div class="layer-2-bg">
						<div class="layer-3-bg">
							<div class="layer-4-bg">
								<div class="layer-5-bg">

									<div class="shadowTop"></div>
									<div class="sectionWrap clearfix">

										<h1 class="sectionTitle">News and Updates</h1>

										<article style="margin: 150px 0 300px;">
											<header>
												 <h2 style="margin-top:0;">Would you like to know about new releases, product updates and more?</h2>
											</header>
											<section class="article-content">
												<div class="webFormWrapper" style="position:relative;">
													<div class="formMessages-top" style="position:absolute;">
														<div class="formSuccess" style="display:none;">
															<h1 style="margin: 5px 0; font-size: 24px; font-weight: bold;">Thank you!</h1>
														</div>
													</div>
													<form class="webForm" id="MailingList" method="post" action="/emailer/subscribe/" onSubmit="return false;">
														<fieldset>
															<legend>Mailing List</legend>
															<div class="fieldContainer field_type_text">
																<label for="first_name" class="formTitle overlabel">First Name *</label>
																<input type="text" id="first_name" name="first_name" class="formField textInput required">
															</div>
															<div class="fieldContainer field_type_text">
																<label for="last_name" class="formTitle overlabel">Last Name *</label>
																<input type="text" id="last_name" name="last_name" class="formField textInput required">
															</div>
															<div class="clearfix"></div>
															<div class="fieldContainer field_type_text">
																<label for="address" class="formTitle overlabel">Email *</label>
																<input type="text" id="address" name="address" class="formField textInput required email">
															</div>
															<div class="contactFormBottom">
																<button type="submit" class="btn formSubmit">Update Me</button>
																<span class="sending invisible"><img src="http://images-para.llel.us/ajax-loader.gif" width="43" height="11" alt="Loading..." class="sendingImg"></span>
																<input type="hidden" name="mail_action" value="register">
															</div>
														</fieldset>
														<div class="mm-form-hp">
															<label for="mm_hp">
																<input id="mm_hp" name="mm_hp" class="mm-field-hp" type="text" value="">
															</label>
														</div>
													</form>

													<div class="formMessages-bottom">
														<div class="formError" style="display:none;"></div>
													</div>
												</div>

												<br>

												<h3>You could be our digital stalker, just follow us around.</h3>
												<p>Keep up with or latest and greatest happenings by following us on your favorite social channel.</p>
												<p>
													<a href="http://twitter.com/parallelus" title="Twitter" class="btn64 twitterIcon ir">Twitter</a>
													<a href="https://www.facebook.com/pages/Parallelus/197911100259679" title="Facebook" class="btn64 facebookIcon ir">Facebook</a>
													<a href="https://plus.google.com/106678036607447578802/posts" title="Google+" class="btn64 googleIcon ir">Google+</a>
												</p>
											</section><!--/ .article-content -->
										</article>

									</div>
									<!--<div class="shadowBottom"></div>-->

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- Contact -->
			<section class="contentSection scroller purple" id="Contact" style="border-bottom:0;">
				<div class="layer-1-bg">
					<div class="layer-2-bg">
						<div class="layer-3-bg">
							<div class="layer-4-bg">

								<div class="shadowTop"></div>
								<div class="sectionWrap clearfix">

									<h1 class="sectionTitle">Contact Us</h1>

									<div class="col-1-2">&nbsp;</div>

									<div class="col-1-2 last">

										<article>
											<header>
												 <h2 style="margin-top:0;">Just a few ideas of things you might want to tell us:</h2>
											</header>
											<section class="article-content">
												<ol style="" class="bigList">
													<li>Your Grandma's secret recipe.</li>
													<li>How awesome our products are.</li>
													<li>Your questions and comments, I guess.</li>
												</ol>



												<div class="contactFormWrapper" style="position:relative;">
													<div class="formMessages-top" style="position:absolute;">
														<div class="formSuccess" style="display:none; text-align: center;">
															<img src="http://images-para.llel.us/good_job.png" width="133" height="250" alt="Thumbs Up!">
															<h2>Message delivery procedure executed.</h2>
															<p>That's computer for "<strong>Thank you, the message was sent.</strong>"</p>
														</div>
													</div>
													<form class="publicContactForm webForm" id="ContactForm" method="post" action="">
														<fieldset>
															<legend>Contact Form</legend>
															<div class="fieldContainer field_type_text">
																<label for="name" class="formTitle overlabel" >Name</label>
																<input type="text" id="name" name="name" class="formField textInput required">
															</div>
															<div class="fieldContainer field_type_text">
																<label for="email" class="formTitle overlabel">Email</label>
																<input type="text" id="email" name="email" class="formField textInput required email">
															</div>
															<div class="fieldContainer field_type_textarea">
																<label for="message" class="formTitle overlabel">Message</label>
																<textarea id="message" name="message" class="formField textInput required"></textarea>
															</div>
															<div class="fieldContainer field_type_captcha">
																<div class="captchaWrap" id="image_captcha" style="background: url(/assets/images/captcha.php) no-repeat 0 0; width: 180px; height: 55px;" title="Verification Image"></div>
																<div class="clearfix clear">
																	<div style="float: left; margin: 0 15px 0 0;">
																		<label for="captcha" class="formTitle overlabel captchaLabel">Image Verification</label>
																		<input type="text" id="captcha" name="captcha" class="required textInput" style="width: 170px;" minlength="4">
																	</div>
																	<div style="float: left;">
																		<div class="formCaption">
																			<a href="#" onClick="jQuery('#image_captcha').css('background-image','url(/assets/images/captcha.php?_'+Math.random()+')'); return false;" id="refresh_img_captcha">Refresh image?</a>
																		</div>
																	</div>
																</div>
															</div>
															<div class="contactFormBottom">
																<button type="submit" class="btn formSubmit">Send Message</button>
																<span class="sending invisible"><img src="http://images-para.llel.us/ajax-loader.gif" width="43" height="11" alt="Loading..." class="sendingImg"></span>
																<input type="hidden" name="mail_action" value="send">
															</div>
														</fieldset>
													</form>
													<div class="formMessages-bottom">
														<div class="formError" style="display:none;"></div>
													</div>
												</div>

											</section> <!--/ .article-content -->
										</article>

									</div>

									<div class="clear"><br></div>

									<div class="callout">
										<div class="icon-TF"></div>
										<h3 style="border: 0; float: left; margin: 0 15px 0 0; line-height: 45px;">Looking for Theme Support?</h3>
										<p  style="line-height: 50px; margin: 0;"><strong>If you need support for a ThemeForest item, please visit our <a href="/support/">Help Center</a>.</strong></p>
									</div>

								</div> <!--/ .sectionWrap -->
								<div class="shadowBottom"></div>

							</div>
						</div>
					</div>
				</div>
			</section>


		</div>
		<footer id="Footer">


			<!-- Footer -->
			<section class="contentSection">
				<!--<div class="shadowTop"></div>-->
				<div class="sectionWrap clearfix">

					<div><span>Copyright &copy; 2010-2017 - Parallelus, Inc. <a style="visibility:hidden;" href="https://plus.google.com/106678036607447578802" rel="publisher">Google+</a></span></div>

				</div>
				<!--<div class="shadowBottom"></div>-->
			</section>


		</footer>
	</div> <!--! end of #ContentArea -->

	<!-- JavaScript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='assets/js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>
	<script src="/apps/minify/g=scripts&20170509045002"></script>
	
	</body>
</html>
