﻿@{
    ViewBag.Title = "Chuyển đổi tên của bạn sang tiếng Nhật";
}

@model List<string>

<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/ResponsiveVoice.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg2.png");
        }
        .convert-form {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
            text-align: center;
        }
        .convert-inp {
            width: 70%;
            margin-left: 15%;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .convert-but {
            padding-bottom: 10px;
        }
        .res1 {
            padding-top: 10px;
            color: #283C50;
        }
        .res2 {
            color: #283C50;
            font-size: 36px;
            display: inline-block;
            border-radius: 5px;
            padding-top: 5px;
            cursor: pointer;
        }
        .res3 {
            padding-top: 5px;
            padding-bottom: 10px;
        }
        .res4 {
            color: #777777;
        }
        .res5 {
            color: #777777;
        }
        .res6 {
            padding-top: 10px;
            color: #283C50;
        }
        .res7 {
            color: #777777;
        }

        .jp-button-name {
            display: inline-block;
            margin-left: 2px; 
            margin-right: 2px; 
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: rgba(210,190,230,0.9);
            border: 2px solid rgb(170,150,190);
            min-width: 5%;
        }

        .jp-name-text {
            margin: auto;
            background-color: rgb(230,210,250);
            border-top: 2px solid rgb(170,150,190);
            border-bottom: 2px solid rgb(170,150,190);
            text-align: center;
            font-size: 30px;
        }

        .res-cl {
            border-radius: 5px;
            border: 2px solid #887799;
            background-color: #EEE7F5;
            padding-left: 20px;
            padding-right: 20px;
            transition: all 0.1s ease-in-out;
        }

        .res-cl:hover {
            transform: scale(1.2);
            background-color: #C9AFE0;
        }

        .jp-name-romaji {
            color: rgb(120,100,140);
            text-align: center;
            line-height: 1;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .jp-name-viet {
            color: rgb(140,120,160);
            text-align: center;
            font-size: 18px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        

        .jp-button {
            display: inline-block;
            border-radius: 5px;
            padding-left: 0.5%; 
            padding-right: 0.5%; 
            margin: auto;
        }

        .jp-button-small {
            width: 18.5%;
        }

        .jp-button-large {
            width: 32%;
        }

        .jp-text {
            margin: auto;
            border: 2px solid #887799;
            background-color: #EEE7F5;
            text-align: center;
            border-radius: 5px;
            line-height: 1.6;
            font-size: 30px;
            cursor: pointer;
        }
        .jp-text { transition: all 0.1s ease-in-out; }
        .jp-text:hover { transform: scale(1.2); }

        .jp-romaji {
            color: #887799;
            text-align: center;
            line-height: 1;
            font-size: 20px;
        }

        .jp-left {
            margin-left: 3%;
            margin-right: 2%;
            width: 55%;
            float: left;
        }
        .jp-right {
            margin-left: 2%;
            margin-right: 3%;
            width: 35%;
            float: right;
        }

        .jp-bexist {
            opacity: 1;
        }

        .jp-non-bexist {
            opacity: 0.5;
        }

        .jp-exist {
            border: 2px solid rgb(150,100,200);
            background-color: rgb(200,150,250);
        }

        .jp-non-exist {
            border: 2px solid rgb(150,150,150);
            background-color: rgb(200,200,200);
        }


        @@media (max-width: 767px) {
            .convert-form {
                width: 100%;
                margin-left: 0%;
            }
            .convert-inp {
                width: 90%;
                margin-left: 5%;
            }
            .res2 {
                font-size: 24px;
            }
            .jp-name-text {
                font-size: 24px;
            }
            .jp-name-button {
                border-radius: 5px;
                padding-left: 1px; 
                padding-right: 1px; 
            }
            .jp-romaji {
                font-size: 16px;
            }
            .jp-viet {
                font-size: 14px;
            }

            .jp-left {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }
            .jp-right {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }
            .jp-text {
                font-size: 24px;
            }
            .jp-button {
                border-radius: 5px;
                padding-left: 1px; 
                padding-right: 1px; 
            }
            .jp-romaji {
                font-size: 16px;
            }
        }
        .jp-emp {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="convert-form">
            <div class="convert-title">
                <h2>Chuyển đổi tên của bạn sang tiếng Nhật</h2>
            </div>
            <br />
            <div class="convert-desc">
                Khi phiên âm tên của bạn sang tiếng Nhật, bạn cần viết bằng Katakana chứ không phải Hiragana hay Kanji, bởi Katakana là bảng chữ cái sử dụng để viết các từ mượn và phiên âm tiếng nước ngoài.
                <br /><br />
                Tuy nhiên, việc phiên âm tên của bản thân bằng Katakana là một vấn đề khó khăn với không ít người học tiếng Nhật, bởi sự khác nhau về phát âm và chữ viết giữa hai ngôn ngữ.
                <br /><br />
                Nếu bạn đang phân vân không biết chuyển đổi tên của bản thân sang tiếng Nhật như thế nào, hãy để chúng tôi giúp bạn. Chỉ cần nhập tên tiếng Việt của bạn ở phía dưới rồi ấn nút "Chuyển đổi".
            </div>
            <div class="convert-inp">
                <input name="Name" type="text" id="name-text" class="form-control" style="text-align: center" placeholder="(Ví dụ: Nguyễn Văn A)" />
            </div>
            <div class="convert-but">
                <input type="button" value="Chuyển đổi" class="btn btn-default" id="convert-btn" />
            </div>
            <div>
                <div class="res1" id="your-name-is"></div>
                <div class="res2"><p id="res-text"></p></div>
                <div class="res5" id="your-name-pronounce"></div>
                <div class="res6" id="your-name-analyze"></div>
                <div class="res3" id="res-adv"></div>
                <div class="res4" id="your-name-notes"></div>
            </div>
            <div class="convert-title">
                <h2>Bảng chữ cái Katakana</h2>
                <div class="res7" id="alp-notes"></div>
            </div>
            <br />
            <div class="jp-left">
                @for (int i = 128; i < 208; i += 5)
            {
                for (int j = i; j < 208 && j < i + 5; j++)
                {
                    if (@Model[j].Equals(""))
                    {
                            <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                        }
                        else
                        {
                            <div class="jp-button jp-button-small" id="jp-bid-@j">
                                <p class="jp-text" id="jp-id-@j">@Model[j]</p>
                                <p class="jp-romaji">@Model[j + 128]</p>
                            </div>
                        }
                    }
                }
            </div>

            <div class="jp-right">
                @for (int i = 208; i < 256; i += 3)
            {
                for (int j = i; j < 256 && j < i + 3; j++)
                {
                    if (@Model[j].Equals(""))
                    {
                            <div class="jp-button jp-button-large" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                        }
                        else
                        {
                            <div class="jp-button jp-button-large" id="jp-bid-@j">
                                <p class="jp-text" id="jp-id-@j">@Model[j]</p>
                                <p class="jp-romaji">@Model[j + 128]</p>
                            </div>
                        }
                    }
                }
            </div>
            <div class="divider-10"></div>
        </div>
    </div>
    <script>
        function learnTime() {
            $.post("/Study/UpdateTime", function () { });
        }
        $(function () {
            setInterval("learnTime()", 60 * 1000);
        });
        $(document).ready(function () {
            var alp = ["あ","い","う","え","お","か","き","く","け","こ","さ","し","す","せ","そ","た","ち","つ","て","と","な","に","ぬ","ね","の","は","ひ","ふ","へ","ほ","ま","み","む","め","も","や","","ゆ","","よ","ら","り","る","れ","ろ","わ","","","","を","ん","","","","","が","ぎ","ぐ","げ","ご","ざ","じ","ず","ぜ","ぞ","だ","ぢ","づ","で","ど","ば","び","ぶ","べ","ぼ","ぱ","ぴ","ぷ","ぺ","ぽ","","","","きゃ","きゅ","きょ","しゃ","しゅ","しょ","ちゃ","ちゅ","ちょ","にゃ","にゅ","にょ","ひゃ","ひゅ","ひょ","みゃ","みゅ","みょ","","","","りゃ","りゅ","りょ","","","","","","","ぎゃ","ぎゅ","ぎょ","じゃ","じゅ","じょ","","","","びゃ","びゅ","びょ","ぴゃ","ぴゅ","ぴょ","ア","イ","ウ","エ","オ","カ","キ","ク","ケ","コ","サ","シ","ス","セ","ソ","タ","チ","ツ","テ","ト","ナ","ニ","ヌ","ネ","ノ","ハ","ヒ","フ","ヘ","ホ","マ","ミ","ム","メ","モ","ヤ","","ユ","","ヨ","ラ","リ","ル","レ","ロ","ワ","","","","ヲ","ン","","","","","ガ","ギ","グ","ゲ","ゴ","ザ","ジ","ズ","ゼ","ゾ","ダ","ヂ","ヅ","デ","ド","バ","ビ","ブ","ベ","ボ","パ","ピ","プ","ペ","ポ","","","","キャ","キュ","キョ","シャ","シュ","ショ","チャ","チュ","チョ","ニャ","ニュ","ニョ","ヒャ","ヒュ","ヒョ","ミャ","ミュ","ミョ","","","","リャ","リュ","リョ","","","","","","","ギャ","ギュ","ギョ","ジャ","ジュ","ジョ","","","","ビャ","ビュ","ビョ","ピャ","ピュ","ピョ","a","i","u","e","o","ka","ki","ku","ke","ko","sa","shi","su","se","so","ta","chi","tsu","te","to","na","ni","nu","ne","no","ha","hi","fu","he","ho","ma","mi","mu","me","mo","ya","","yu","","yo","ra","ri","ru","re","ro","wa","","","","(w)o","n","","","","","ga","gi","gu","ge","go","za","ji","zu","ze","zo","da","ji","zu","de","do","ba","bi","bu","be","bo","pa","pi","pu","pe","po","","","","kya","kyu","kyo","sha","shu","sho","cha","chu","cho","nya","nyu","nyo","hya","hyo","hyo","mya","myu","myo","","","","rya","ryu","ryo","","","","","","","gya","gyu","gyo","ja","ju","jo","","","","bya","byu","byo","pya","pyu","pyo"];
            $(".navbar-fixed-top").addClass("scrolled menu-shrink");
            $("#name-text").keypress(function (e) {
                if (e.which == 13) {
                    $("#convert-btn").click();
                    $("#name-text").blur();
                }
            })
            $("#convert-btn").on("click", function () {
                if ($("#name-text").val() != "") {
                    $.getJSON("ConvertName", {
                        "name": $("#name-text").val()
                    }, function (data) {
                        var jsondata = data;
                        $("#res-text").addClass("res-cl");
                        $("#your-name-is").text("Tên của bạn trong tiếng Nhật là...");
                        $("#your-name-pronounce").text("(click vào tên bạn để nghe cách phát âm)");
                        $("#your-name-analyze").text("Phân tích cách chuyển đổi:");
                        $("#res-text").text(data);
                        $("#your-name-notes").html("※ Có trường hợp cùng một tên tiếng Việt có thể chuyển đổi sang tiếng Nhật theo nhiều cách khác nhau.<br />Trên đây chỉ giới thiệu một cách chuyển đổi.");
                        $("#alp-notes").html("Những chữ xuất hiện trong tên bạn sẽ hiển thị màu tím.");
                        for (var i = 128; i < 256; i++) {
                            if (data.indexOf(alp[i]) != -1) {
                                $("#jp-bid-" + i).addClass("jp-bexist");
                                $("#jp-bid-" + i).removeClass("jp-non-bexist");
                                $("#jp-id-" + i).addClass("jp-exist");
                                $("#jp-id-" + i).removeClass("jp-non-exist");
                            }
                            else {
                                $("#jp-bid-" + i).addClass("jp-non-bexist");
                                $("#jp-bid-" + i).removeClass("jp-bexist");
                                $("#jp-id-" + i).addClass("jp-non-exist");
                                $("#jp-id-" + i).removeClass("jp-exist");
                            }
                        }
                    });
                    $.getJSON("ConvertNameAdv", {
                        "name": $("#name-text").val()
                    }, function (data) {
                        var jsondata = data;
                        $("#res-adv").html(data);
                    });
                }
            });
            $('.jp-button').on("click", 'p.jp-text', function () {
                var text = $(this).text();
                responsiveVoice.speak(text, "Japanese Female");
            });
            $('.res2').on("click", 'p.res-cl', function () {
                var text = $(this).text();
                responsiveVoice.speak(text, "Japanese Female");
            });
        });
    </script>
</body>