﻿@{
    ViewBag.Title = "Bảng chữ cái";
}

@model List<string>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dmak.js"></script>
    <script src="~/Content/assets/js/ResponsiveVoice.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg3.png");
        }

        .container {
            margin: 0 auto;
            width: 90%;
        }

        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

        ul.tabs li {
            background-color: rgba(255,255,255,0.2);
            color: #222222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current {
            background-color: rgba(255,255,255,0.6);
            color: #222222;
        }

        .kana-tab-content {
            display: none;
            background-color: rgba(255,255,255,0.6);
            padding: 15px;
        }


        .kana-tab-content.current {
            display: inherit;
        }

        .modal-kana-stroke {
            text-align: center;
            font-family: "Stroke Order";
            font-size: 200px;
        }

        .modal-kana-mnemonic {
            text-align: center;
        }

        .kana-notes {
            margin-top: 30px;
            background-color: rgb(250,250,200);
        }

        .kana-notes-title {
            color: rgb(250,50,50);
            font-size: 24px;
            padding-left: 10px;
        }

        .kana-notes-desc {
            color: rgb(150,50,50);
            font-size: 18px;
            padding-left: 30px;
        }

        .jp-button {
            display: inline-block;
            border-radius: 5px;
            padding-left: 0.5%; 
            padding-right: 0.5%; 
            margin: auto;
        }

        .jp-button-small {
            width: 18.5%;
        }

        .jp-button-large {
            width: 32%;
        }

        .jp-text {
            margin: auto;
            border: 2px solid #889977;
            background-color: #EEF5E7;
            text-align: center;
            border-radius: 5px;
            line-height: 1.6;
            font-size: 30px;
            cursor: pointer;
        }
        .jp-text { transition: all 0.1s ease-in-out; }
        .jp-text:hover { transform: scale(1.2); background-color: #C9E0AF; }

        .jp-romaji {
            color: #889977;
            text-align: center;
            line-height: 1;
            font-size: 20px;
        }

        .jp-left {
            margin-left: 3%;
            margin-right: 2%;
            width: 55%;
            float: left;
        }
        .jp-right {
            margin-left: 2%;
            margin-right: 3%;
            width: 35%;
            float: right;
        }
        .jp-left-ex {
            margin-left: 3%;
            margin-right: 2%;
            width: 45%;
            float: left;
        }
        .jp-right-ex {
            margin-left: 2%;
            margin-right: 3%;
            width: 45%;
            float: right;
        }

        .jp-practice {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
        }

        .jp-intro {
        }
        .jp-intro-title {
            font-family: "Open Sans Light";
            color: #E6FADC;
            font-size: 36px;
            text-align: center;
            border-radius: 25px;
            background-color: #889977;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }
        .jp-intro-desc {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 25px;
        }
        .mne-copyright {
            color: #CCCCCC;
            text-align: center;
        }

        @@media (max-width: 767px) {
            .container {
                width: 100%;
            }
            .jp-left {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }
            .jp-right {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }
            .jp-left-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }
            .jp-right-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }
            .jp-text {
                font-size: 24px;
            }
            .jp-button {
                border-radius: 5px;
                padding-left: 1px; 
                padding-right: 1px; 
            }
            .jp-romaji {
                font-size: 16px;
            }
            .jp-intro-title {
                font-family: "Open Sans Light";
                color: #E6FADC;
                font-size: 24px;
                border-radius: 25px;
                margin-left: 0px;
                margin-right: 0px;
            }
            .jp-intro-desc {
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 25px;
            }
            ul.tabs li {
                font-size: 14px;
            }
            
        }
    </style>
</head>
<body>
        <div class="margin" style="margin-top: 50px"></div>

        <div class="container">

            <ul class="tabs">
                
                <li class="tab-link current" data-tab="hiragana">Hiragana</li>
                <li class="tab-link" data-tab="katakana">Katakana</li>
                <li class="tab-link" data-tab="rules">Quy tắc</li>
            </ul>

            <!-- Hiragana -->
            <!-- 平仮名 -->
            <div id="hiragana" class="kana-tab-content current">
                <div class="hiragana-content">
                    <div class="jp-intro">
                        <div class="jp-intro-title">Giới thiệu về Hiragana</div>
                        <div class="jp-intro-desc">
                            <p>
                                <b>Hiragana</b> (tiếng Nhật: <ruby>平<rt>ひら</rt></ruby><ruby>仮<rt>が</rt></ruby><ruby>名<rt>な</rt></ruby>) hay còn gọi là <b>chữ mềm</b> là bảng chữ cái cơ bản của tiếng Nhật.
                                <br /><br />
                                Mỗi chữ cái Hiragana đại diện cho một âm trong tiếng Nhật. Để đọc một từ viết bằng chữ Hiragana, chỉ cần đọc liên tiếp các âm ứng với các chữ cái Hiragana. Ví dụ, に đọc là "ni", ほ đọc là "ho", ん đọc là "n", ご đọc là "go", vì vậy từ にほんご sẽ đọc là "nihongo". Hiragana được sử dụng để viết hầu hết các từ gốc thuần Nhật, cùng với Kanji (chữ Hán).
                                <br /><br />
                                Đối với người mới học tiếng Nhật, việc học bảng chữ cái Hiragana là vô cùng quan trọng, bởi Hiragana chiếm một phần rất lớn trong chữ viết của tiếng Nhật. Ngoài ra, Hiragana còn được sử dụng để thay thế Kanji (chữ Hán) trong những trường hợp Kanji quá khó hay đối với những người mới học chưa thể viết Kanji thành thạo.
                            </p>
                        </div>
                        <div class="jp-intro-title">Bảng chữ cái Hiragana</div>
                        <div class="jp-practice"><a href="~/Alphabet/PracticeHiragana" class="btn btn-default">Luyện tập Hiragana</a></div>
                    </div>
                    <div class="jp-left">
                        @for (int i = 0; i < 80; i += 5)
                        {
                            for (int j = i; j < 80 && j < i + 5; j++)
                            {
                                if (@Model[j].Equals(""))
                                {
                                    <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                                }
                                else
                                {
                                    <div class="jp-button jp-button-small" id="jp-bid-@Model[j]">
                                        <p class="jp-text" id="jp-id-@Model[j]" num="@j" data-toggle="modal" data-target="#kanaModal">@Model[j]</p>
                                        <p class="jp-romaji">@Model[j + 256]</p>
                                    </div>
                                }
                            }
                        }
                    </div>

                    <div class="jp-right">
                        @for (int i = 80; i < 128; i += 3)
                        {
                            for (int j = i; j < 128 && j < i + 3; j++)
                            {
                                if (@Model[j].Equals(""))
                                {
                                    <div class="jp-button jp-button-large" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                                }
                                else
                                {
                                    <div class="jp-button jp-button-large" id="jp-bid-@Model[j]">
                                        <p class="jp-text" id="jp-id-@Model[j]" num="@j" data-toggle="modal" data-target="#kanaModal">@Model[j]</p>
                                        <p class="jp-romaji">@Model[j + 256]</p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="divider-10"></div>
            </div>

            <!-- Katakana -->
            <!-- 片仮名 -->
            <div id="katakana" class="kana-tab-content">
                <div class="jp-intro">
                    <div class="jp-intro-title">Giới thiệu về Katakana</div>
                    <div class="jp-intro-desc">
                        <p>
                            <b>Katakana</b> (tiếng Nhật: <ruby>片<rt>かた</rt></ruby><ruby>仮<rt>か</rt></ruby><ruby>名<rt>な</rt></ruby>) hay còn gọi là <b>chữ cứng</b> là một bảng chữ cái của tiếng Nhật, sử dụng chủ yếu để viết từ mượn.
                            <br /><br />
                            Tương tự như Hiragana, mỗi chữ Katakana cũng ứng với một âm trong tiếng Nhật và như vậy, cứ mỗi chữ Hiragana lại có một chữ Katakana tương ứng. Ví dụ chữ "a" viết bằng Hiragana thì là あ, còn viết bằng Katakana thì là ア.
                            <br /><br />
                            Trái ngược với Hiragana chủ yếu sử dụng để viết các từ thuần Nhật chẳng hạn như たべる ("taberu", ăn), Katakana chủ yếu sử dụng để viết các từ mượn. Chẳng hạn như コイン ("koin", đồng xu, mượn từ "coin" trong tiếng Anh) hay アオザイ ("aozai", áo dài, mượn tiếng Việt). Ngoài ra, tên của người nước ngoài khi phiên âm sang tiếng Nhật cũng viết bằng Katakana. <a href="/Alphabet/Convert">Nếu bạn muốn chuyển tên của mình sang Katakana, hãy bấm vào đây.</a>
                        </p>
                    </div>
                    <div class="jp-intro-title">Bảng chữ cái Katakana</div>
                    <div class="jp-practice"><a href="~/Alphabet/PracticeKatakana" class="btn btn-default">Luyện tập Katakana</a></div>
                </div>
                <div class="katakana-content">
                    <div class="jp-left">
                        @for (int i = 128; i < 208; i += 5)
                        {
                            for (int j = i; j < 208 && j < i + 5; j++)
                            {
                                if (@Model[j].Equals(""))
                                {
                                    <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                                }
                                else
                                {
                                    <div class="jp-button jp-button-small" id="jp-bid-@Model[j]">
                                        <p class="jp-text" id="jp-id-@Model[j]" num="@j" data-toggle="modal" data-target="#kanaModal">@Model[j]</p>
                                        <p class="jp-romaji">@Model[j + 128]</p>
                                    </div>
                                }
                            }
                        }
                    </div>

                    <div class="jp-right">
                        @for (int i = 208; i < 256; i += 3)
                        {
                            for (int j = i; j < 256 && j < i + 3; j++)
                            {
                                if (@Model[j].Equals(""))
                                {
                                    <div class="jp-button jp-button-large" style="visibility: hidden;border-radius: 25px;"><p class="jp-text">　</p><p class="jp-romaji">dummy</p></div>
                                }
                                else
                                {
                                    <div class="jp-button jp-button-large" id="jp-bid-@Model[j]">
                                        <p class="jp-text" id="jp-id-@Model[j]" num="@j" data-toggle="modal" data-target="#kanaModal">@Model[j]</p>
                                        <p class="jp-romaji">@Model[j + 128]</p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="divider-10"></div>
            </div>

            <div id="rules" class="kana-tab-content">
                <!-- Âm đục và âm bán đục -->
                <!-- 濁音・半濁音 -->
                <div id="rule1">
                    <div class="jp-intro">
                        <div class="jp-intro-title">Âm đục</div>
                        <div class="jp-intro-desc">
                            <b>Âm đục</b> (tiếng Nhật: <ruby>濁<rt>だく</rt></ruby><ruby>音<rt>おん</rt></ruby>) là những âm được thể hiện bằng các chữ cái có kí hiệu ゛ ở góc trên bên phải, ví dụ như が thay vì か.
                            <br /><br />
                            Khi thêm kí hiệu ゛ vào một số chữ cái, cách đọc của chúng sẽ thay đổi như sau:
                            <br /><br /><br /><br />
                            <b>1. Khi thêm ゛ vào một chữ cái ở hàng "k" (か き く け こ → が ぎ ぐ げ ご), âm "k" sẽ biến thành "g".</b>
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 5; j <= 9; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 55; j <= 59; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                            <br /><br />
                            <b>2. Khi thêm ゛ vào một chữ cái ở hàng "s" (さ し す せ そ → ざ じ ず ぜ ぞ), âm "s" sẽ biến thành "z".</b>
                            <br />
                            Tuy nhiên, riêng chữ じ đọc là "ji" thay vì "zi".
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 10; j <= 14; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 60; j <= 64; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                            <br /><br />
                            <b>3. Khi thêm ゛ vào một chữ cái ở hàng "t" (た ち つ て と → だ ぢ づ で ど), âm "t" sẽ biến thành "d".</b>
                            <br />
                            Tuy nhiên, riêng chữ ぢ đọc là "ji" (cách đọc tương tự じ) thay vì "di", và づ đọc là "zu" (cách đọc tương tự ず) thay vì "du".
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 15; j <= 19; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 65; j <= 69; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                            Cần chú ý, mặc dù có cách đọc tương tự nhau, nhưng khi viết thì じ và ぢ (cũng như ず và づ) sử dụng trong những từ khác nhau.
                            <br /><br /><br /><br />
                            <b>4. Khi thêm ゛ vào một chữ cái ở hàng "h" (は ひ ふ へ ほ → ば び ぶ べ ぼ), âm "h" sẽ biến thành "b".</b>
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 25; j <= 29; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 70; j <= 74; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                        </div>
                        <div class="jp-intro-title">Âm bán đục</div>
                        <div class="jp-intro-desc">
                            <b>Âm bán đục</b> (tiếng Nhật: <ruby>半<rt>はん</rt></ruby><ruby>濁<rt>だく</rt></ruby><ruby>音<rt>おん</rt></ruby>) là những âm được thể hiện bằng các chữ cái có kí hiệu ゜ ở góc trên bên phải, ví dụ như ぱ thay vì は.
                            <br /><br />
                            Kí hiệu ゜ chỉ thêm vào các chữ cái ở hàng "h".
                            <br /><br />
                            <b>Khi thêm ゜ vào một chữ cái ở hàng "h" (は ひ ふ へ ほ → ぱ ぴ ぷ ぺ ぽ), âm "h" sẽ biến thành "p".</b>
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 25; j <= 29; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 75; j <= 79; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-small" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-small">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                        </div>
                    </div>
                </div>

                <!-- Âm ghép -->
                <!-- 拗音 -->
                <div id="rule2">
                    <div class="jp-intro">
                        <div class="jp-intro-title">Âm ghép</div>
                        <div class="jp-intro-desc">
                            <b>Âm ghép</b> (tiếng Nhật: <ruby>拗<rt>よう</rt></ruby><ruby>音<rt>おん</rt></ruby>) là những âm được ghép bởi 2 chữ cái, trong đó chữ cái thứ nhất là một chữ cái ở cột "i" còn chữ cái thứ hai là chữ ゃ, ゅ hoặc ょ nhỏ (so với kích cỡ thông thường là や, ゆ, よ). Ví dụ, きゃ, しゅ, ... là các âm ghép.
                            <br /><br />
                            Với những âm như vậy, đuôi "i" của chữ cái thứ nhất sẽ thay thế bằng "ya", "yu" hoặc "yo" tùy thuộc vào chữ cái thứ hai. Ví dụ きゃ sẽ đọc là "kya" thay vì "kiya", きゅ sẽ đọc là "kyu" thay vì "kiyu", きょ sẽ đọc là "kyo" thay vì "kiyo".
                            <br /><br />
                            Hãy cẩn thận khi phát âm những từ có âm ghép, bởi phát âm sai có thể sẽ làm thay đổi nghĩa của từ. Ví dụ びょういん ("byōin") thì có nghĩa là "bệnh viện", nhưng びよういん ("biyōin") thì lại là "thẩm mỹ viện"!
                            <br /><br />
                            Dưới đây là danh sách các âm ghép trong tiếng Nhật:
                            <br /><br />
                            <div class="jp-left-ex">
                                @for (int j = 83; j <= 100; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-large" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-large">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="jp-right-ex">
                                @for (int j = 113; j <= 127; j++)
                                {
                                    if (@Model[j].Equals(""))
                                    {
                                        <div class="jp-button jp-button-large" style="visibility: hidden;border-radius: 25px;">
                                            <p class="jp-text">　</p><p class="jp-romaji">dummy</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="jp-button jp-button-large">
                                            <p class="jp-text" id="jp-id-@Model[j]">@Model[j]</p>
                                            <p class="jp-romaji">@Model[j + 256]</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="divider-10"></div>
                        </div>
                    </div>
                </div>

                <!-- Trường âm -->
                <!-- 長音 -->
                <div id="rule3">
                    <div class="jp-intro">
                        <div class="jp-intro-title">Trường âm</div>
                        <div class="jp-intro-desc">
                            <b>Trường âm</b> (tiếng Nhật: <ruby>長<rt>ちょう</rt></ruby><ruby>音<rt>おん</rt></ruby>) là những nguyên âm được kéo dài bằng những kí tự あ, い, う, え, お, chẳng hạn như おばあさん ("obāsan") thay vì おばさん ("obasan").
                            <br /><br />
                            Tương tự như âm ghép, hãy cẩn thận khi phát âm những từ có trường âm vì phát âm sai có thể làm thay đổi nghĩa của từ. Chẳng hạn, ゆうき ("yūki") nghĩa là "dũng khí", nhưng ゆき ("yuki") thì nghĩa là "tuyết".
                            <br /><br />
                            Trong Katakana, trường âm được biểu diễn bằng kí hiệu ー thay vì các chữ ア, イ, ウ, エ, オ. Ví dụ: ゲーム ("gēmu", trò chơi, mượn từ "game" trong tiếng Anh) thay vì ゲエム. Khi viết dọc, kí hiệu ー cũng sẽ được xoay dọc.
                        </div>
                    </div>
                </div>

                <!-- Âm ngắt -->
                <!-- 促音 -->
                <div id="rule4">
                    <div class="jp-intro">
                        <div class="jp-intro-title">Âm ngắt</div>
                        <div class="jp-intro-desc">
                            <b>Âm ngắt</b> (tiếng Nhật: <ruby>促<rt>そく</rt></ruby><ruby>音<rt>おん</rt></ruby>) là âm được thể hiện bằng chữ っ nhỏ (so với kích cỡ thông thường là つ).
                            <br /><br />
                            Chữ っ nhỏ có tác dụng kéo dài phụ âm đứng sau nó. Ví dụ:
                            <br /><br />
                            <ul>
                                <li>いっか ("i<b>k</b>ka") thay vì いか ("ika")</li>
                                <li>いっき ("i<b>k</b>ki") thay vì いき ("iki")</li>
                                <li>いった ("i<b>t</b>ta") thay vì いた ("ita")</li>
                                <li>いって ("i<b>t</b>te") thay vì いて ("ite")</li>
                            </ul>
                            <br />
                            Tương tự như âm ghép hay trường âm, hãy cẩn thận khi phát âm những từ có âm ngắt, cũng như chú ý không phát âm kí hiệu âm ngắt này là "tsu" mặc dù nó là chữ "tsu" nhỏ.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="kanaModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-kana-stroke"><div id="sekai"></div></div>
                        <div class="modal-kana-mnemonic"><span id="kanaMnemonic"></span></div>
                        <div class="modal-kana-notes"><span id="kanaNotes"></span></div>
                    </div>
                </div>
            </div>
        </div>

    <!-- container -->
        // <div id="sekai" onclick="play()"></div>
        <script>
            function learnTime() {
                $.post("/Study/UpdateTime", function () { });
            }
            $(document).ready(function () {
                $(function () {
                    setInterval("learnTime()", 60 * 1000);
                });
                var dmak = new Dmak('あ', { 'element': "sekai", "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
                var text = "";
                var notes = [];

                for (var i = 0; i <= 255; i++) {
                    notes[i] = "";
                }

                $('ul.tabs li').click(function () {
                    var tab_id = $(this).attr('data-tab');

                    $('ul.tabs li').removeClass('current');
                    $('.kana-tab-content').removeClass('current');

                    $(this).addClass('current');
                    $("#" + tab_id).addClass('current');
                });

                $(document).ready(function () {
                    $('#sekai').on("click", function () {
                        $("#sekai").html("");
                        dmak = new Dmak(text, { 'element': "sekai", "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
                        responsiveVoice.speak(text, "Japanese Female");
                    });
                });

                notes[0] = "Cần chú ý tránh nhầm lẫn chữ あ (a) với chữ お (o).";
                notes[1] = "Cần chú ý tránh nhầm lẫn chữ い (i) với chữ り (ri).";
                notes[4] = "Cần chú ý tránh nhầm lẫn chữ お (o) với chữ あ (a).";
                notes[6] = "Trên máy tính, chữ き đôi khi được viết bằng 3 nét nhưng khi viết tay, chữ き thường được viết bằng 4 nét.<br/><br/>Cần chú ý tránh nhầm lẫn chữ き (ki) với chữ さ (sa).";
                notes[10] = "Trên máy tính, chữ さ đôi khi được viết bằng 2 nét nhưng khi viết tay, chữ さ thường được viết bằng 3 nét.<br/><br/>Cần chú ý tránh nhầm lẫn chữ さ (sa) với chữ き (ki).";
                notes[22] = "Cần chú ý tránh nhầm lẫn chữ ぬ (nu) với chữ め (me).";
                notes[23] = "Cần chú ý tránh nhầm lẫn chữ ね (ne) với chữ れ (re) và わ (wa).";
                notes[25] = "Khi sử dụng làm trợ từ, chữ は được đọc là \"wa\".<br/><br/>Cần chú ý tránh nhầm lẫn chữ は (ha) với chữ ほ (ho).";
                notes[28] = "Khi sử dụng làm trợ từ, chữ へ được đọc là \"e\".";
                notes[29] = "Cần chú ý tránh nhầm lẫn chữ ほ (ho) với chữ は (ha).";
                notes[30] = "Cần chú ý tránh nhầm lẫn chữ ま (ma) với chữ も (mo).";
                notes[33] = "Cần chú ý tránh nhầm lẫn chữ め (me) với chữ ぬ (nu).";
                notes[34] = "Cần chú ý tránh nhầm lẫn chữ も (mo) với chữ ま (ma).";
                notes[41] = "Trên máy tính, chữ り đôi khi được viết bằng 1 nét nhưng khi viết tay, chữ り thường được viết bằng 2 nét.<br/><br/>Cần chú ý tránh nhầm lẫn chữ り (ri) với chữ り (i).";
                notes[42] = "Cần chú ý tránh nhầm lẫn chữ る (ru) với chữ ろ (ro).";
                notes[43] = "Cần chú ý tránh nhầm lẫn chữ れ (re) với chữ ね (ne) và わ (wa).";
                notes[44] = "Cần chú ý tránh nhầm lẫn chữ ろ (ro) với chữ る (ru).";
                notes[45] = "Cần chú ý tránh nhầm lẫn chữ わ (wa) với chữ ね (ne) và れ (re).";
                notes[49] = "Chữ を chỉ sử dụng làm trợ từ.<br/><br/>を thường đọc là \"o\" nhưng đôi khi cũng đọc là \"wo\".<br/><br/>Cần lưu ý phân biệt chữ を với chữ お.";
                for (var i = 0; i <= 255; i++) {
                    if (notes[i] != "") {
                        notes[i] = "<div class='kana-notes'><div class='kana-notes-title'>Chú ý</div><div class='kana-notes-desc'>" + notes[i] + "</div></div>";
                    }
                }

                $('.jp-button').on("click", 'p.jp-text', function () {

                    text = $(this).text();
                    var id = $(this).attr('num') % 128;
                    var note = notes[$(this).attr('num')];


                    $("#kanaMnemonic").html("");
                    if ($(this).attr('num') >= 0 && $(this).attr('num') < 55) {
                        $("#kanaMnemonic").html("<img src='/Content/Resources/Image/Alphabet/" + text + ".jpg' width='400' height='250'><br /><div class='mne-copyright'>Mnemonic by Tofugu</div>");
                    }
                    if ($(this).attr('num') >= 128 && $(this).attr('num') < 183) {
                        $("#kanaMnemonic").html("<img src='/Content/Resources/Image/Alphabet/" + text + ".jpg' width='400' height='200'><br /><div class='mne-copyright'>Mnemonic by Tofugu</div>");
                    }
                    $("#kanaStroke").text(text);
                    $("#kanaNotes").html(note);
                    $("#sekai").html("");
                    dmak = new Dmak(text, { 'element': "sekai", "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
                    responsiveVoice.speak(text, "Japanese Female");
                });
                $(".navbar-fixed-top").addClass("scrolled menu-shrink");
            });
    </script>
</body>
</html>
