﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Japanese in Your Hand</title>
    
    <link href="~/Content/assets/css/Furigana.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/assets/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
        var OAUTHURL = 'https://accounts.google.com/o/oauth2/auth?';
        var VALIDURL = 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
        var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
        var CLIENTID = '127851110854-bd35orooi5l9cmmepdi9prsuno7ir262.apps.googleusercontent.com';
        var REDIRECT = 'https://japaneseinyourhand.azurewebsites.net/Account/Login';
        var TYPE = 'token';
        var _url = OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
        var acToken;
        var tokenType;
        var expiresIn;
        var user;
        var loggedIn = false;
        function login() {

            var win = window.open(_url, "Login With Google", 'width=400, height=600');
            var pollTimer = window.setInterval(function () {
                try {
                    console.log(win.document.URL);
                    if (win.document.URL.indexOf(REDIRECT) != -1) {
                        window.clearInterval(pollTimer);
                        var url = win.document.URL;
                        acToken = gup(url, 'access_token');
                        tokenType = gup(url, 'token_type');
                        expiresIn = gup(url, 'expires_in');

                        win.close();
                        debugger;
                        validateToken(acToken);
                    }
                }
                catch (e) {

                }
            }, 500);
        }

        function gup(url, name) {
            namename = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\#&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function validateToken(token) {

            getUserInfo();
        }

        function getUserInfo() {
            $.ajax({

                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: function (user) {
                    $.ajax({
                        url: '/Account/LoginGoogle',
                        type: 'POST',
                        data: {
                            Email: user.email,
                            FullName: user.name,
                            //gender: user.gender,
                            //lastname: user.lastname,
                            //location: user.location
                        },
                        success: function () {
                            window.location.href = "/Home/Index";
                        },

                        //dataType: "jsonp"

                    });

                }
            });
            


        }

    </script>
    <style>
        .buttonText {
            text-align: center;
        }

        .loginBtn {
            box-sizing: border-box;
            position: relative;
            width: 240px;
            border: none;
            text-align: center;
            white-space: nowrap;
            border-radius: 0.2em;
            color: #FFF;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }


        /* Google */
        .loginBtn--google {
            background: #DD4B39;
        }

            .loginBtn--google:before {
                /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
            }

            .loginBtn--google:hover,
            .loginBtn--google:focus {
                background: #E74B37;
            }

        /* Facebook */
        .loginBtn--facebook {
            background: #3B5998;
        }

            .loginBtn--facebook:before {
                /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat; */
            }

            .loginBtn--facebook:hover,
            .loginBtn--facebook:focus {
                background: #4B69A8;
            }
    </style>

</head>
<body class="home">
    <div id="fb-root"></div>
    @*<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span style="font-size:20px;"><img width="306" height="36" src="~/Content/Resources/Image/logolong.png"></span>
                    </a>
                    <div class="user-access">
                        <ul style="position: absolute;right:10px;" class="nav navbar-nav">
                        </ul>
                    </div>
                </div>
            </div>
        </nav>*@
    <div class="navbar-wrapper">
        <header class="navbar navbar-default navbar-fixed-top" id="MainMenu">
            <div class="navbar-extra-top clearfix">
            </div>
            <div class="container-fluid collapse-md" id="navbar-main-container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span><img src="~/Content/Resources/Image/logolong.png"></span>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right" style="font-size:16px;">
                        <li><a href="../Home/Tips">　Gõ tiếng Nhật</a></li>
                        <li><a href="/Alphabet">　Bảng chữ cái</a></li>
                        <li><a href="/Alphabet/Convert">　Chuyển đổi tên</a></li>
                        <li><a href="/Study/LearnConjugate">　Chia động từ</a></li>
                        <li><a href="/Study">　Khóa học　</a></li>
                        @if (ViewBag.username != null)
                        {
                            <li class="dropdown show-on-hover">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user" id="temp-avatar"></span>
                                    <span id="userName">@ViewBag.username</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li id="profile-button"><a>Trang cá nhân</a></li>
                                        @if (ViewBag.Role == 1)
                                        {
                                            <li><a href="/Admin/Index">Trang quản lý</a></li>
                                        }
                                    <li id="logout"><a>Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
                            <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                        }


                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <style>
        a.up-down {
            user-select: none;
            color: rgb(25,100,25);
            text-decoration: none;
            cursor: pointer;
        }
        .dictionary-search-jp {
            border-style: solid;
            border-color: #000000;
            border-width: 1px;
            width: 400px;
            height: 88%;
            left: -400px;
            position: fixed;
            z-index: 1000;
            top: 74px;
            background-color: rgba(220,240,220,0.9);
            transition: all 0.5s;
        }

        .dictionary-search-button {
            z-index: 1000;
            position: absolute;
            left: 100%;
            text-decoration: none;
            top: 40%;
            cursor: pointer;
            opacity: 0.6;
        }

        .dictionary-search-button:hover {
            opacity: 1;
        }

        #dictionary-search-background {
            position: fixed;
            width: 35px;
            z-index: 1000;
        }

        .dictionary-search-jp-open {
            left: 0px;
        }

        .disable {
            display: none;
        }

        .nav-pills {
            margin-top: 3px;
            font-size: 16px;
            display: flex;
            justify-content: center;
        }

        .dictionary-search-result {
            border-style: solid;
            border-color: rgb(25,100,25);
            border-radius: 5px;
            margin: 5px 5px 5px 5px;
            padding: 5px 5px 50px 5px;
            height: 83%;
            overflow: auto;
            background-color: whitesmoke;
        }

        .dictionary-search-input {
            margin: 2px 2px 0px 2px;
        }

        

        .dic-item {
            color: rgb(50,150,50);
            cursor: pointer;
            padding-left: 5px;
            margin-bottom: 15px;
        }

        .dic-item:hover {
            background-color: rgb(180, 220, 180);
            border-radius: 5px;
        }

        .nav-pills > li > a {
            color: rgb(20,40,20);
        }

        .dic-icon {
            display: inline;
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            border-radius: 5px;
        }

        .dic-icon-red {
            background-color: rgb(150,50,50);
            color: rgb(250,200,200);
        }

        .dic-icon-yellow {
            background-color: rgb(150,150,50);
            color: rgb(250,250,200);
        }

        .dic-icon-green {
            background-color: rgb(50,150,50);
            color: rgb(200,250,200);
        }

        .carry {
            display: inline;
            margin-left: 5px;
            color: rgb(50,100,50);
            font-size: 24px;
        }

        .support {
            display: inline;
            padding-left: 10px;
            color: rgb(75,150,75);
            font-size: 18px;
        }

        .meaning-light {
            display: inline;
            margin-left: 15px;
            padding-bottom: 20px;
            font-size: 16px;
            color: rgb(80,160,80);
        }

        .meaning {
            display: inline;
            margin-left: 20px;
            padding-bottom: 20px;
            font-size: 18px;
            color: rgb(20,40,20);
        }

        .dropdown-menu > li > a {
            cursor: pointer;
        }

        .body-content {
            padding-top: 75px;
        }

        @@media (max-width: 600px) {
            .dictionary-search-jp {
                width: 90%;
                left: -90%;
            }
            .dictionary-search-jp-open {
                left: 0px;
            }
            .nav-pills {
                font-size: 14px;
            }
        }

        @@media (max-height: 650px) {
            .dictionary-search-jp {
                height: 85%;
            }
            .dictionary-search-result {
                height: 80%;
            }
        }

        @@media (max-height: 575px) {
            .dictionary-search-jp {
                height: 80%;
            }
            .dictionary-search-result {
                height: 74%;
            }
        }
        @@media (max-width: 374px) {
            .nav-pills {
                font-size: 12px;
            }
        }
        .contact-button{
            position:fixed;
            bottom:0;
            right:25px;
            background-color: rgba(0,0,0,0.8);
            z-index: 1200;
            transition: all 0.5s;
        }
        .contact-window{
            position:fixed;
            bottom:-500px;
            right:15px;
            width:360px;
            height:500px;
            z-index: 1200;
            transition: all 0.5s;
            margin-left:10px;
            margin-right:10px;
            background-color: rgba(0,0,0,0.8);
            -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
        }
        .w-in{
            bottom:10px;
        }
        .b-out{
            bottom:-60px;
        }
        .window {
  max-width:600px;
  margin:0 0 30px 0;
  text-align:center;
  padding:0 0 20px 0    ;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:gray;
}
.head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#2ABCA7;
  color:#FAFAFA;
}
.head:hover{
    color:black;
    cursor:pointer;
}
.title {
  padding:0 0 18px 0;
  font-size: 1.4em;
  margin-top:0px;
  color:white;
}
input.contact-input {
  margin-bottom:10px;
}
textarea.contact-input {
  height:100px;
  margin-bottom:10px;
  resize: none;
}
input.contact-input:first-of-type
{
  margin-top:35px;
}
.contact-input {
  font-size: 1em;
  padding: 0 15px 10px 10px;
  margin:auto;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background-color:lightsteelblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  max-width: 600px;
}
#submit {
  background-color:#2ABCA7;
  padding: 10px 35px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  color:#fff;
  text-align:center;
}
#submit:hover, #submit:hover {
  background:#19a08c;
}
label.error {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:15px;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  .contact-input {
    width: 90%;
  }
  #submit {
    width:90%;
  }
  .contact-window{
      width:270px;
      height:460px;
      right:0px;
  }
  .message{
      font-size:1em;
  }
}
.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.3em;
    display:none;
    padding-top:0px;
    padding-bottom:0px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
    </style>
    
    <div class="dictionary-search-jp">
        <div class="dictionary-tool-search ">
            <div class="dictionary-search-input input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" id="dictionary-search-text" placeholder="Tìm kiếm">
            </div>
            <ul class="nav nav-pills t-dic">
                <li class="active" idt="0"><a data-toggle="pill" href=".all">Tất cả</a></li>
                <li idt="1"><a data-toggle="pill" href="#word">Từ</a></li>
                <li idt="2"><a data-toggle="pill" href="#kanji">Kanji</a></li>
                <li idt="3"><a data-toggle="pill" href="#grammar">Ngữ pháp</a></li>
            </ul>
        </div>
        <div class="dictionary-search-result">
            <div class="tab-content"></div>
        </div>
        <div class="dictionary-search-button">
            <img id="dictionary-search-background" src="~/Content/Resources/Image/searchbutton.png" data-toggle="tooltip" title="Tra từ điển">
        </div>
    </div>
    <div class="btn contact-button" style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;border-top-left-radius:7px;border-top-right-radius:7px;" data-toggle="tooltip" title="Ý kiến - Đóng góp"><font color="#999999"><span class="glyphicon glyphicon-envelope"></span></font></div>
    <div class="contact-window">
        <form id="contact" action="/#" method="post">
            <div class="window stay">
                <div class="head">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    <h2 class="title">Ý kiến đóng góp</h2>
                </div>
                <input class="contact-input stay" type="text" name="name" placeholder="Tên" style="width:90%;background-color:lightsteelblue;" required/><br />
                <input class="contact-input stay" type="email" name="email" placeholder="Email" style="width:90%;background-color:lightsteelblue;" required/><br />
                <textarea class="contact-input stay" type="text" name="message" placeholder="Tin nhắn" style="width:90%;" required></textarea><br />
                <div class="message stay">Cảm ơn sự đóng góp của bạn!</div>
                </br>
                <button id="submit" type="submit" class="text-center stay">Gửi!</button>
            </div>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="profile" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        @*@using (Html.BeginForm("Account", "Register", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {    @Html.AntiForgeryToken()
        }*@
    </div>
    <hr/>
    <footer>
        <div class="footer">
            <p>&copy; @DateTime.Now.Year - Japanese in Your Hand</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#contact").validate({
                messages: {
                    name: "Vui lòng điền thông tin ở đây!",
                    message: "Vui lòng điền thông tin ở đây!",
                    email: {
                        required: "Vui lòng điền thông tin ở đây!",
                        email: "Email không hợp lệ!"

                    }


                },
                submitHandler: function (form) {
                    // do other things for a valid form
                    $.post("../Home/AutoReplyFeedback", {
                        "name": $("input[name=name]").val(),
                        "email": $("input[name=email]").val(),
                        "message": $("textarea[name=message]").val()
                    });
                    $(".message").show();
                    $(".message").fadeOut(4500);
                    $(".contact-input").val("");
                }
            });
            $(".contact-button").on("click", function () {
                $(".contact-button").addClass("b-out");
                $(".contact-window").addClass("w-in");

            });
            $(".head").on("click", function () {
                $(".contact-button").removeClass("b-out");
                $(".contact-window").removeClass("w-in");
                $(".contact-input").val("");
                $("label.error").remove();
            });
            $("#logout").on("click", function () {
                $.post("/Account/Logout", function (data) {
                    window.location = "/Account/Login";
                });
            });

            $("#profile-button").on("click", function () {
                $("#profile").find(".modal-body").load("../Account/Profile", function () {
                    $('#demo').collapse({
                        toggle : false
                    });
                    $("#rePss").on("click", function () {
                        $('#demo').collapse("show");
                    });
                    $('.validate').on('input paste blur', function () {
                        var name = $(this).attr("name");
                        var data = $(this).val();
                        var validate = $(this).next();
                        if (data != "") {
                            if (name == "Phone") {
                                var pattern = new RegExp(/^[0-9]{8,15}$/i);
                                if (!pattern.test(data)) {
                                    validate.text("Số điện thoại không hợp lệ");
                                } else {
                                    validate.text("");
                                }
                            }
                            if (name == "OldPass") {
                                $.post("../Account/CheckLogin", { "account": $("#account").text(), "password": data }, function (data) {
                                    if (data != "") {
                                        validate.text("Vui lòng xác nhận đúng mật khẩu của bạn để tiếp tục.");
                                    } else {
                                        validate.text(data);
                                    }
                                });
                            }
                            if (name == "NewPass") {
                                var pattern1 = new RegExp(/^.{8,}$/g);
                                var pattern2 = new RegExp(/^(?=.*[A-Z])/g);
                                var pattern3 = new RegExp(/^(?=.*\d)/g);
                                if (!pattern1.test(data)) {
                                    validate.text("Mật khẩu phải có độ dài 8 ký tự trở lên");
                                } else if (!pattern3.test(data)) {
                                    validate.text("Mật khẩu phải có 1 ký tự số");
                                } else if (!pattern2.test(data)) {
                                    validate.text("Mật khẩu phải có 1 ký tự chữ in hoa");
                                } else {
                                    validate.text("");
                                }
                            }
                            if (name == "RePass") {
                                if (data != $("input[name=NewPass]").val()) {
                                    validate.text("Mật khẩu không khớp");
                                } else {
                                    validate.text("");
                                }
                            }
                        } else {
                            validate.text("");
                        }
                    });
                    $(".save-info").on("click", function () {
                        var count = 0;
                        $.when($(".text-danger").each(function () {
                            var data = $(this).text();
                            if (data != "") {
                                count--;
                            } else {
                                count++;
                            }
                        })).done(function () {
                            if (count == 4) {
                                $.post("../Account/UpdateProfile", {
                                    "name": $("input[name=Name]").val(),
                                    "email": $("#account").text(),
                                    "phone": $("input[name=Phone]").val(),
                                    "address": $("input[name=Address]").val(),
                                    "oldpass": $("input[name=OldPass]").val(),
                                    "newpass": $("input[name=RePass]").val()
                                }, function () {
                                    $(".save-info").text("Đã lưu thông tin tài khoản").removeClass("btn-warning").addClass("btn-success").attr("data-original-title", "");
                                    $('#demo').collapse("hide");
                                    $("input[name=NewPass]").val("");
                                    $("input[name=OldPass]").val("");
                                    $("input[name=RePass]").val("");
                                });
                            }
                        });

                    });
                    $(".validate").on("focus", function () {
                        if ($(".save-info").text() != "Lưu thông tin cá nhân") {
                            $(".save-info").text("Lưu thông tin cá nhân").addClass("btn-warning").removeClass("btn-success").attr("data-original-title", "Lưu thông tin cá nhân");
                        }
                    });
                    $('#profile').modal("show");
                });
            });

            $(".dictionary-search-button").on("click", function () {
                $(".dictionary-search-jp").toggleClass("dictionary-search-jp-open");
                if($(".dictionary-search-jp").hasClass("dictionary-search-jp-open")){
                    $("#dictionary-search-background").tooltip("destroy");
                } else {
                    $("#dictionary-search-background").tooltip();
                }
                
            });
            $(document).on("click",".up-down", function () {
                $(this).children("i").toggleClass("glyphicon-chevron-down glyphicon-chevron-right");
            });
            $("#dictionary-search-text").one("input", function () {
                if ($(".nav-pills > li.active").attr('idt') == "0") {
                    $(".tab-pane").addClass("active in");
                }
            });
            $("#dictionary-search-text").on("change", function () {
                $.when($(".tab-content").html("")).done(function () {
                    if ($("#dictionary-search-text").val() != "") {
                        var search = "";
                        $.when($.getJSON("../Dic/DicSearch", {
                            "textSearch": $("#dictionary-search-text").val()
                        }, function (data) {
                                if (data != null || data != "") {
                                    $.each(data, function (key, value) {
                                        if (key == "ListWord") {
                                            search += "" +
                                                "<div id='word' class='tab-pane fade active in all'>" +
                                                "<a class='up-down' data-toggle='collapse' data-target='#word-door'><i class='glyphicon glyphicon-chevron-down'></i> Từ vựng</a>" +
                                                "<div id='word-door' class='collapse in'>";
                                            $.each(value, function (key, value) {
                                                search += "<div class='dic-item' tdetail='1' detail='" + value.ID + "'>";
                                                if (value.Word != value.Reading) {
                                                    search += "<div class='top'><p class='carry'>" + value.Word + "</p><p class='support'> (" + value.Reading + ")</p></div>";
                                                }
                                                else {
                                                    search += "<div class='top'><p class='carry'>" + value.Word + " </p></div>";
                                                }
                                                if (value.Type != '') {
                                                    search += "<div class='meaning-light'>[<span>" + value.Type + "</span>]</div><br/>";
                                                }
                                                search += "<div class='meaning'>" + value.Meaning + " </div><br/>" +
                                                "</div>";
                                            });
                                            search += "</div>" +
                                            "</div>";
                                        }
                                        if (key == "ListKanji") {
                                            search += "" +
                                                "<div id='kanji' class='tab-pane fade active in all'>" +
                                                "<a class='up-down' data-toggle='collapse' data-target='#kanji-door'><i class='glyphicon glyphicon-chevron-down'></i> Kanji</a>" +
                                                "<div id='kanji-door' class='collapse in'>";
                                            $.each(value, function (key, value) {
                                                search += "<div class='dic-item' tdetail='2' detail='" + value.ID + "'>" +
                                                        "<div class='top'><p class='carry'>" + value.Kanji + "</p><p class='support'> (" + value.Sino + ")</p></div>";
                                                if (value.Meaning != '') {
                                                    search += "<div class='dic-icon dic-icon-green'>Nghĩa</div><div class='meaning'>" + value.Meaning + "</div><br/>";
                                                }
                                                if (value.Onyomi != '') {
                                                    search += "<div class='dic-icon dic-icon-red'>On</div><div class='meaning'>" + value.Onyomi + "</div><br/>";
                                                }
                                                if (value.Kunyomi != '') {
                                                    search += "<div class='dic-icon dic-icon-yellow'>Kun</div><div class='meaning'>" + value.Kunyomi + "</div><br/>";
                                                }
                                                search += "</div>";
                                            });
                                            search += "</div>" +
                                        "</div>";
                                        }
                                        if (key == "ListGrammar") {
                                            search += "<div id='grammar' class='tab-pane fade active in all'>" +
                                            "<a class='up-down' data-toggle='collapse' data-target='#grammar-door'><i class='glyphicon glyphicon-chevron-down'></i> Ngữ pháp</a>" +
                                            "<div id='grammar-door' class='collapse in'>";
                                            $.each(value, function (key, value) {
                                                search += "<div class='dic-item' tdetail='3' detail='" + value.ID + "'>";
                                                if (value.StructureKana != value.StructureKanji && value.StructureKana != '') {
                                                    search += "<div class='top'><p class='carry'>" + value.StructureKanji + "</p><p class='support'>(" + value.StructureKana + ")</p></div>";
                                                }
                                                else {
                                                    search += "<div class='top'><p class='carry'>" + value.StructureKanji + "</p></div>";
                                                }
                                                if (value.Meaning != '') {
                                                    search += "<div class='dic-icon dic-icon-green'>Nghĩa</div><div class='meaning'>" + value.Meaning + "</div><br />";
                                                }
                                                if (value.Usage != '') {
                                                    search += "<div class='dic-icon dic-icon-red'>Cấu trúc</div><div class='meaning'>" + value.Usage + "</div><br />";
                                                }
                                                search += "</div>";
                                            });
                                            search += "</div>" +
                                        "</div>";
                                        }
                                    });
                                }
                                else {
                                    search += "" +
                                        "<div id='word' class='tab-pane fade active in all'>" +
                                        "<a class='up-down' data-toggle='collapse' data-target='#word-door'><i class='glyphicon glyphicon-chevron-down'></i> Từ vựng</a>" +
                                        "<div id='word-door' class='collapse in'>" +
                                        "</div>" +
                                        "</div>" +
                                        "<div id='kanji' class='tab-pane fade active in all'>" +
                                        "<a class='up-down' data-toggle='collapse' data-target='#kanji-door'><i class='glyphicon glyphicon-chevron-down'></i> Kanji</a>" +
                                        "<div id='kanji-door' class='collapse in'>" +
                                        "</div>" +
                                        "</div>" +
                                        "<div id='grammar' class='tab-pane fade active in all'>" +
                                        "<a class='up-down' data-toggle='collapse' data-target='#grammar-door'><i class='glyphicon glyphicon-chevron-down'></i> Ngữ pháp</a>" +
                                        "<div id='grammar-door' class='collapse in'>" +
                                        "</div>" +
                                        "</div>";
                                }
                                $(".tab-content").html(search);
                        })).done(function () {
                            var active = $(".t-dic > li.active").attr("idt");
                            if (active == "1") {
                                $("#word").siblings().removeClass("active in");
                            }
                            if (active == "2") {
                                $("#kanji").siblings().removeClass("active in");
                            }
                            if (active == "3") {
                                $("#grammar").siblings().removeClass("active in");
                            }
                        });
                    }
                });
            });
            $(document).on("click", ".dic-item", function () {
                var id = $(this).attr("detail");
                var type = $(this).attr("tdetail");
                $("#myModal").find(".modal-body").load("/Dic/DicSearchByID", {
                    "id": id,
                    "type": type
                }, function () {
                    $("#myModal").modal("show");
                });
            });
        });
        $("#profile").modal({ backdrop: "static" }).modal("hide");
    </script>
</body>
</html>