﻿
@{
    Layout = null;
}
<div class="tab-content">
    @{ if (ViewBag.Dictionary != null)
        {
            <div id="word" class="tab-pane fade active in all">
                <a class="up-down" data-toggle="collapse" data-target="#word-door"><i class="glyphicon glyphicon-chevron-down"></i> Từ vựng</a>
                <div id="word-door" class="collapse in">
                    @for (var i = 0; i < ViewBag.Dictionary.ListWord.Count; i++)
                    {
                        <div class='dic-item' tdetail='1' detail="@ViewBag.Dictionary.ListWord[i].ID">
                        @if (ViewBag.Dictionary.ListWord[i].Word != ViewBag.Dictionary.ListWord[i].Reading)
                        {
                            <div class='top'><p class='carry'>@ViewBag.Dictionary.ListWord[i].Word</p><p class='support'> (@ViewBag.Dictionary.ListWord[i].Reading)</p></div>
                        }
                        else
                        {
                            <div class='top'><p class='carry'>@ViewBag.Dictionary.ListWord[i].Word </p></div>
                        }
                        @if (ViewBag.Dictionary.ListWord[i].Type != "")
                        {
                            <div class='meaning-light'>[<span>@ViewBag.Dictionary.ListWord[i].Type</span>]</div><br/>
                        }
                        <div class='meaning'>@ViewBag.Dictionary.ListWord[i].Meaning </div><br/>
                        </div>
                    }
                </div>
            </div>
            <div id="kanji" class="tab-pane fade active in all">
                <a class="up-down" data-toggle="collapse" data-target="#kanji-door"><i class="glyphicon glyphicon-chevron-down"></i> Kanji</a>
                <div id="kanji-door" class="collapse in">
                    @for (var i = 0; i < ViewBag.Dictionary.ListKanji.Count; i++)
                    {
                        <div class='dic-item' tdetail='2' detail='@ViewBag.Dictionary.ListKanji[i].ID'>
                        <div class='top'><p class='carry'>@ViewBag.Dictionary.ListKanji[i].Kanji</p><p class='support'> (@ViewBag.Dictionary.ListKanji[i].Sino)</p></div>
                        @if (ViewBag.Dictionary.ListKanji[i].Meaning != "")
                        {
                            <div class='dic-icon dic-icon-green'>Nghĩa</div><div class='meaning'>@ViewBag.Dictionary.ListKanji[i].Meaning</div><br/>
                        }
                        @if (ViewBag.Dictionary.ListKanji[i].Onyomi != "")
                        {
                            <div class='dic-icon dic-icon-red'>On</div><div class='meaning'>@ViewBag.Dictionary.ListKanji[i].Onyomi</div><br/>
                        }
                        @if (ViewBag.Dictionary.ListKanji[i].Kunyomi != "")
                        {
                            <div class='dic-icon dic-icon-yellow'>Kun</div><div class='meaning'>@ViewBag.Dictionary.ListKanji[i].Kunyomi</div><br/>
                        }
                        </div>
                    }
                </div>
            </div>
            <div id="grammar" class="tab-pane fade active in all">
                <a class="up-down" data-toggle="collapse" data-target="#grammar-door"><i class="glyphicon glyphicon-chevron-down"></i> Ngữ pháp</a>
                <div id="grammar-door" class="collapse in">
                    @for (var i = 0; i < ViewBag.Dictionary.ListGrammar.Count; i++)
                    {
                        <div class='dic-item' tdetail='3' detail='@ViewBag.Dictionary.ListGrammar[i].ID'>

                            @if (ViewBag.Dictionary.ListGrammar[i].StructureKana != ViewBag.Dictionary.ListGrammar[i].StructureKanji && ViewBag.Dictionary.ListGrammar[i].StructureKana != "")
                            {
                            <div class='top'><p class='carry'>@ViewBag.Dictionary.ListGrammar[i].StructureKanji</p><p class='support'>(@ViewBag.Dictionary.ListGrammar[i].StructureKana)</p></div>
                            }
                            else
                            {
                            <div class='top'><p class='carry'>@ViewBag.Dictionary.ListGrammar[i].StructureKanji</p></div>
                            }
                            @if (ViewBag.Dictionary.ListGrammar[i].Meaning != "")
                            {
                            <div class='dic-icon dic-icon-green'>Nghĩa</div><div class='meaning'>@ViewBag.Dictionary.ListGrammar[i].Meaning</div><br />
                            }
                            @if (ViewBag.Dictionary.ListGrammar[i].Usage != "")
                            {
                            <div class='dic-icon dic-icon-red'>Cấu trúc</div><div class='meaning'>@ViewBag.Dictionary.ListGrammar[i].Usage</div><br />
                            }

                        </div>
                    }
                </div>
            </div>
        }
    }
    
</div>
