﻿@{
    ViewBag.Title = "Danh sách bài học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/circle-prog.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg7.png");
        }

        .panel-title {
            min-height: 40px;
        }

        .back {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .panel-body {
            color: rgb(220,235,250);
            margin-left: 15px;
            margin-right: 15px;
        }

        .learned {
            background-color: rgb(175,250,125);
            color: rgb(0,0,0);
            border-radius: 4px;
            padding: 2px;
            
        }

        .unlearned {
            color: rgb(225,75,25);
            border-radius: 4px;
            border-color: rgb(225,75,25);
            border-width: 2px;
            border-style: solid;
            padding: 2px;
        }

        .r1 {
            background-color: rgb(140,30,20);
            color: rgb(250,225,225);
        }

        .r2 {
            background-color: rgb(40,140,20);
            color: rgb(225,250,225);
        }

        .r3 {
            background-color: rgb(160,165,25);
            color: rgb(250,250,225);
        }

        .spacer {
            cursor: pointer;
        }

        .panel-body {
            line-height: 2;
        }

        .tool-pc {
            width: 30%;
            right: 0;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            transform: translateY(-100%);
            align-self: center;
            align-items: center;
            align-content: center;
        }

        .tool-mobile {
            width: 40%;
            right: 0;
            position: absolute;
            transform: translateY(-100%);
            align-self: center;
            align-items: center;
            align-content: center;
            display: none;
        }

        .tool-right {
            min-width: 50px;
        }

        .score-m {
            border-radius: 5px;
            padding: 2%;
            display: block;
            text-align: right;
        }

        .progress-m {
            border-radius: 5px;
            background-color: rgb(50,75,100);
            color: rgb(225,237,250);
            padding: 2%;
            display: block;
            text-align: right;
        }

        .score {
            border-radius: 10px;
            padding: 2%;
            
            width: 36%;
            margin-left: 2%;
            margin-right: 2%;
            text-align: right;
            
        }
        .score-num {
            font-size: 26px;
            font-weight: 800;
        }

        .prog {
            margin-bottom: 0;
            text-align: center;
            
        }
        .learn {
            margin-left: 2%;
            margin-right: 2%;
        }
        .emptyscore {
            width: 40%;
        }
        /*.entry-header{
        height: 280px;
    }*/
        a {
            cursor: pointer;
        }

        .bg-overlay {
            height: 300px;
            margin-top: -75px;
        }

        .intro-title {
            font-family: "Open Sans Light", sans-serif;
            font-size: 48px;
            color: rgb(240,250,230);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
            padding-top: 75px;
        }

        .intro-text {
            font-size: 24px;
            color: rgb(230,240,220);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }

        .panel-title {
            width: 60%;
            font-size: 20px !important;
            color: rgb(240,245,250);
        }

        .panel-text {
            width: 60%;
            margin-top: 5px;
            font-size: 16px;
            color: rgb(200,205,210);
        }

        .spacer {
            cursor: pointer;
        }

        @@media (max-width: 1299px) {
            .score {
                font-size: 14px;
            }
            .score-num {
                font-size: 16px;
            }
        }

        @@media (max-width: 767px) {
            .intro-title {
                font-size: 32px;
            }
            .intro-text {
                font-size: 16px;
            }
        }

        @@media (max-width: 767px) {
            .tool-pc {
                display: none;
            }

            .tool-mobile {
                display: inline-flex;
            }
            
            .learn {
                width: 50%;
            }

            .panel-title {
                width: 100%;
            }
            
        }
    </style>
</head>
<body>
    <section class="" style="background-image: url('../../Content/Resources/Image/course.jpg');">
        <div class="bg-overlay">
            <div class="container">
                <div class="intro-wrap">
                    <h3 class="intro-title">@ViewBag.Course.Name</h3>
                    <div class="intro-text"> @ViewBag.Course.Description</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Home Page Accordion Section
        ================================================== -->
    <section class="regular">
        <div class="container">
            <div class="row">
                <div class="btn btn-default col-lg-3 back">
                    << Quay lại danh sách khóa học
                </div>
                <div class="col-md-12 col-lg-12">
                    <article class="card accordion-card course">
                        <div class="accordion-panel">
                            <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
                                @if (@ViewBag.Course.Lessons != null)
                                {
                                    for (var i = 0; i < @ViewBag.Course.Lessons.Count; i++)
                                    {
                                        <div class="panel panel-default" style="background-image: url('/Content/Resources/Image/pat.png');" lid="@ViewBag.Course.Lessons[i].ID">

                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#lesson-@ViewBag.Course.Lessons[i].ID" aria-expanded="true" aria-controls="lesson-@ViewBag.Course.Lessons[i].ID">
                                                <div class="panel-heading" role="tab" id="heading-@ViewBag.Course.Lessons[i].ID">

                                                    <h4 class="panel-title">@Html.Raw(ViewBag.Course.Lessons[i].Name)</h4>
                                                    <div class="panel-text">
                                                        @ViewBag.Course.Lessons[i].Description
                                                    </div>
                                                    <div class="tool-pc">
                                                        @if (ViewBag.Course.Lessons[i].Score != -1)
                                                        {
                                                            if (ViewBag.Course.Lessons[i].Score <= 49)
                                                            {
                                                                <div class="score r1"><span class="score-num">@ViewBag.Course.Lessons[i].Score</span> điểm</div>
                                                            }
                                                            else if (ViewBag.Course.Lessons[i].Score > 49 && ViewBag.Course.Lessons[i].Score < 100)
                                                            {
                                                                <div class="score r2"><span class="score-num">@ViewBag.Course.Lessons[i].Score</span> điểm</div>
                                                            }
                                                            else if (ViewBag.Course.Lessons[i].Score == 100)
                                                            {
                                                                <div class="score r3"><span class="score-num">@ViewBag.Course.Lessons[i].Score</span> điểm</div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="emptyscore"></div>
                                                        }
                                                        <div class="prog">
                                                            @{
                                                                var progText = "";
                                                                var progClassName = "";
                                                                if (ViewBag.Course.Lessons[i].Progress >= 1)
                                                                {
                                                                    progText = ViewBag.Course.Lessons[i].Progress + "%";
                                                                    progClassName = "small c100 p" + ViewBag.Course.Lessons[i].Progress;
                                                                    if (ViewBag.Course.Lessons[i].Progress >= 100)
                                                                    {
                                                                        progClassName += " maxprog";
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    progText = "0%";
                                                                    progClassName = "small c100 p0 zeroprog";
                                                                }
                                                            }

                                                            <div class="@progClassName">
                                                                <span>@progText</span>
                                                                <div class="slice">
                                                                    <div class="bar"></div>
                                                                    <div class="fill"></div>
                                                                </div>
                                                            </div>

                                                            
                                                        </div>
                                                        <div class="btn btn-primary learn">Học</div>
                                                    </div>
                                                    <div class="tool-mobile">
                                                        <div class="btn btn-primary learn">Học</div>
                                                        <div class="tool-right">
                                                            @if (ViewBag.Course.Lessons[i].Score != -1)
                                                            {
                                                                if (ViewBag.Course.Lessons[i].Score <= 49)
                                                                {
                                                                    <div class="score-m r1"><span>@ViewBag.Course.Lessons[i].Score</span>点</div>
                                                                }
                                                                else if (ViewBag.Course.Lessons[i].Score > 49 && ViewBag.Course.Lessons[i].Score < 100)
                                                                {
                                                                    <div class="score-m r2"><span>@ViewBag.Course.Lessons[i].Score</span>点</div>
                                                                }
                                                                else if (ViewBag.Course.Lessons[i].Score == 100)
                                                                {
                                                                    <div class="score-m r3"><span>@ViewBag.Course.Lessons[i].Score</span>点</div>
                                                                }
                                                            }
                                                            @if (ViewBag.Course.Lessons[i].Score >= 0)
                                                            {
                                                                <div class="progress-m"><span>@ViewBag.Course.Lessons[i].Progress</span>%</div>
                                                            }
                                                            else {
                                                                <div class="progress-m"><span>0%</span></div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="lesson-@ViewBag.Course.Lessons[i].ID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@ViewBag.Course.Lessons[i].ID">
                                                <div class="panel-body">
                                                    <p>
                                                        Kanji (đã học @(ViewBag.Course.Lessons[i].UserKanjis == null ? 0 : ViewBag.Course.Lessons[i].UserKanjis.Count) / @ViewBag.Course.Lessons[i].LessonKanjis.Count):
                                                        @for (var u = 0; u < ViewBag.Course.Lessons[i].LessonKanjis.Count; u++)
                                                        {
                                                            var learned = false;
                                                            if (ViewBag.Course.Lessons[i].UserKanjis != null)
                                                            {
                                                                for (var t = 0; t < ViewBag.Course.Lessons[i].UserKanjis.Count; t++)
                                                                {
                                                                    if (ViewBag.Course.Lessons[i].LessonKanjis[u].ID == ViewBag.Course.Lessons[i].UserKanjis[t].KanjiID)
                                                                    {
                                                                        <span class="learned">@ViewBag.Course.Lessons[i].LessonKanjis[u].Kanji</span><span>&nbsp;</span>
                                                                        learned = true;
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            if (learned == false)
                                                            {
                                                                <span class="unlearned">@ViewBag.Course.Lessons[i].LessonKanjis[u].Kanji</span><span>&nbsp;</span>
                                                            }

                                                        }
                                                    </p>
                                                    <p>
                                                        Từ vựng (đã học @(ViewBag.Course.Lessons[i].UserWords == null ? 0 : ViewBag.Course.Lessons[i].UserWords.Count) / @ViewBag.Course.Lessons[i].LessonWords.Count):
                                                        @for (var u = 0; u < ViewBag.Course.Lessons[i].LessonWords.Count; u++)
                                                        {
                                                            var learned = false;
                                                            if (ViewBag.Course.Lessons[i].UserWords != null)
                                                            {
                                                                for (var t = 0; t < ViewBag.Course.Lessons[i].UserWords.Count; t++)
                                                                {
                                                                    if (ViewBag.Course.Lessons[i].LessonWords[u].ID == ViewBag.Course.Lessons[i].UserWords[t].WordID)
                                                                    {
                                                                        <span class="learned">@ViewBag.Course.Lessons[i].LessonWords[u].Word</span><span>&nbsp;</span>
                                                                        learned = true;
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            if (learned == false)
                                                            {
                                                                <span class="unlearned">@ViewBag.Course.Lessons[i].LessonWords[u].Word</span><span>&nbsp;</span>
                                                            }

                                                        }
                                                    </p>
                                                    <p>Ngữ pháp (đã học @(ViewBag.Course.Lessons[i].UserGrammars == null ? 0 : ViewBag.Course.Lessons[i].UserGrammars.Count) / @ViewBag.Course.Lessons[i].LessonGrammars.Count):</p>
                                                    @for (var u = 0; u < ViewBag.Course.Lessons[i].LessonGrammars.Count; u++)
                                                    {
                                                        var learned = false;
                                                        if (ViewBag.Course.Lessons[i].UserGrammars != null)
                                                        {
                                                            for (var t = 0; t < ViewBag.Course.Lessons[i].UserGrammars.Count; t++)
                                                            {
                                                                if (ViewBag.Course.Lessons[i].LessonGrammars[u].ID == ViewBag.Course.Lessons[i].UserGrammars[t].GrammarID)
                                                                {
                                                                    <span class="learned">・ @ViewBag.Course.Lessons[i].LessonGrammars[u].StructureKanji</span>
                                                                    <br />
                                                                    learned = true;
                                                                    break;
                                                                }
                                                            }
                                                        }

                                                        if (learned == false)
                                                        {
                                                            <span class="unlearned">・ @ViewBag.Course.Lessons[i].LessonGrammars[u].StructureKanji</span>
                                                            <br/>
                                                        }
                                                    }
                                                    <div class="divider-10"></div>
                                                    <div class="divider-10"></div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
        function learnTime() {
            $.post("/Study/UpdateTime", function () { });
        }
        $(function () {
            setInterval("learnTime()", 60 * 1000);
        });
        $(".panel").on("click", function (e) {
            var lesson = $(this).attr("lid");
            if ($(e.target).hasClass('learn')) {
                $.redirect('../Study/Lesson', { "lessonID": lesson, "courseID": @Html.Raw(ViewBag.Course.ID) });
                e.stopPropagation();
                return false;
            }

        });
        $(document).on("click", ".back", function () {
            $.redirect('../Study');
        });
    </script>
</body>

