﻿@{
    ViewBag.Title = "Bài học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css" />
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dmak.js"></script>
    <script src="~/Content/assets/js/ResponsiveVoice.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg7.png");
        }

        .jp-usage-example {
            font-size: 20px;
            margin-left: 50px;
        }

        .jp-usage-trans {
            font-size: 18px;
            font-style: italic;
            color: rgb(60,80,120);
            margin-left: 60px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        .modal-stroke {
            text-align: center;
        }

        .carousel-inner {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
            text-align: center;
            min-height: 450px;
            width: 80%;
            margin-left: 10%;
        }

        .relearn {
            margin-left: 10%;
        }

        .next-card {
            margin-right: 10%;
            z-index:1400;
        }

        .carousel-inner > .item {
            -webkit-transition: 0.4s ease-in-out left;
            -moz-transition: 0.4s ease-in-out left;
            -o-transition: 0.4s ease-in-out left;
            transition: 0.4s ease-in-out left;
        }

        .kanji1 {
            font-size: 200px;
            font-family: "Stroke Order";
        }
        .kanji1b {
            font-size: 48px;
            color: rgb(20,30,40);
        }
        .kanji2 {
            font-size: 20px;
            color: rgb(100,125,150);
        }
        .kanji3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .kanji4 {
            font-size: 20px;
        }
        .kanji5 {
            font-size: 20px;
        }
        .kanji6 {
            margin-top: 10px;
        }
        .kanji7 {
            font-size: 18px;
            color: rgb(100,100,100);
            margin-bottom: 10px;
        }

        .kanji-prac1 {
            font-size: 60px;
        }
        .kanji-prac2 {
            font-size: 20px;
            color: rgb(100,125,150);
        }

        .word1 {
            font-size: 48px;
        }
        .word2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .word3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .word4 {
            font-size: 20px;
        }

        .word-prac1 {
            font-size: 48px;
        }
        .word-prac2 {
            font-size: 20px;
            color: rgb(100,125,150);
        }

        .grammar1 {
            font-size: 48px;
        }
        .grammar2 {
            font-size: 24px;
        }
        .grammar3 {
            font-size: 20px;
        }
        .grammar4 {
            font-size: 20px;
        }
        .grammar5 {
            font-size: 18px;
        }
        .grammar6 {
            font-size: 18px;
        }


        .dialogue1 {
            font-size: 20px;
            text-align: left;
            width: 90%;
            margin-left: 5%;
        }

        
        .dialogue-sect {
            text-align: center;
            margin-top: 30px;
            color: rgb(100,125,150);
        }

        .dialogue-title {
            text-align: center;
            font-size: 36px;
        }

        .dialogue-content {
            text-align: left;
            font-size: 24px;
        }

        .dialogue-trans-title {
            text-align: center;
            font-size: 30px;
        }

        .dialogue-trans {
            text-align: left;
            font-size: 20px;
        }

        .dialogue-explanation-title {
            font-family: "Open Sans Light";
            color: #E6FADC;
            font-size: 36px;
            text-align: center;
            border-radius: 25px;
            background-color: #889977;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }





        .culture1 {
            font-size: 20px;
            text-align: left;
            width: 90%;
            margin-left: 5%;
        }
        .quiz1 {
            font-size: 20px;
        }

        .note-title {
            font-family: "Open Sans Light";
            color: #E6FADC;
            font-size: 36px;
            text-align: center;
            border-radius: 25px;
            background-color: #889977;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }

        .kaisetsu {
            margin-top: 30px;
            background-color: rgb(175,225,125);
            text-align: left;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .kaisetsu-title {
            color: rgb(50,75,25);
            font-size: 24px;
            padding-left: 10px;
        }

        .kaisetsu-desc {
            color: rgb(75,125,50);
            font-size: 18px;
            padding-left: 30px;
        }

        .r1 {
            background-color: #aa253d;
        }

        .r2 {
            background-color: #12ba2b;
        }

        .r3 {
            background-color: #bab412;
        }

        .back {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .first {
            min-width: 300px;
        }

        .nav-pillsb > li > a, .nav-pillsb > li > a:hover, .nav-pillsb > li > a:focus {
            color: #000000;
            font-size: 22px;
            border-radius: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: rgb(50,60,70);
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .nav-pillsb > li > a:hover {
            background-color: rgb(200,225,250);
        }

        /* Choose correct answer */
        .nav-pillsb > li.active > a, .nav-pillsb > li.active > a:hover, .nav-pillsb > li.active > a:focus {
            color: #225522;
            background-color: #9af475;
        }

        /* Choose wrong answer -> Display of wrong answer */
        .nav-pillsb > li.wrong > a, .nav-pillsb > li.wrong > a:hover, .nav-pillsb > li.wrong > a:focus {
            color: #ffffff;
            background-color: #d9534f;
        }

        /* Disabled answers */
        .nav-pillsb > li.disabled > a, .nav-pillsb > li.disabled > a:hover, .nav-pillsb > li.disabled > a:focus {
            color: #999999;
        }

        /* Choose wrong answer -> Display of correct answer */
        .nav-pillsb > li.correct > a, .nav-pillsb > li.correct > a:hover, .nav-pillsb > li.correct > a:focus {
            color: #225522;
            background-color: #9af475;
        }

        .sum-wrong {
            background-color: #ffc8c8;
        }

        .sum-correct {
            background-color: #9af475;
        }

        .sum-wrongb {
            width: 100%;
            display: inline-flex;
            background-color: #ffc8c8;
        }
        .sum-correctb {
            width: 100%;
            background-color: #9af475;
            display: inline-flex;
        }

        
        a {
            cursor: pointer;
        }

        .carousel {
            margin-left: auto;
            margin-right: auto;
        }

        #learn-lesson {
            width: 100%;
        }

        .answer {
            min-height: 1px;
            width: 100%;
            display: inline-block;
        }

        .answer > li {
            width: 100%;
            float: left;
            display: inline;
        }

        .mobile {
            display: flex;
        }

        .pc {
            display: none;
        }

        .rip {
            text-align: center;
        }

        .rip2 {
            text-align: center;
        }

        @@media (max-width: 400px) {
            .carousel-inner{
                width: 110%;
                margin-left: -5%;
            }
        }

        @@media (min-width: 401px) {
            .carousel-inner{
                width: 96%;
                margin-left: 2%;
            }
        }

        @@media (min-width: 500px) {
            .carousel-inner{
                width: 80%;
                margin-left: 10%;
            }
        }
        @@media (max-width: 768px) {
             .m-sum-wrongb{
            width: 100%;
            background-color: #ffc8c8;
        }
        .m-sum-correctb {
            width: 100%;
            background-color: #9af475;
        }
        }
        @@media (min-width: 768px) {
            .answer > li {
                width: 100%;
                float: left;
            }

            .mobile {
                display: flex;
            }

            .pc {
                display: none;
            }

            .rip {
                text-align: right;
            }

            .rip2 {
                text-align: left;
            }
        }

        @@media (min-width: 992px) {
            .answer > li {
                width: 100%;
                float: left;
            }

            .mobile {
                display: none;
            }

            .pc {
                display: flex;
            }
        }

        @@media (min-width: 1200px) {
            .answer > li {
                width: 100%;
                float: left;
            }

            .mobile {
                display: none;
            }

            .pc {
                display: flex;
            }
        }
    </style>
</head>
<body>
    @{
        var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
        var LessonKanji = jss.Serialize(ViewBag.LessonKanji);
        var LessonWord = jss.Serialize(ViewBag.LessonWord);
        var LessonQuiz = jss.Serialize(ViewBag.LessonQuiz);
    }
    <div id="learn-lesson" class="container">
        <div class="row">
            <div class="btn btn-default col-lg-3 back">
                << Quay lại danh sách bài học
            </div>
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide">
                    <!-- Indicators -->
                    <ul class="nav nav-pills pc">
                        <li data-target="#myCarousel" data-slide-to="" class="to-kanji active"><a data-toggle="pill">Kanji</a></li>
                        <li data-target="#myCarousel" data-slide-to="" class="to-word"><a data-toggle="pill">Từ vựng</a></li>
                        <li data-target="#myCarousel" data-slide-to="" class="to-grammar"><a data-toggle="pill">Ngữ pháp</a></li>
                        <li data-target="#myCarousel" data-slide-to="" class="to-dialogue"><a data-toggle="pill">Hội thoại</a></li>
                        <li data-target="#myCarousel" data-slide-to="" class="to-culture"><a data-toggle="pill">Văn hóa</a></li>
                        <li data-target="#myCarousel" data-slide-to="" class="to-test"><a data-toggle="pill">Kiểm tra</a></li>
                    </ul>
                    <div class="form-group mobile">
                        <select class="form-control" id="sel1" data-target="#myCarousel" data-slide-to="">
                            <option value="" class="kanji-index" selected>Kanji</option>
                            <option value="" class="word-index">Từ vựng</option>
                            <option value="" class="grammar-index">Ngữ pháp</option>
                            <option value="" class="dialogue-index">Hội thoại</option>
                            <option value="" class="culture-index">Văn hóa</option>
                            <option value="" class="test-index">Kiểm tra</option>
                        </select>
                    </div>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @{Random rnd = new Random(); int size = 0;}
                        @for (var i = 0; i < ViewBag.LessonKanji.Count; i++)
                        {
                            List<string[]> answers = new List<string[]>();
                            for (var j = i; j < i + 3; j++)
                            {
                                if (j < ViewBag.LessonKanji.Count)
                                {
                                    if (ViewBag.LessonKanji[j].Onyomi != "")
                                    {
                                        answers.Add(new string[] { "" + j, ViewBag.LessonKanji[j].Kanji, "1", ViewBag.LessonKanji[j].Onyomi, ViewBag.LessonKanji[j].WOnyomi1, ViewBag.LessonKanji[j].WOnyomi2 });
                                    }
                                    if (ViewBag.LessonKanji[j].Kunyomi != "")
                                    {
                                        answers.Add(new string[] { "" + j, ViewBag.LessonKanji[j].Kanji, "2", ViewBag.LessonKanji[j].Kunyomi, ViewBag.LessonKanji[j].WKunyomi1, ViewBag.LessonKanji[j].WKunyomi2 });
                                    }
                                    <div class="item kanji" tex="@ViewBag.LessonKanji[j].Kanji">
                                        <div class="row text-center">
                                            @{ var mneLink = "/Content/Resources/Image/Kanji/" + ViewBag.LessonKanji[j].Kanji + ".png"; }
                                            <div class="col-md-6 rip">
                                                <div class="col-sm-12 kanji1" id="kanji-@ViewBag.LessonKanji[j].Kanji">@ViewBag.LessonKanji[j].Kanji</div>
                                            </div>
                                            <div class="col-md-6 rip2">
                                                <div class="col-sm-12 kanji1b">@ViewBag.LessonKanji[j].Kanji</div>
                                                <div class="col-sm-12 kanji2"><span>[</span>@ViewBag.LessonKanji[j].Sino<span>]</span></div>
                                                <div class="col-sm-12 kanji3">@ViewBag.LessonKanji[j].Meaning</div>
                                                @if (ViewBag.LessonKanji[j].Onyomi != "")
                                                {
                                                    <div class="col-sm-12 kanji4"><div class='dic-icon dic-icon-red'>On</div> @ViewBag.LessonKanji[j].Onyomi</div>
                                                }
                                                @if (ViewBag.LessonKanji[j].Kunyomi != "")
                                                {
                                                    <div class="col-sm-12 kanji5"><div class='dic-icon dic-icon-yellow'>Kun</div> @ViewBag.LessonKanji[j].Kunyomi</div>
                                                }

                                                <div class="col-sm-12 kanji6"><img src="@mneLink" width="50%" height="50%"></div>
                                                <div class="col-sm-12 kanji7">@ViewBag.LessonKanji[j].Mnemonic</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            size = answers.Count;
                            for (var j = 0; j < size; j++)
                            {
                                int x = rnd.Next(answers.Count);
                                int y = rnd.Next(3, answers[x].Length);
                                String position1 = answers[x][y];
                                answers[x] = answers[x].Where((val, w) => w != y).ToArray();
                                int z = rnd.Next(3, answers[x].Length);
                                String position2 = answers[x][z];
                                answers[x] = answers[x].Where((val, w) => w != z).ToArray();
                                String position3 = answers[x][3];
                                y = 0;
                                z = 0;
                                String type = "";
                                if (@answers[x][2].Equals("1"))
                                {
                                    type = "On'yomi";
                                }
                                else if (@answers[x][2].Equals("2"))
                                {
                                    type = "Kun'yomi";
                                }
                                <div class="item kanji practice">
                                    <div class="row">
                                        <div class="col-sm-12 kanji-prac1"> @answers[x][1]</div>
                                        <div class="col-sm-12 kanji-prac2">Hãy lựa chọn @type của Kanji trên:</div>
                                        <div class="col-sm-12 kanji-prac3">
                                            <ul class="nav nav-pillsb answer" qid="@answers[x][0]" qtype="@answers[x][2]">
                                                <li><a>@position1</a></li>
                                                <li><a>@position2</a></li>
                                                <li><a>@position3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                answers.RemoveAt(x);
                                x = 0;
                            }
                            i = i + 2;
                        }

                        <div class="item kanji review">
                            <div class="row">
                                <div class="col-sm-12">Tổng kết những gì bạn đã học phần Kanji</div>
                                <div class="col-sm-12">
                                    <table border="1" class="table" id="kanji-review">
                                        <thead>
                                            <tr class="info">
                                                <th>Kanji</th>
                                                <th>Âm Hán Việt</th>
                                                <th>Nghĩa</th>
                                                <th>On'yomi</th>
                                                <th>Kun'yomi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < ViewBag.LessonKanji.Count; i++)
                                            {
                                                <tr kid="@ViewBag.LessonKanji[i].ID">
                                                    <td class="first">@ViewBag.LessonKanji[i].Kanji</td>
                                                    <td>@ViewBag.LessonKanji[i].Sino</td>
                                                    <td>@ViewBag.LessonKanji[i].Meaning</td>
                                                    <td><div>@ViewBag.LessonKanji[i].Onyomi</div></td>
                                                    <td><div>@ViewBag.LessonKanji[i].Kunyomi</div></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @for (var i = 0; i < ViewBag.LessonWord.Count; i++)
                        {
                            List<string[]> answers = new List<string[]>();
                            for (var j = i; j < i + 5; j++)
                            {
                                if (j < ViewBag.LessonWord.Count)
                                {
                                    if (ViewBag.LessonWord[j].Word != ViewBag.LessonWord[j].Reading)
                                    {
                                        answers.Add(new string[] { "" + j, ViewBag.LessonWord[j].Word, "1", ViewBag.LessonWord[j].Reading, ViewBag.LessonWord[j].WReading1, ViewBag.LessonWord[j].WReading2 });
                                        answers.Add(new string[] { "" + j, ViewBag.LessonWord[j].Word, "2", ViewBag.LessonWord[j].Meaning, ViewBag.LessonWord[j].WMeaning1, ViewBag.LessonWord[j].WMeaning2 });
                                    }
                                    else
                                    {
                                        answers.Add(new string[] { "" + j, ViewBag.LessonWord[j].Word + " ", "1", ViewBag.LessonWord[j].Reading, ViewBag.LessonWord[j].WReading1, ViewBag.LessonWord[j].WReading2 });
                                        answers.Add(new string[] { "" + j, ViewBag.LessonWord[j].Word, "2", ViewBag.LessonWord[j].Meaning, ViewBag.LessonWord[j].WMeaning1, ViewBag.LessonWord[j].WMeaning2 });
                                    }
                                    <div class="item word" tex="@ViewBag.LessonWord[j].Word" rea="@ViewBag.LessonWord[j].Reading">
                                        <div class="row text-center">
                                            <div class="col-sm-12 word1">@ViewBag.LessonWord[j].Word</div>
                                            <div class="col-sm-12 word2">@ViewBag.LessonWord[j].Reading</div>
                                            <div class="col-sm-12 word3">@ViewBag.LessonWord[j].Type</div>
                                            <div class="col-sm-12 word4">@ViewBag.LessonWord[j].Meaning</div>
                                            <div class="btn btn-default readword-btn">
                                                Nghe phát âm
                                            </div>
                                            <div class="btn btn-default drawword-btn" data-toggle="modal" data-target="#writingModal">
                                                Xem cách viết
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            size = answers.Count;
                            for (var j = 0; j < size; j++)
                            {
                                int x = rnd.Next(answers.Count);
                                int y = rnd.Next(3, answers[x].Length);
                                String position1 = answers[x][y];
                                answers[x] = answers[x].Where((val, w) => w != y).ToArray();
                                int z = rnd.Next(3, answers[x].Length);
                                String position2 = answers[x][z];
                                answers[x] = answers[x].Where((val, w) => w != z).ToArray();
                                String position3 = answers[x][3];
                                y = 0;
                                z = 0;
                                String type = "";
                                if (@answers[x][2].Equals("1"))
                                {
                                    type = "cách đọc";
                                }
                                else if (@answers[x][2].Equals("2"))
                                {
                                    type = "nghĩa";
                                }
                                <div class="item word practice">
                                    <div class="row">
                                        <div class="col-sm-12 word-prac1"> @answers[x][1]</div>
                                        <div class="col-sm-12 word-prac2">Hãy lựa chọn @type của từ vựng trên:</div>
                                        <div class="col-sm-12 word-prac3">
                                            <ul class="nav nav-pillsb answer" qid="@answers[x][0]" qtype="@answers[x][2]">
                                                <li><a>@position1</a></li>
                                                <li><a>@position2</a></li>
                                                <li><a>@position3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                answers.RemoveAt(x);
                                x = 0;
                            }
                            i = i + 4;
                        }

                        <div class="item word review">
                            <div class="row">
                                <div class="col-sm-12">Tổng kết những gì bạn đã học phần Từ vựng</div>
                                <div class="col-sm-12">
                                    <table border="1" class="table" id="word-review">
                                        <thead>
                                            <tr class="info">
                                                <th>Từ vựng</th>
                                                <th>Từ loại</th>
                                                <th>Cách đọc</th>
                                                <th>Nghĩa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < ViewBag.LessonWord.Count; i++)
                                            {
                                                <tr wid="@ViewBag.LessonWord[i].ID">
                                                    <td class="first">@ViewBag.LessonWord[i].Word</td>
                                                    <td>@ViewBag.LessonWord[i].Type</td>
                                                    <td class=""><div>@ViewBag.LessonWord[i].Reading</div></td>
                                                    <td class=""><div>@ViewBag.LessonWord[i].Meaning</div></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @for (var j = 0; j < ViewBag.LessonGrammar.Count; j++)
                        {
                            <div class="item grammar" gid="@ViewBag.LessonGrammar[j].ID">
                                <div class="row text-center">
                                    <div class="col-sm-12 grammar1">@ViewBag.LessonGrammar[j].StructureKanji</div>
                                    <div class="col-sm-12 grammar2">@ViewBag.LessonGrammar[j].StructureKana</div>
                                    <div class="col-sm-12 grammar3">@ViewBag.LessonGrammar[j].Meaning</div>
                                    <div class="col-sm-12 grammar4">@ViewBag.LessonGrammar[j].Usage</div>
                                    <div class="col-sm-12 grammar5">@ViewBag.LessonGrammar[j].Example</div>
                                    <div class="col-sm-12 grammar6">@ViewBag.LessonGrammar[j].Notes</div>
                                </div>
                            </div>
                        }
                        <div class="item dialogue" aud="@ViewBag.LessonAudio">
                            <div class="row">
                                <div class="btn btn-default readdialogue-btn">
                                    Nghe hội thoại
                                </div>
                                <div class="divider-1"></div>
                                <div class="col-sm-12 dialogue1">@Html.Raw(ViewBag.LessonDialogue)</div>
                                <div class="divider-1"></div>
                                
                            </div>
                        </div>

                        <div class="item culture">
                            <div class="row">
                                <div class="col-sm-12 culture1">@Html.Raw(ViewBag.LessonCulture)</div>
                            </div>
                        </div>

                        @{ size = ViewBag.LessonQuiz.Count;
                            List<string[]> question = new List<string[]>();}
                        @for (var j = 0; j < size; j++)
                        {
                            question.Add(new string[] { "" + j, ViewBag.LessonQuiz[j].Question, ViewBag.LessonQuiz[j].CorrectAnswer, ViewBag.LessonQuiz[j].WrongAnswer1, ViewBag.LessonQuiz[j].WrongAnswer2, ViewBag.LessonQuiz[j].WrongAnswer3 });
                        }
                        @for (var j = 0; j < size; j++)
                        {
                            int x = rnd.Next(question.Count);
                            int y = rnd.Next(2, question[x].Length);
                            String position1 = question[x][y];
                            question[x] = question[x].Where((val, w) => w != y).ToArray();
                            int z = rnd.Next(2, question[x].Length);
                            String position2 = question[x][z];
                            question[x] = question[x].Where((val, w) => w != z).ToArray();
                            int u = rnd.Next(2, question[x].Length);
                            String position3 = question[x][u];
                            question[x] = question[x].Where((val,w) => w != u).ToArray();
                            String position4 = question[x][2];
                            y = 0;
                            z = 0;
                            u = 0;
                            <div class="item test practice">
                                <div class="row">
                                    <div class="col-sm-12 quiz1">@Html.Raw(question[x][1])</div>
                                    <div class="col-sm-12">
                                        <ul class="nav nav-pillsb answer" qid="@question[x][0]" qtype="">
                                            <li><a>@Html.Raw(position1)</a></li>
                                            <li><a>@Html.Raw(position2)</a></li>
                                            <li><a>@Html.Raw(position3)</a></li>
                                            <li><a>@Html.Raw(position4)</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 explanation"></div>
                                </div>
                            </div>
                            question.RemoveAt(x);
                            x = 0;
                        }
                    </div>

                    <!-- Left and right controls -->
                    <div class="btn btn-warning col-lg-2 relearn" id="button-reload">
                        Học lại từ đầu
                    </div>
                    <div class="pull-right btn btn-success col-lg-2 next-card" href="#myCarousel" data-slide="next">
                        Tiếp
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="notifiaction" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Một số lưu ý trước khi bắt đầu bài quiz:</p>
                        <ul>
                            <li><font color="#FF0000">Khi đã bắt đầu quiz thì sẽ không thể quay lại bài học.</font></li>
                            <li>Bạn nên hoàn thành bài học trước khi kiểm tra để có kết quả tốt nhất.</li>
                            <li>Những kiến thức bạn chưa học qua sẽ không được lưu lại trong hồ sơ.</li>
                        </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning quiz" data-dismiss="modal">Làm quiz</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Học bài</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="result" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h2>Chúc mừng bạn đã hoàn thành bài quiz</h2>
                        <p>Số điểm mà bạn đã đạt được là:</p> <div class="result-score text-center" style="border-radius:8px;width:70px;height:50px;display:inline-flex;align-items:center;justify-content:center;"></div>
                        <p class="advice"></p>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning relearn hidden" data-dismiss="modal">Học lại</button>
                            <button type="button" class="btn btn-primary back" data-dismiss="modal">Tiếp tục khóa học</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="writingModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-stroke"><div id="sekai"></div></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>
    jQuery(function(){
        jQuery('.kanji1').click(); 
    });
    </script>
    <script>
        function learnTime() {
            $.post("/Study/UpdateTime", function () { });
        }
        
        $(document).ready(function () {
            $(function () {
                setInterval("learnTime()", 60 * 1000);
            });
            $('.kanji1').each(function() {
                jQuery(function(){
                    $(this).click();
                
                });
            });
            $('.kanji1').on('click', function() {
                $(this).html('');
                var id = $(this).attr('id');
                var text = id.substr(id.indexOf("-")  + 1);
                
                var dmak = new Dmak(text, { 'element': id, "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
                dmak.render();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.item:first > div > div >.table').DataTable({
                searching: false,
                info: false,
                ordering: false,
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 },
                    { responsivePriority: 3, targets: -2 },
                ],
                lengthChange: false,
                lengthMenu: [-1],
                "language": {
                    "paginate": {
                        "previous": "Trước",
                        "next": "Sau"
                    }
                }
            });
        });
        $(".navbar-fixed-top").addClass("scrolled menu-shrink");
        $('.carousel').carousel({
            interval: false,
            wrap: false
        });
        $(".item").first().addClass("active");
        $(".to-kanji").attr("data-slide-to", $(".item.kanji:first").index());
        $(".to-word").attr("data-slide-to", $(".item.word:first").index());
        $(".to-grammar").attr("data-slide-to", $(".item.grammar:first").index());
        $(".to-dialogue").attr("data-slide-to", $(".item.dialogue:first").index());
        $(".to-culture").attr("data-slide-to", $(".item.culture:first").index());
        $(".to-test").attr("data-slide-to", $(".item.test:first").index());
        $(".kanji-index").attr("value", $(".item.kanji:first").index());
        $(".word-index").attr("value", $(".item.word:first").index());
        $(".grammar-index").attr("value", $(".item.grammar:first").index());
        $(".dialogue-index").attr("value", $(".item.dialogue:first").index());
        $(".culture-index").attr("value", $(".item.culture:first").index());
        $(".test-index").attr("value", $(".item.test:first").index());
        var LessonKanji = JSON.parse('@Html.Raw(LessonKanji)');
        var LessonWord = JSON.parse('@Html.Raw(LessonWord)');
        var LessonQuiz = JSON.parse('@Html.Raw(LessonQuiz)');
        var LessonID = JSON.parse('@Html.Raw(ViewBag.LessonID)');
        var index = 0;
        var correct = [];
        //$('#myCarousel').on('slide.bs.carousel', function () {
        //});
        $(".next-card").on("click", function () {
            if ($(".item.active").next().hasClass("practice")) {
                $(".next-card").addClass("hidden");
            }
            if ($(".item.active").hasClass("grammar")) {
                $.post("../Study/AddUserGrammar", {
                    "grammarID": $(".item.active").attr("gid"),
                    "lessonID": LessonID
                });
            }
            if ($(".item.test").last().hasClass("active")) {
                var score = parseInt((correct.length/LessonQuiz.length)*100);
                $.post("../Study/UpdateScore", {
                    "listQuizCorrect": correct,
                    "lessonID": LessonID
                },function(){
                    $('#result').on('show.bs.modal', function (e) {
                        $(".result-score").text(score);
                        if(score <= 49){
                            $(".result-score").addClass("r1");
                            $(".advice").html("<font color='#FF0000'>Bạn cần học lại để đảm bảo nắm vững kiến thức bài này!</font>");
                            $("#result").find(".relearn").removeClass("hidden");
                        }else if(score > 49 && score <80){
                            $(".result-score").addClass("r2");
                            $(".advice").html("<p>Bạn đã vượt qua bài học này và có thể tham gia các bài học tiếp theo.</p><p><font color='#ffa93a'>Bạn nên học lại để nâng cao thành tích tổng kết.</font></p>");
                            $("#result").find(".relearn").removeClass("hidden");
                        }else if(score > 79 && score <=100){
                            $(".result-score").addClass("r3");
                            $(".advice").html("<p>Bạn đã vượt qua bài học này và có thể tham gia các bài học tiếp theo.</p><p><font color='#00ff6e'>Hãy thường xuyên quay lại ôn tập lại bài học nhé!</font></p>");
                        }
                    })
                    $("#result").modal({backdrop: "static"});
                    $("#result").modal("show");
                });
            }
        });
        $('#myCarousel').on('slid.bs.carousel', function () {
            if ($(".item.active").hasClass("practice")) {
                $(".dictionary-search-jp").addClass("hidden");
            } else {
                $(".dictionary-search-jp").removeClass("hidden");
            }
            if ($(".item.active").hasClass("word")) {
                $(".pc > li.active").removeClass("active");
                $(".to-word").addClass("active");
                $("#sel1").val($(".item.word:first").index());
            }
            else if ($(".item.active").hasClass("grammar")) {
                $(".pc > li.active").removeClass("active");
                $(".to-grammar").addClass("active");
                $("#sel1").val($(".item.grammar:first").index());
            }
            else if ($(".item.active").hasClass("dialogue")) {
                $(".pc > li.active").removeClass("active");
                $(".to-dialogue").addClass("active");
                $("#sel1").val($(".item.dialogue:first").index());
            }
            else if ($(".item.active").hasClass("culture")) {
                $(".pc > li.active").removeClass("active");
                $(".to-culture").addClass("active");
                $("#sel1").val($(".item.culture:first").index());
            }
            else if ($(".item.active").hasClass("test")) {
                $.Callbacks().add(index = $(".item.test:first").index());
                $.Callbacks().add($("#sel1").val($(".item.test:first").index()));
                $.Callbacks().fire();
                $(".pc > li.active").removeClass("active");
                $(".to-test").addClass("active");
            } else if ($(".item.active").hasClass("kanji")) {
                $(".pc > li.active").removeClass("active");
                $(".to-kanji").addClass("active");
                $("#sel1").val($(".item.kanji:first").index());
            }
            $('.item.active > div > div >.table').DataTable({
                searching: false,
                info: false,
                ordering: false,
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 },
                    { responsivePriority: 3, targets: -2 },
                ],
                lengthChange: false,
                lengthMenu: [-1],
                "language": {
                    "paginate": {
                        "previous": "Trước",
                        "next": "Sau"
                    }
                }
            });
            if (!$(".item.active").hasClass("practice")) {
                $(".next-card").removeClass("hidden");
            } else {
                $(".next-card").addClass("hidden");
            }
            if ($(".item.kanji").last().hasClass("active")) {
                var pass = [];
                $.when($("#kanji-review > tbody > tr").each(function () {
                    if ($(this).children("td").eq(3).hasClass("sum-wrong") || $(this).children("td").eq(4).hasClass("sum-wrong")) {
                        $(this).children("td").eq(0).addClass("m-sum-wrongb");
                    } else {
                        $(this).children("td").eq(0).addClass("m-sum-correctb");
                        pass.push($(this).attr("kid"));
                    }
                })).done(function () {
                    $.post("../Study/AddUserKanji", {
                        "listKanji": pass,
                        "lessonID": LessonID
                    });
                });

            }
            if ($(".item.word").last().hasClass("active")) {
                var pass = [];
                $.when($("#word-review > tbody > tr").each(function () {
                    if ($(this).children("td").eq(2).hasClass("sum-wrong") || $(this).children("td").eq(3).hasClass("sum-wrong")) {
                        $(this).children("td").eq(0).addClass("m-sum-wrongb");
                    } else {
                        $(this).children("td").eq(0).addClass("m-sum-correctb");
                        pass.push($(this).attr("wid"));
                    }
                })).done(function () {
                    $.post("../Study/AddUserWord", {
                        "listWord": pass,
                        "lessonID": LessonID
                    });
                });

            }
        });
        $(".answer > li").on("click", function () {
            var qid = parseInt($(this).parent().attr("qid"), 10);
            var type = $(this).parent().attr("qtype");
            var data = $(this).html().substr(3).slice(0, -4);
            //$(this).parent().children('li').css({ "background-color": "white"});
            if(!$(this).hasClass("disabled")){
                if ($(this).closest(".item").hasClass("kanji")) {
                    if (type == "1") {
                        if (LessonKanji[qid].Onyomi == data) {
                            $(this).addClass("active");
                            $(this).siblings().addClass("disabled");
                            $(".next-card").removeClass("hidden");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(3).addClass("sum-correct");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(3).children("div").addClass("sum-correctb");
                            //cap nhat bang tong ket
                        } else {
                            $(this).siblings().addClass("disabled");
                            $(this).addClass("wrong");
                            $(this).siblings().each(function () {
                                if ($(this).html().substr(3).slice(0, -4) == LessonKanji[qid].Onyomi) {
                                    $(this).addClass("correct");
                                    $(".next-card").removeClass("hidden");
                                    return false;
                                }
                            });
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(3).addClass("sum-wrong");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(3).children("div").addClass("sum-wrongb");
                            //cap nhat bang tong ket
                        }
                    } else if (type == "2") {
                        if (LessonKanji[qid].Kunyomi == data) {
                            $(this).addClass("active");
                            $(this).siblings().addClass("disabled");
                            $(".next-card").removeClass("hidden");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(4).addClass("sum-correct");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(4).children("div").addClass("sum-correctb");
                        } else {
                            $(this).siblings().addClass("disabled");
                            $(this).addClass("wrong");
                            $(this).siblings().each(function () {
                                if ($(this).html().substr(3).slice(0, -4) == LessonKanji[qid].Kunyomi) {
                                    $(this).addClass("correct");
                                    $(".next-card").removeClass("hidden");
                                    return false;
                                }
                            });
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(4).addClass("sum-wrong");
                            $("#kanji-review > tbody >tr").eq(qid).children("td").eq(4).children("div").addClass("sum-wrongb");
                        }
                    }
                } else if ($(this).closest(".item").hasClass("word")) {
                    if (type == "1") {
                        if (LessonWord[qid].Reading == data) {
                            $(this).addClass("active");
                            $(this).siblings().addClass("disabled");
                            $(".next-card").removeClass("hidden");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(2).addClass("sum-correct");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(2).children("div").addClass("sum-correctb");
                            //cap nhat bang tong ket
                        } else {
                            $(this).siblings().addClass("disabled");
                            $(this).addClass("wrong");
                            $(this).siblings().each(function () {
                                if ($(this).html().substr(3).slice(0, -4) == LessonWord[qid].Reading) {
                                    $(this).addClass("correct");
                                    $(".next-card").removeClass("hidden");
                                    return false;
                                }
                            });
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(2).addClass("sum-wrong");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(2).children("div").addClass("sum-wrongb");
                            //cap nhat bang tong ket
                        }
                    } else if (type == "2") {
                        if (LessonWord[qid].Meaning == data) {
                            $(this).addClass("active");
                            $(this).siblings().addClass("disabled");
                            $(".next-card").removeClass("hidden");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(3).addClass("sum-correct");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(3).children("div").addClass("sum-correctb");
                        } else {
                            $(this).siblings().addClass("disabled");
                            $(this).addClass("wrong");
                            $(this).siblings().each(function () {
                                if ($(this).html().substr(3).slice(0, -4) == LessonWord[qid].Meaning) {
                                    $(this).addClass("correct");
                                    $(".next-card").removeClass("hidden");
                                    return false;
                                }
                            });
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(3).addClass("sum-wrong");
                            $("#word-review > tbody >tr").eq(qid).children("td").eq(3).children("div").addClass("sum-wrongb");
                        }
                    }
                } else if ($(this).closest(".item").hasClass("test")) {
                    if (LessonQuiz[qid].CorrectAnswer == data) {
                        $(this).addClass("active");
                        $(this).siblings().addClass("disabled");
                        $(".next-card").removeClass("hidden");
                        correct.push(qid);
                    } else {
                        $(this).siblings().addClass("disabled");
                        $(this).addClass("wrong");
                        $(this).siblings().each(function () {
                            if ($(this).html().substr(3).slice(0, -4) == LessonQuiz[qid].CorrectAnswer) {
                                $(this).addClass("correct");
                                $(".next-card").removeClass("hidden");
                                return false;
                            }
                        });
                    }
                    $(this).closest(".item").children("div").children(".explanation").html("<div class='kaisetsu'><div class='kaisetsu-title'>Giải thích đáp án</div><div class='kaisetsu-desc'>" + LessonQuiz[qid].Explanation + "</div></div>");
                }
                $(this).closest(".item").removeClass("practice");
            }
        });
        $(".pc > li").on("click", function (e) {
            if (!$(".pc > li.active").hasClass("to-test")) {
                if ($(this).hasClass("to-test")) {
                    $("#notifiaction").modal("show");
                    e.stopPropagation();
                }
            }else if (!$(this).hasClass("to-test")) {
                if ($(".pc > li.active").hasClass("to-test")) {
                    $("#notifiaction").find(".modal-body").html("<ul><li><font color='#FF0000'>Bạn đang trong quá trình kiểm tra nên bạn sẽ không thể xem lại những kiến thức đã học.</font></li><li><font color='#FF0000'>Vui lòng hoàn thành bài kiểm tra hoặc bắt đầu lại bài học để hoàn thiện kiến thức.</font></li></ul><div class='text-center'><button type='button' class='btn btn-warning relearn' data-dismiss='modal'>Học lại</button>  <button type='button' class='btn btn-primary' data-dismiss='modal'>Tiếp tục Quiz</button></div>");
                    $("#notifiaction").modal("show");
                }
                e.stopPropagation();
            }

        });

        $("#sel1").on("click", function (event) {
            $.data(this, 'current', $(this).val());
            if ($(this).val() != $(".test-index").attr("value")) {
                index = $.data(this, 'current');
            } else {
                this.blur();
                window.focus();
                $("#notifiaction").find(".modal-body").html("<ul><li><font color='#FF0000'>Bạn đang trong quá trình kiểm tra nên bạn sẽ không thể xem lại những kiến thức đã học.</font></li><li><font color='#FF0000'>Vui lòng hoàn thành bài kiểm tra hoặc bắt đầu lại bài học để hoàn thiện kiến thức.</font></li></ul><div class='text-center'><button type='button' class='btn btn-warning relearn' data-dismiss='modal'>Học lại</button>  <button type='button' class='btn btn-primary' data-dismiss='modal'>Tiếp tục Quiz</button></div>");
                $("#notifiaction").modal("show");
                return false;
            }
        });
        $("#sel1").on("change", function () {
            if ($(this).val() != $(".test-index").attr("value")) {
                $('.carousel').carousel(parseInt($(this).val()));
            } else {
                if (index != $(".test-index").attr("value")) {
                    $("#notifiaction").modal("show");
                    $(this).val(index);
                }
            }
        });
        $(".quiz").on("click", function () {
            $('.carousel').carousel($(".item.test:first").index());
            $("#button-reload").addClass("hidden");
        });
        $(document).on("click",".relearn", function () {
            location.reload();
        });
        $(document).on("click", ".back", function () {
            $.redirect('../Study/Course', { "courseID": @Html.Raw(ViewBag.CourseID) });
        });
        $('.drawkanji-btn').on("click", function () {
            var text = $(this).parent().parent().attr("tex");
            $("#sekai").html("");
            var dmak = new Dmak(text, { 'element': 'sekai', "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
            dmak.erase();
            dmak.render();
        });
        $('.drawword-btn').on("click", function () {
            var text = $(this).parent().parent().attr("tex");
            $("#sekai").html("");
            var dmak = new Dmak(text, { 'element': 'sekai', "strokes": { "attr": { "strokes": "#FF0000" } }, "uri": "/Content/Resources/Kanjivg/" });
            dmak.erase();
            dmak.render();
        });
        $('.readword-btn').on("click", function () {
            var text = $(this).parent().parent().attr("rea");
            responsiveVoice.speak(text, "Japanese Female");
        });
        $('.readdialogue-btn').on("click", function () {
            var text = $(this).parent().parent().attr("aud");
            responsiveVoice.speak(text, "Japanese Female");
        });
    </script>
</body>