﻿@{
    ViewBag.Title = "Luyện tập chia động từ";
    ViewBag.VName = "";
    ViewBag.JName = "";
    if (ViewBag.ConjugType == 1)
    {
        ViewBag.VName = "THỂ LỊCH SỰ";
        ViewBag.JName = "ます<ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 2)
    {
        ViewBag.VName = "THỂ て";
        ViewBag.JName = "て<ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 3)
    {
        ViewBag.VName = "THỂ QUÁ KHỨ";
        ViewBag.JName = "た<ruby>形<rt>けい</rt></ruby>・<ruby>過<rt>か</rt></ruby><ruby>去<rt>こ</rt></ruby><ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 4)
    {
        ViewBag.VName = "THỂ PHỦ ĐỊNH";
        ViewBag.JName = "ない<ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 5)
    {
        ViewBag.VName = "THỂ ĐIỀU KIỆN";
        ViewBag.JName = "<ruby>条<rt>じょう</rt></ruby><ruby>件<rt>けん</rt></ruby><ruby>形<rt>けい</rt></ruby>・ば<ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 6)
    {
        ViewBag.VName = "THỂ KHẢ NĂNG";
        ViewBag.JName = "<ruby>可<rt>か</rt></ruby><ruby>能<rt>のう</rt></ruby><ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 7)
    {
        ViewBag.VName = "THỂ Ý HƯỚNG";
        ViewBag.JName = "<ruby>意<rt>い</rt></ruby><ruby>向<rt>こう</rt></ruby><ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 8)
    {
        ViewBag.VName = "THỂ MỆNH LỆNH";
        ViewBag.JName = "<ruby>命<rt>めい</rt></ruby><ruby>令<rt>れい</rt></ruby><ruby>形<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 9)
    {
        ViewBag.VName = "THỂ BỊ ĐỘNG / TÔN KÍNH";
        ViewBag.JName = "<ruby>受<rt>うけ</rt></ruby><ruby>身<rt>み</rt></ruby>・<ruby>尊<rt>そん</rt></ruby><ruby>敬<rt>けい</rt></ruby>";
    }
    else if (ViewBag.ConjugType == 10)
    {
        ViewBag.VName = "THỂ SAI KHIẾN";
        ViewBag.JName = "<ruby>使<rt>し</rt></ruby><ruby>役<rt>えき</rt></ruby>";
    }
}

<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/ResponsiveVoice.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg2.png");
        }

        .practice-form {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
            text-align: center;
        }

        .stat-title {
            font-size: 20px;
        }

        .stat-text {
            font-size: 32px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            line-height: 1;
        }

        .stat-text-correct {
            color: rgb(50,150,50);
        }

        .stat-text-wrong {
            color: rgb(150,50,50);
        }

        .stat-text-ratio {
            color: rgb(50,100,150);
        }

        .stat-text-speed {
            color: rgb(150,50,150);
        }

        .practice-question {
            font-size: 60px;
        }

        .practice-question2 {
            font-size: 36px;
        }

        .practice-inp {
            width: 70%;
            margin-left: 15%;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .practice-but {
            padding-bottom: 10px;
        }

        .res1 {
            padding-top: 10px;
        }

        .res2 {
            font-size: 36px;
        }

        .res3 {
            color: #777777;
        }

        .res4 {
            color: #777777;
        }

        .jp-prac-result {
            display: inline-block;
            margin-left: 2px;
            margin-right: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: rgba(230,210,190,0.9);
            border: 2px solid rgb(190,170,150);
            min-width: 5%;
        }

        .jp-prac-text {
            margin: auto;
            background-color: rgb(250,230,210);
            text-align: center;
            font-size: 30px;
        }

        .res-cl {
            border-radius: 5px;
            border: 2px solid #887799;
            background-color: #EEE7F5;
            padding-left: 20px;
            padding-right: 20px;
            transition: all 0.1s ease-in-out;
        }

            .res-cl:hover {
                transform: scale(1.2);
                background-color: #C9AFE0;
            }

        .jp-prac-wrong {
            color: rgb(100,50,50);
            text-decoration: line-through;
            border-top: 2px solid rgb(190,170,150);
            text-align: center;
            line-height: 1;
            font-size: 20px;
            margin-bottom: 0px;
        }

        .jp-prac-correct {
            color: rgb(50,100,50);
            text-align: center;
            font-size: 20px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        @@media (max-width: 767px) {
            .practice-form {
                width: 100%;
                margin-left: 0%;
            }

            .practice-inp {
                width: 90%;
                margin-left: 5%;
            }
        }

        .jp-emp {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="practice-form">
            <div class="practice-title">
                <h2>Luyện tập chia động từ</h2>
                <h3><span>@ViewBag.VName</span> (<span>@Html.Raw(ViewBag.JName)</span>)</h3>
            </div>
            <div class="divider-1"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="stat-title stat-title-correct">Số câu đúng</div>
                    <div class="stat-text stat-text-correct" id="stat-text1">0</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-title stat-title-wrong">Số câu sai</div>
                    <div class="stat-text stat-text-wrong" id="stat-text2">0</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-title stat-title-ratio">Tỉ lệ trả lời đúng</div>
                    <div class="stat-text stat-text-ratio" id="stat-text3">0%</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-title stat-title-speed">Tốc độ (từ / phút)</div>
                    <div class="stat-text stat-text-speed" id="stat-text4">0</div>
                </div>
            </div>
            <div class="divider-1"></div>
            <div class="practice-question" id="practice-word"></div>
            <div class="practice-question2" id="practice-reading"></div>
            <div class="practice-question3">Hãy chia động từ trên sang <span>@ViewBag.VName</span>. Bạn có thể nhập câu trả lời bằng Hiragana hoặc Kanji.</div>
            <div class="practice-inp">
                <input name="Name" type="text" id="practice-inp" class="form-control" style="text-align: center" placeholder="Nhập câu trả lời" />
            </div>
            <div class="practice-but">
                <input type="button" value="Trả lời" class="btn btn-default" id="practice-btn" />
            </div>
            <div class="practice-res">
                <div class="res1" id="res-text1"></div>
                <div class="res2" id="res-text2"></div>
                <div class="res3" id="res-text3"></div>
            </div>
            <div class="divider-10"></div>
            <div>
                <div class="res4" id="res-text4"></div>
                <div class="res5" id="res-wrong"></div>
            </div>

            <div class="divider-10"></div>
        </div>
    </div>

    <script>
        function learnTime() {
            $.post("/Study/UpdateTime", function () { });
        }
        $(document).ready(function () {
            $(function () {
                setInterval("learnTime()", 60 * 1000);
            });
            $(".navbar-fixed-top").addClass("scrolled menu-shrink");
            var correctCount = 0;
            var wrongCount = 0;
            var correctRate = 0;
            var firstAnsTime = 0;
            var lastAnsTime = 1;
            var speed = 0;
            var wordType = 0;
            var conjugType = @ViewBag.ConjugType;
            $.getJSON("getRandomVerb", {
            }, function (data) {
                var jsondata = data;
                $("#practice-word").text(data.Word);
                $("#practice-reading").text(data.Reading);
                $("#practice-inp").val("");
                if (data.Type == "động từ nhóm I") {
                    wordType = 1;
                }
                else if (data.Type == "động từ nhóm II") {
                    wordType = 2;
                }
                else if (data.Type == "động từ nhóm III") {
                    wordType = 3;
                }
            });

            $("#practice-inp").keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#practice-btn").click();
                }
            });

            $("#practice-btn").on("click", function () {
                if ($("#practice-inp").val() != "" && $("#practice-word").text() != "" && $("#practice-word").text() != "　") {
                    var word = $("#practice-word").text();
                    var reading = $("#practice-reading").text();
                    var inp = $("#practice-inp").val();
                    
                    //responsiveVoice.speak(kana, "Japanese Female");
                   // $.getJSON("Conjugate", {
                       // "word": word,
                        //"wordType": wordType,
                        //"conjugType": conjugType,
                    //}, function (data) {
                       // ans = data;
                        
                        $.getJSON("answerConjugPractice", {
                            "word": word,
                            "reading": reading,
                            "wordType": wordType,
                            "conjugType": conjugType,
                            "inp": inp
                        }, function (data) {
                            lastAnsTime = new Date().getTime();
                            if (correctCount == 0 && wrongCount == 0) {
                                firstAnsTime = new Date().getTime();
                            }
                            else {
                                speed = Math.round (correctCount * 60000 / (lastAnsTime - firstAnsTime));
                            }
                            if (data.Result == "OK") {
                                correctCount += 1;
                                $("#res-text1").html("<font color='#55AA55'>Bạn đã trả lời đúng. Xin chúc mừng!</font>");
                                $("#res-text2").text(word);
                                $("#res-text3").text("Đáp án: " + data.Answer + " / Câu trả lời của bạn: " + inp);
                            }
                            else {
                                wrongCount += 1;
                                $("#res-text1").html("<font color='#FF2222'>Rất tiếc, câu trả lời của bạn chưa đúng.</font>");
                                $("#res-text2").text(word);
                                $("#res-text3").text("Đáp án: " + data.Answer + " / Câu trả lời của bạn: " + inp);
                                $("#res-text4").text("Bạn đã gặp vấn đề với những từ sau. Hãy luyện tập chúng kĩ hơn nhé!");
                                $("#res-wrong").html($("#res-wrong").html() + data.Result);
                            }
                            correctRate = Math.floor (correctCount * 100 / (correctCount + wrongCount));
                            $("#stat-text1").text(correctCount);
                            $("#stat-text2").text(wrongCount);
                            $("#stat-text3").text(correctRate + "%");
                            $("#stat-text4").text(speed);

                            $("#practice-word").text(data.WordDto.Word);
                            $("#practice-reading").text(data.WordDto.Reading);
                            $("#practice-inp").val("");
                            if (data.WordDto.Type == "động từ nhóm I") {
                                wordType = 1;
                            }
                            else if (data.WordDto.Type == "động từ nhóm II") {
                                wordType = 2;
                            }
                            else if (data.WordDto.Type == "động từ nhóm III") {
                                wordType = 3;
                            }
                        });
                        //$("#practice-word").text("　");
                        //$("#practice-reading").text("　");
                        //$("#practice-inp").val("");
                        //$.getJSON("getRandomVerb", {
                        //}, function (data) {
                            //var jsondata = data;
                        
                        //});

                    //});

                }
            });
        });
    </script>
</body>