﻿
@{
    Layout = null;
}
@{Random rnd = new Random(); int size = 0;}
@{ size = ViewBag.JLPTQuestions.Count;
    List<string[]> question = new List<string[]>();}
@for (var j = 0; j < size; j++)
{
    question.Add(new string[] { "" + j, ViewBag.JLPTQuestions[j].Question, ViewBag.JLPTQuestions[j].CorrectAnswer, ViewBag.JLPTQuestions[j].WrongAnswer1, ViewBag.JLPTQuestions[j].WrongAnswer2, ViewBag.JLPTQuestions[j].WrongAnswer3 });
}
@for (var j = 0; j < size; j++)
{
    int y = rnd.Next(2, question[j].Length);
    String position1 = question[j][y];
    question[j] = question[j].Where(w => w != question[j][y]).ToArray();
    int z = rnd.Next(2, question[j].Length);
    String position2 = question[j][z];
    question[j] = question[j].Where(w => w != question[j][z]).ToArray();
    int u = rnd.Next(2, question[j].Length);
    String position3 = question[j][u];
    question[j] = question[j].Where(w => w != question[j][u]).ToArray();
    String position4 = question[j][2];
    y = 0;
    z = 0;
    u = 0;
    <div class="item test practice">
        <div class="row">
            <div class="col-sm-12 quiz1">@Html.Raw(question[j][1])</div>
            <div class="col-sm-12">
                <ul class="nav nav-pillsb answer" qid="@question[j][0]" qtype="">
                    <li><a>@Html.Raw(position1)</a></li>
                    <li><a>@Html.Raw(position2)</a></li>
                    <li><a>@Html.Raw(position3)</a></li>
                    <li><a>@Html.Raw(position4)</a></li>
                </ul>
            </div>
            <div class="col-sm-12 ejplanation"></div>
        </div>
    </div>
}
