﻿
@{
    ViewBag.Title = "Danh sách khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg7.png");
        }

        a {
            cursor: pointer;
        }

        .bg-overlay {
            height: 300px;
        }

        .intro-title {
            font-family: "Cabin", "Open Sans Light", sans-serif;
            font-size: 48px;
            color: rgb(240,250,230);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
            padding-top: 75px;
        }
        .intro-text {
            font-size: 24px;
            color: rgb(230,240,220);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }

        body {
            padding-top: 0px;
            margin-top: -75px;
        }
    </style>
    <style>
        .progress {
            margin-bottom: 0;
        }

        .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }

        @@media (max-width: 767px) {
            .intro-title {
                font-size: 32px;
            }
            .intro-text {
                font-size: 16px;
            }
        }

        @@media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }

        .entry-header {
            height: 200px;
        }
        .level {
            position: absolute;
            width: 30%;
            top: 5px;
            right: 10px;
            border-radius: 20px;
            z-index: 9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-family: "Cabin", "Open Sans Light", sans-serif;
        }
        .N-1{
            background-color: rgb(250,100,100);
        }
        .N-2{
            background-color: rgb(250,175,100);
        }
        .N-3{
            background-color: rgb(250,250,100);
        }
        .N-4{
            background-color: rgb(175,250,100);
        }
        .N-5{
            background-color: rgb(100,250,100);
        }
    </style>
</head>
<body>
    <section class="" style="background-image: url('../../Content/Resources/Image/course.jpg');">
        <div class="bg-overlay">
            <div class="container">
                <div class="intro-wrap">
                    <h3 class="intro-title">Chào mừng bạn đến với Japanese in Your Hand</h3>
                    <div class="intro-text">Vui lòng chọn khóa học tiếng Nhật mà bạn muốn tham gia!</div>
                </div>
            </div>
        </div>
    </section>

    <section class="regular blog-posts">
        <div class="container">
            <div class="row">
                @for (var i = 0; i < @ViewBag.CourseList.Count; i++)
                {
                    <div class="col-md-15 col-sm-4 col-xs-12">
                        <article class="post">
                            <div class="card" cid="@ViewBag.CourseList[i].ID">
                                <header class="entry-header">
                                    <div class="level N-@ViewBag.CourseList[i].Level">N<span class="lid">@ViewBag.CourseList[i].Level</span></div>
                                    <a class="course-detail">
                                        <div class="entry-thumbnail" style="background-image: url('../../Content/Resources/Image/pat.png')">
                                            <img alt="" title="" src="../../Content/assets/images/blog-placeholder-vertical.png" width="600" height="800">
                                        </div>
                                        <h2 class="entry-title">@ViewBag.CourseList[i].Name</h2>
                                    </a>
                                </header>
                                <footer class="entry-meta clearfix">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@ViewBag.CourseList[i].Progress"
                                             aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.CourseList[i].Progress%">
                                            <span>@ViewBag.CourseList[i].Progress</span>%
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/redirectjs.js"></script>
    <script>

        $(".course-detail").on("click", function () {
            var course = $(this).closest(".card").attr("cid");
            //$(".body-content").load("../Study/Course", { "courseID": course });
            $.redirect('../Study/Course', { "courseID": course });
        });
    </script>
</body>