﻿
@{
    ViewBag.Title = "JLPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
<link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css" />
<style>
    .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }

        @@media (max-width: 767px) {
            .intro-title {
                font-size: 32px;
            }
            .intro-text {
                font-size: 16px;
            }
        }

        @@media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }

        body {
            background-image: url("../../Content/Resources/Image/bg7.png");
        }

        a {
            cursor: pointer;
        }

        .bg-overlay {
            height: 300px;
        }

        .intro-title {
            font-family: "Cabin", "Open Sans Light", sans-serif;
            font-size: 48px;
            color: rgb(240,250,230);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
            padding-top: 75px;
        }
        .intro-text {
            font-size: 24px;
            color: rgb(230,240,220);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }

        body {
            padding-top: 0px;
        }
</style>
<div class="pre-JLPT">
    <section class="" style="background-image: url('../../Content/Resources/Image/course.jpg');">
        <div class="bg-overlay">
            <div class="container">
                <div class="intro-wrap">
                    <h3 class="intro-title">Chào mừng bạn đến với Japanese in Your Hand</h3>
                    <div class="intro-text">Vui lòng chọn kì thi JLPT mà bạn muốn thử sức!</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Destinations
    ================================================== -->
    <section class="featured-destinations">
        <div class="container">
            <div class="cards overlap">
                <!-- Cards Row -->
                <div class="row">
                    <div class="col-md-15 col-sm-6 col-xs-12 level" lid="5">
                        <article class="card" lid="5">
                            <a class="featured-image level-chosen" style="background-image: url(assets/images/featured-destination-1.jpg)">
                                <div class="featured-img-inner"></div>
                            </a>
                            <div class="card-details">
                                <h4 class="card-title"><a class="level-chosen">Trình độ N5</a></h4>
                                <div class="meta-details clearfix">
                                    <ul class="hierarchy">
                                        <li><a class="level-chosen">Level N5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-15 col-sm-6 col-xs-12 level" lid="4">
                        <article class="card" lid="4">
                            <a class="featured-image level-chosen" style="background-image: url(assets/images/featured-destination-2.jpg)">
                                <div class="featured-img-inner"></div>
                            </a>
                            <div class="card-details">
                                <h4 class="card-title"><a class="level-chosen">Trình độ N4</a></h4>
                                <div class="meta-details clearfix">
                                    <ul class="hierarchy">
                                        <li><a class="level-chosen">Level N4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-15 col-sm-6 col-xs-12 level" lid="3">
                        <article class="card" lid="3">
                            <a class="featured-image level-chosen" style="background-image: url(assets/images/featured-destination-3.jpg)">
                                <div class="featured-img-inner"></div>
                            </a>
                            <div class="card-details">
                                <h4 class="card-title"><a class="level-chosen">Trình độ N3</a></h4>
                                <div class="meta-details clearfix">
                                    <ul class="hierarchy">
                                        <li><a class="level-chosen">Level N3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-15 col-sm-6 col-xs-12 level" lid="2">
                        <article class="card" lid="2">
                            <a class="featured-image level-chosen" style="background-image: url(assets/images/featured-destination-4.jpg)">
                                <div class="featured-img-inner"></div>
                            </a>
                            <div class="card-details">
                                <h4 class="card-title"><a class="level-chosen">Trình độ N2</a></h4>
                                <div class="meta-details clearfix">
                                    <ul class="hierarchy">
                                        <li><a class="level-chosen">Level N2</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-15 col-sm-6 col-xs-12 level" lid="1">
                        <article class="card" lid="1">
                            <a class="featured-image level-chosen" style="background-image: url(assets/images/featured-destination-4.jpg)">
                                <div class="featured-img-inner"></div>
                            </a>
                            <div class="card-details">
                                <h4 class="card-title"><a class="level-chosen">Trình độ N1</a></h4>
                                <div class="meta-details clearfix">
                                    <ul class="hierarchy">
                                        <li><a class="level-chosen">Level N1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>

                </div> <!-- /.row -->
            </div>
        </div>
    </section>
</div>

<div class="JLPT-test hidden">
    <div id="learn-lesson" class="container">
        <div class="row">
            <div class="btn btn-default col-lg-3 back">
                << Quay lại chọn trình độ
            </div>
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        
                    </div>

                    <!-- Left and right controls -->
                    <div class="btn btn-warning col-lg-2 relearn" id="button-reload">
                        Làm lại JLPT
                    </div>
                    <div class="pull-right btn btn-success col-lg-2 Next-card">
                        Tiếp
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
<script>
    $(".navbar-fixed-top").addClass("scrolled menu-shrink");
    $(".level-chosen").on("click", function () {
        $(".carousel-inner").load("../Study/DoJLPT", { "level": $(this).closest(".level").attr("lid") }, function () {
            $.when($(".pre-JLPT").addClass("hidden")).done($(".JLPT-test").removeClass("hidden"));
            $(".item").first().addClass("active");
        });
    });
    $('.carousel').carousel({
        interval: false,
        wrap: false
    });
    $(".Next-card").on("click", function () {
        $('.carousel').carousel("next");
    });
</script>