﻿@{
    ViewBag.Title = "Chia động từ";
}

@model List<string>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dmak.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg3.png");
        }

        .container {
            margin: 0 auto;
            width: 90%;
        }

        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            ul.tabs li {
                background-color: rgba(255,255,255,0.2);
                color: #222222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
            }

                ul.tabs li.current {
                    background-color: rgba(255,255,255,0.6);
                    color: #222222;
                }

        .kana-tab-content {
            display: none;
            background-color: rgba(255,255,255,0.6);
            padding: 15px;
        }


            .kana-tab-content.current {
                display: inherit;
            }

        .modal-kana-stroke {
            text-align: center;
            font-family: "Stroke Order";
            font-size: 200px;
        }

        .modal-kana-mnemonic {
            text-align: center;
        }

        .kana-notes {
            margin-top: 30px;
            background-color: rgb(250,250,200);
        }

        .kana-notes-title {
            color: rgb(250,50,50);
            font-size: 24px;
            padding-left: 10px;
        }

        .kana-notes-desc {
            color: rgb(150,50,50);
            font-size: 18px;
            padding-left: 30px;
        }

        .jp-table {
            text-align: center;
        }

        .jp-button {
            display: inline-block;
            border-radius: 5px;
            padding-left: 0.5%;
            padding-right: 0.5%;
            margin: auto;
        }

        .jp-button-small {
            width: 18.5%;
        }

        .jp-button-large {
            width: 32%;
        }

        .jp-text {
            margin: auto;
            border: 2px solid #889977;
            background-color: #EEF5E7;
            text-align: center;
            border-radius: 5px;
            line-height: 1.6;
            font-size: 30px;
            cursor: pointer;
        }

        .jp-text {
            transition: all 0.1s ease-in-out;
        }

            .jp-text:hover {
                transform: scale(1.2);
                background-color: #C9E0AF;
            }

        .jp-romaji {
            color: #889977;
            text-align: center;
            line-height: 1;
            font-size: 20px;
        }

        .jp-left {
            margin-left: 3%;
            margin-right: 2%;
            width: 55%;
            float: left;
        }

        .jp-right {
            margin-left: 2%;
            margin-right: 3%;
            width: 35%;
            float: right;
        }

        .jp-left-ex {
            margin-left: 3%;
            margin-right: 2%;
            width: 45%;
            float: left;
        }

        .jp-right-ex {
            margin-left: 2%;
            margin-right: 3%;
            width: 45%;
            float: right;
        }

        .jp-practice {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
        }

        .jp-intro {
        }

        .jp-intro-title {
            font-family: "Open Sans Light", Meiryo, sans-serif;
            color: #E6FADC;
            font-size: 36px;
            text-align: center;
            border-radius: 25px;
            background-color: #889977;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }

        .jp-intro-desc {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 25px;
        }

        .mne-copyright {
            color: #CCCCCC;
            text-align: center;
        }

        @@media (max-width: 767px) {
            .container {
                width: 100%;
            }

            .jp-left {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }

            .jp-right {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }

            .jp-left-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }

            .jp-right-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }

            .jp-text {
                font-size: 24px;
            }

            .jp-button {
                border-radius: 5px;
                padding-left: 1px;
                padding-right: 1px;
            }

            .jp-romaji {
                font-size: 16px;
            }

            .jp-intro-title {
                font-family: "Open Sans Light";
                color: #E6FADC;
                font-size: 24px;
                border-radius: 25px;
                margin-left: 0px;
                margin-right: 0px;
            }

            .jp-intro-desc {
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 25px;
            }

            ul.tabs li {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jp-intro-title">Bảng tổng hợp cách chia động từ</div>
        <div class="jp-table"><img src="~/Content/Resources/Image/conjug.png" /></div>
        <div class="jp-intro-title">Thể lịch sự (ます<ruby>形<rt>けい</rt></ruby>)</div>
    </div>

    <script>
        $(document).ready(function () {
            $(".navbar-fixed-top").addClass("scrolled menu-shrink");
        });
    </script>
</body>
</html>
