﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link href="~/Content/assets/css/Furigana.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/assets/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
        var OAUTHURL = 'https://accounts.google.com/o/oauth2/auth?';
        var VALIDURL = 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
        var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
        var CLIENTID = '127851110854-bd35orooi5l9cmmepdi9prsuno7ir262.apps.googleusercontent.com';
        var REDIRECT = '../Account/Login';
        var LOGOUT = '../Account/Login';
        var TYPE = 'token';
        var _url = OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
        var acToken;
        var tokenType;
        var expiresIn;
        var user;
        var loggedIn = false;

        function login() {

            var win = window.open(_url, "Login With Google", 'width=400, height=600');
            var pollTimer = window.setInterval(function () {
                try {
                    console.log(win.document.URL);
                    if (win.document.URL.indexOf(REDIRECT) != -1) {
                        window.clearInterval(pollTimer);
                        var url = win.document.URL;
                        acToken = gup(url, 'access_token');
                        tokenType = gup(url, 'token_type');
                        expiresIn = gup(url, 'expires_in');

                        win.close();
                        debugger;
                        validateToken(acToken);
                    }
                }
                catch (e) {

                }
            }, 500);
        }

        function gup(url, name) {
            namename = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\#&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function validateToken(token) {

            getUserInfo();
        }

        function getUserInfo() {
            $.ajax({

                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: function (user) {
                    $.ajax({
                        url: '/Account/LoginGoogle',
                        type: 'POST',
                        data: {
                            Email: user.email,
                            FullName: user.name,
                            //gender: user.gender,
                            //lastname: user.lastname,
                            //location: user.location
                        },
                        success: function () {
                            window.location.href = "/Home/Index";
                        },

                        //dataType: "jsonp"

                    });

                }
            });
            


        }

    </script>
    <script>
        //function init() {
        //}
        
        //window.onload = init();
    </script>
    <style>
        .buttonText {
            text-align: center;
        }

        .loginBtn {
            box-sizing: border-box;
            position: relative;
            width: 240px;
            border: none;
            text-align: center;
            white-space: nowrap;
            border-radius: 0.2em;
            color: #FFF;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }


        /* Google */
        .loginBtn--google {
            background: #DD4B39;
        }

            .loginBtn--google:before {
                /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
            }

            .loginBtn--google:hover,
            .loginBtn--google:focus {
                background: #E74B37;
            }

        /* Facebook */
        .loginBtn--facebook {
            background: #3B5998;
        }

            .loginBtn--facebook:before {
                /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat; */
            }

            .loginBtn--facebook:hover,
            .loginBtn--facebook:focus {
                background: #4B69A8;
            }
    </style>
</head>
<body class="home">
    <div id="fb-root"></div>
    @*<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span style="font-size:20px;"><img width="306" height="36" src="~/Content/Resources/Image/logolong.png"></span>
                    </a>
                    <div class="user-access">
                        <ul style="position: absolute;right:10px;" class="nav navbar-nav">
                        </ul>
                    </div>
                </div>
            </div>
        </nav>*@
    <div class="navbar-wrapper">
        <header class="navbar navbar-default navbar-fixed-top" id="MainMenu">
            <div class="navbar-extra-top clearfix">
            </div>
            <div class="container-fluid collapse-md" id="navbar-main-container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span><img src="~/Content/Resources/Image/logolong.png"></span>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right"></ul>
                </nav>
            </div>
        </header>
    </div>
    <style>
        a.up-down {
            user-select: none;
            color: rgb(25,100,25);
            text-decoration: none;
            cursor: pointer;
        }
        .dictionary-search-jp {
            border-style: solid;
            border-color: #000000;
            border-width: 1px;
            width: 400px;
            height: 88%;
            left: -400px;
            position: fixed;
            z-index: 1000;
            top: 74px;
            background-color: rgba(220,240,220,0.9);
            transition: all 0.5s;
        }

        .dictionary-search-button {
            z-index: 1000;
            position: absolute;
            left: 100%;
            text-decoration: none;
            top: 40%;
            cursor: pointer;
            opacity: 0.6;
        }

        .dictionary-search-button:hover {
            opacity: 1;
        }

        #dictionary-search-background {
            position: fixed;
            width: 35px;
            z-index: 1000;
        }

        .dictionary-search-jp-open {
            left: 0px;
        }

        .disable {
            display: none;
        }

        .nav-pills {
            margin-top: 3px;
            font-size: 16px;
            display: flex;
            justify-content: center;
        }

        .dictionary-search-result {
            border-style: solid;
            border-color: rgb(25,100,25);
            border-radius: 5px;
            margin: 5px 5px 5px 5px;
            padding: 5px 5px 50px 5px;
            height: 83%;
            overflow: auto;
            background-color: whitesmoke;
        }

        .dictionary-search-input {
            margin: 2px 2px 0px 2px;
        }

        

        .dic-item {
            color: rgb(50,150,50);
            cursor: pointer;
            padding-left: 5px;
            margin-bottom: 15px;
        }

        .dic-item:hover {
            background-color: rgb(180, 220, 180);
            border-radius: 5px;
        }

        .nav-pills > li > a {
            color: rgb(20,40,20);
        }

        .dic-icon {
            display: inline;
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            border-radius: 5px;
        }

        .dic-icon-red {
            background-color: rgb(150,50,50);
            color: rgb(250,200,200);
        }

        .dic-icon-yellow {
            background-color: rgb(150,150,50);
            color: rgb(250,250,200);
        }

        .dic-icon-green {
            background-color: rgb(50,150,50);
            color: rgb(200,250,200);
        }

        .carry {
            display: inline;
            margin-left: 5px;
            color: rgb(50,100,50);
            font-size: 24px;
        }

        .support {
            display: inline;
            padding-left: 10px;
            color: rgb(75,150,75);
            font-size: 18px;
        }

        .meaning-light {
            display: inline;
            margin-left: 15px;
            padding-bottom: 20px;
            font-size: 16px;
            color: rgb(80,160,80);
        }

        .meaning {
            display: inline;
            margin-left: 20px;
            padding-bottom: 20px;
            font-size: 18px;
            color: rgb(20,40,20);
        }

        .dropdown-menu > li > a {
            cursor: pointer;
        }

        .body-content {
            padding-top: 75px;
        }

        @@media (max-width: 600px) {
            .dictionary-search-jp {
                width: 90%;
                left: -90%;
            }
            .dictionary-search-jp-open {
                left: 0px;
            }
            .nav-pills {
                font-size: 14px;
            }
        }

        @@media (max-height: 650px) {
            .dictionary-search-jp {
                height: 85%;
            }
            .dictionary-search-result {
                height: 80%;
            }
        }

        @@media (max-height: 575px) {
            .dictionary-search-jp {
                height: 80%;
            }
            .dictionary-search-result {
                height: 74%;
            }
        }
        @@media (max-width: 374px) {
            .nav-pills {
                font-size: 12px;
            }
        }
    </style>
    
    <div class="dictionary-search-jp">
        <div class="dictionary-tool-search ">
            <div class="dictionary-search-input input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" id="dictionary-search-text" placeholder="Tìm kiếm">
            </div>
            <ul class="nav nav-pills t-dic">
                <li class="active" idt="0"><a data-toggle="pill" href=".all">Tất cả</a></li>
                <li idt="1"><a data-toggle="pill" href="#word">Từ</a></li>
                <li idt="2"><a data-toggle="pill" href="#kanji">Kanji</a></li>
                <li idt="3"><a data-toggle="pill" href="#grammar">Ngữ pháp</a></li>
            </ul>
        </div>
        <div class="dictionary-search-result">
            
        </div>
        <div class="dictionary-search-button">
            <img id="dictionary-search-background" src="~/Content/Resources/Image/searchbutton.png">
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="profile" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        @using (Html.BeginForm("Account", "Register", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {    @Html.AntiForgeryToken()
        }
    </div>
    <hr/>
    <footer>
        <div class="footer">
            <p>&copy; @DateTime.Now.Year - Japanese in Your Hand</p>
        </div>
    </footer>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {

            $.post("../Home/Available", function (data) {
                if (data == "0") {
                    $(".navbar-nav").load("../Home/UnAccess");
                } else if (data == "1") {
                    $(".navbar-nav").load("../Home/Access");

                } else {
                    // thông báo lỗi
                }
            });
            //var uri = "" + window.location;
            //var domain = "http://localhost:53034/";
            //var action = uri.split(domain);
            //if (action[1] === "Login" || action[1] === "Register") {
            //    $(".dictionary-search-jp").addClass("disable");
            //    $(".navbar-fixed-top").addClass("scrolled menu-shrink");
            //} else {
            //    $(".dictionary-search-jp").removeClass("disable");
            //}
        });
        $(document).ready(function () {
            $(".dictionary-search-button").on("click", function () {
                $(".dictionary-search-jp").toggleClass("dictionary-search-jp-open");
            });
            $(document).on("click",".up-down", function () {
                $(this).children("i").toggleClass("glyphicon-chevron-down glyphicon-chevron-right");
            });
            $("#dictionary-search-text").one("input", function () {
                if ($(".nav-pills > li.active").attr('idt') == "0") {
                    $(".tab-pane").addClass("active in");
                }
            });
            
            $("#dictionary-search-text").keypress(function (e) {
                if (e.which == 13) {
                    if ($("#dictionary-search-text").val() != "") {
                        $(".dictionary-search-result").load("../Dic/DicSearch", {
                            "textSearch": $("#dictionary-search-text").val()
                        }, function () {
                            var active = $(".t-dic > li.active").attr("idt");
                            if (active == "1") {
                                $("#word").siblings().removeClass("active in");
                            }
                            if (active == "2") {
                                $("#kanji").siblings().removeClass("active in");
                            }
                            if (active == "3") {
                                $("#grammar").siblings().removeClass("active in");
                            }
                        });
                    }
                }
            });
            $("#dictionary-search-text").on("change", function () {
                $.when( $(".dictionary-search-result").html("")).done(function () {
                    if ($("#dictionary-search-text").val() != "") {
                        $(".dictionary-search-result").load("../Dic/DicSearch", {
                            "textSearch": $("#dictionary-search-text").val()
                        }, function () {
                            var active = $(".t-dic > li.active").attr("idt");
                            if (active == "1") {
                                $("#word").siblings().removeClass("active in");
                            }
                            if (active == "2") {
                                $("#kanji").siblings().removeClass("active in");
                            }
                            if (active == "3") {
                                $("#grammar").siblings().removeClass("active in");
                            }
                            $(".t-dic > li").on("click", function () {
                                var last = $(this).attr("idt");
                                if (last == "1") {
                                    $("#word").siblings().removeClass("active in");
                                }
                                if (last == "2") {
                                    $("#kanji").siblings().removeClass("active in");
                                }
                                if (last == "3") {
                                    $("#grammar").siblings().removeClass("active in");
                                }
                            });
                        });
                    }
                });
            });
            $(document).on("click", ".dic-item", function () {
                var id = $(this).attr("detail");
                var type = $(this).attr("tdetail");
                $("#myModal").find(".modal-body").load("/Dic/DicSearchByID", {
                    "id": id,
                    "type": type
                }, function () {
                    $("#myModal").modal("show");
                });
            });
        });
        $("#profile").modal({ backdrop: "static" }).modal("hide");
    </script>
</body>
</html>