﻿<li><a href="/Alphabet">　Bảng chữ cái</a></li>
<li><a href="/Alphabet/Convert">　Chuyển đổi tên</a></li>
<li><a href="/Study/LearnConjugate">　Chia động từ</a></li>
<li><a href="/Study">　Khóa học　</a></li>
<li class="dropdown show-on-hover">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user" id="temp-avatar"></span>
        <span id="userName"> Name</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li id="profile-button"><a>Trang cá nhân</a></li>
        @{
            if (ViewBag.Role == 1)
            {
                <li><a href="/Admin/Index">Trang quản lý</a></li>
            }
        }
        <li id="logout"><a>Đăng xuất</a></li>
    </ul>
</li>

<script>
    $(document).ready(function () {
        $.getJSON("/Home/Users", function (data) {
            var jsondata = data;
            if (data.FullName == null || data.FullName == "") {
                $("#userName").text(data.Email);
            } else {
                $("#userName").text(data.FullName);
            }
        });
        $("#logout").on("click", function () {
            //FB.getLoginStatus(function (response) {
            //    if (response.status === 'connected') {
            //        // Logged into your app and Facebook.

            //    }
            //});
            $.post("/Account/Logout", function (data) {
                window.location = "/Account/Login";
            });
        });
    });
    
    $("#profile-button").on("click", function () {
        $("#profile").find(".modal-body").load("../Account/Profile", function () {
            $(document).on("click", "#rePss", function () {
                $('.collapse').collapse("show");
            });
            $('#profile').modal("show");
        });
    });
    function learnTime() {
        $.post("/Study/UpdateTime", function () { });
    }
    $(function () {
        setInterval("learnTime()", 60 * 1000);
    });
</script>

