﻿@{
    ViewBag.Title = "Japanese in Your Hand | Tiếng Nhật trong tay bạn";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <!--
    <div class="video-frame">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <video loop autoplay muted style="width:100%;">
                        <source src="~/Content/Resources/Video/View_from_Above- Japan.webm" type="video/webm" />
                    </video>
                    <div class="carousel-caption" style="top: 68%;transform: translateY(-50%);margin:auto;">
                        <h1><small style="color:white;">Đường tới Nhật Bản</small></h1>
                        <a href="#JYH" style="color:whitesmoke;font-size:20px;"><h3><span class="glyphicon glyphicon-hand-right"> Tham gia NGAY</span></h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <style>
        body {
            margin-top: -5px;
        }

        h3 {
            font-family: Cabin;
        }

        .text-introduce-logo {
            text-align: center;
            padding-top: 40px;
        }

        .text-introduce-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            color: #D7E1E6;
            text-align: center;
            padding-top: 20px;
        }

        .text-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #D7E1E6;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 80px;
            padding-left: 18%;
            padding-right: 18%;
        }

        .learn-alphabet {
            background-image: url("../Content/Resources/Image/jyhkana.png");
            background-position: center top;
            background-size: cover;
            background-color: #283C50;
        }

        .learn-alphabet-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            color: #D3DDE7;
            text-align: center;
            padding-top: 125px;
        }

        .learn-alphabet-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #C8E1FA;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 125px;
            padding-left: 19%;
            padding-right: 19%;
        }

        .revolution {
            background-color: #E1EBF0;
        }

        .revolution-title {
            font-family: "Open Sans Light";
            color: #DCE6FA;
            font-size: 48px;
            text-align: center;
            border-radius: 25px;
            background-color: #141E28;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .introduce-left {
            text-align: left;
        }

        .introduce-right {
            text-align: right;
        }

        .introduce-pic-left {
            text-align: left;
            padding-top: 30px;
        }

        .introduce-pic-right {
            text-align: right;
            padding-top: 30px;
        }

        .introduce-title {
            font-family: "Open Sans Light";
            font-size: 40px;
            padding-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }

        .introduce-desc {
            font-size: 20px;
            font-family: "Open Sans";
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }

        .course-introduce {
            background-color: #D7E1E6;
        }

        .innovation-introduce {
            background-color: #E1EBF0;
        }

        .jlpt-introduce {
            background-color: #D7E1E6;
        }

        .dictionary-introduce {
            background-color: #E1EBF0;
        }

        .service-introduce {
            background-color: #1E2D3C;
        }

        .service-introduce-title {
            font-family: "Open Sans Light";
            color: #96C8FA;
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 20px;
        }

        .service-introduce-pic {
            text-align: center;
        }

        .service-introduce-num {
            font-family: "Open Sans Light";
            color: #DCE6FA;
            font-size: 72px;
            text-align: center;
        }

        .service-introduce-text {
            font-family: "Open Sans Light";
            color: #96C8FA;
            font-size: 24px;
            text-align: center;
            padding-bottom: 50px;
        }

        .service-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #7DBBF9;
            text-align: center;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .free-introduce {
            background-color: #E1EBF0;
        }

        .free-introduce-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
        }

        .free-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            text-align: center;
            padding-top: 30px;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .phone-app {
            background-color: #D7E1E6;
        }

        .phone-app-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
        }

        .phone-app-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            text-align: center;
            padding-top: 30px;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .home-page {
            margin-top: -72px;
        }

        @@media (max-width: 767px) {
            .revolution-title {
                font-size: 32px;
                text-align: center;
                border-radius: 25px;
                background-color: #141E28;
                margin-top: 50px;
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .introduce-title {
                font-size: 32px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .introduce-desc {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .service-introduce-title {
                font-size: 32px;
            }

            .service-introduce-desc {
                font-size: 16px;
            }

            .free-introduce-title {
                font-size: 32px;
            }

            .free-introduce-desc {
                font-size: 20px;
            }

            .phone-app-title {
                font-size: 32px;
            }

            .phone-app-desc {
                font-size: 20px;
            }
            .owl-controls{
                visibility:hidden;
            }
        }

        /*.image-header {
            width: 100%;
            height: auto;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: cover;
        }

        .carousel-inner {
            width: 100%;
            max-height: 645px;
            height: 100%;
            display: inline-block;
        }

        .background-wrapper {
            width: 100%;
            height: 100%;
            max-height: 645px;
            background-color: #5C5D60;
            opacity: 0.6;
            z-index: 2;
            position: absolute;
        }

        #myCarousel {
            width: 100%;
            height: auto;
        }

        .carousel-control {
            z-index: 3;
            opacity: 0;
            color: white;
        }

        .item > img {
            object-fit: scale-down;
        }

        .item {
            align-items: center;
        }

        .carousel-caption {
            z-index: 3;
            position: sticky;
            text-align: center;
            transform: translateY(-85%);
        }

        .forcus-text {
            display: inline-flex;
            color: red;
        }

        .extra-text {
            display: inline-flex;
            color: white;
        }

        .caption-text {
            align-self: center;
        }

        h4.desc-text {
            align-self: center;
            color: white;
        }*/
    </style>
</head>
<body>
    <div class="home-page">
        @*<div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="background-wrapper"></div>
                <div class="carousel-inner">

                    <div class="item active image-header">
                        <img src="~/Content/Resources/Image/background3.jpg">
                        <div class="carousel-caption">
                            <h1 class="caption-text"><span class="forcus-text">JYH </span><span class="extra-text">Đơn Giản Mà Tinh Tế</span></h1>
                            <h4 class="desc-text">Học Tiếng Nhật theo một cách hoàn toàn mới mẻ và gần gũi với thực tế.<br>Dễ Hiểu Dễ Nhớ Dễ Giao Tiếp</h4>
                            <div class="CTAction">Đăng Ký Ngay</div>
                        </div>
                    </div>

                    <div class="item image-header">
                        <img src="~/Content/Resources/Image/background2.jpg">
                        <div class="carousel-caption">
                            <h1 class="forcus-text">Tiếng Nhật </h1><h1 class="extra-text">Trong Tâm Tay</h1>
                            <h3 class="desc-text">Nơi  <br>Dễ Hiểu Dễ Nhớ Dễ Giao Tiếp</h3>
                            <div class="CTAction">Trải Nghiệm Miễn Phí</div>
                        </div>
                    </div>

                    <div class="item image-header">
                        <img src="~/Content/Resources/Image/background1.jpg">
                        <div class="carousel-caption">
                            <h1 class="forcus-text">JYH </h1><h1 class="extra-text">ĐƠN GIẢN MÀ TINH TẾ</h1>
                            <h3 class="desc-text">Học Tiếng Nhật Theo Một Cách Hoàn Toàn Mới Mẻ Và Gần Gũi Với Thực Tế.<br>Dễ Hiểu Dễ Nhớ Dễ Giao Tiếp</h3>
                            <div class="CTAction">Đến Với Những Khóa Học Thú Vị</div>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="border:none;box-shadow:none;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next" style="border:none;box-shadow:none;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>*@
        <section class="featured-slider">
            <h3 class="hidden">Highlights</h3>
            <div class="featured-carousel">
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home1.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Tiếng Nhật trong tay bạn</h3>
                                    <p class="lead">Với hệ thống khóa học toàn diện của Japanese in Your Hand, bạn có thể sở hữu tiếng Nhật trong tay của mình. Hãy tham gia học ngay hôm nay, hoàn toàn MIỄN PHÍ!</p>
                                    <a href="/Study" class="btn btn-primary">Bắt đầu học</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home2.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Học bảng chữ cái</h3>
                                    <p class="lead">Bạn chưa biết gì về tiếng Nhật? Đừng lo lắng - với phương pháp học đột phá của chúng tôi, bạn có thể học hai bảng chữ cái Hiragana và Katakana nhanh hơn bao giờ hết.</p>
                                    <a href="/Alphabet" class="btn btn-primary">Học bảng chữ cái</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home3.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Luyện tập JLPT</h3>
                                    <p class="lead">Bạn không biết rõ về năng lực của mình? Bạn muốn luyện tập cho kì thi năng lực tiếng Nhật JLPT? Hãy thực hiện bài luyện tập JLPT miễn phí của chúng tôi, với những câu hỏi có độ khó tương đương đề thi thật và giải thích đáp án rõ ràng.</p>
                                    <a href="/Study/JLPT" class="btn btn-primary">Thi thử JLPT</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home4.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Miễn phí, và sẽ luôn như vậy</h3>
                                    <p class="lead">Nếu bạn muốn học tiếng Nhật, đừng để chi phí trở thành một rào cản. Tất cả các khóa học cơ bản, các bài kiểm tra năng lực và các tính năng vượt trội của Japanese in Your Hand đều hoàn toàn miễn phí.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid" style="max-width: none; margin-left: 20px; margin-right: 20px; padding-left: 0px; padding-right: 0px;">
            <div class="row revolution">
                <div class="revolution-title">Vì sao bạn nên tham gia học với Japanese in Your Hand?</div>
            </div>
            <div class="row course-introduce">
                <div class="col-md-8 introduce-left">
                    <div class="introduce-title">Khóa học miễn phí cho mọi trình độ</div>
                    <div class="introduce-desc">Bạn chưa biết gì về tiếng Nhật? Bạn đang học tiếng Nhật ở trường học hay trung tâm nhưng cảm thấy quá khó? Bạn có thể giao tiếp và đọc hiểu tốt, nhưng vẫn muốn cải thiện kĩ năng? Cho dù bạn là ai, cho dù trình độ của bạn thế nào, chúng tôi đều có khóa học phù hợp cho bạn - hoàn toàn miễn phí.</div>
                </div>
                <div class="col-md-4 introduce-pic-right">
                    <img src="~/Content/Resources/Image/jyhintroduce1.png" />
                </div>
            </div>
            <div class="row innovation-introduce">
                <div class="col-md-4 introduce-pic-left">
                    <img src="~/Content/Resources/Image/jyhintroduce2.png" />
                </div>
                <div class="col-md-8 introduce-right">
                    <div class="introduce-title">Hiểu rõ và cải thiện điểm yếu của bản thân</div>
                    <div class="introduce-desc">Với hệ thống luyện tập trong từng bài học và kiểm tra đánh giá năng lực liên tục, bạn có thể hiểu rõ điểm mạnh và điểm yếu của bản thân. Ngoài ra, chúng tôi sẽ phân tích quá trình học của bạn và cung cấp cho bạn lộ trình phù hợp để bạn có thể cải thiện những kĩ năng mà bạn cần nhất, giúp cho việc học trở nên hiệu quả hơn bao giờ hết.</div>
                </div>
            </div>
            <div class="row jlpt-introduce">
                <div class="col-md-8 introduce-left">
                    <div class="introduce-title">Đánh giá năng lực và luyện tập JLPT</div>
                    <div class="introduce-desc">Chúng tôi cung cấp các bài kiểm tra đánh giá năng lực và luyện tập JLPT từ N5 đến N1 hoàn toàn miễn phí, với độ khó các câu hỏi tương tự đề thi thật. Với những bài kiểm tra của chúng tôi, bạn có thể luyện tập cho các kì thi và nhanh chóng cải thiện các kĩ năng Kanji, từ vựng, ngữ pháp, đọc hiểu, nghe hiểu.</div>
                </div>
                <div class="col-md-4 introduce-pic-right">
                    <img src="~/Content/Resources/Image/jyhintroduce3.png" />
                </div>
            </div>
            <div class="row dictionary-introduce">
                <div class="col-md-4 introduce-pic-left">
                    <img src="~/Content/Resources/Image/jyhintroduce4.png" />
                </div>
                <div class="col-md-8 introduce-right">
                    <div class="introduce-title">Tra cứu từ vựng, Kanji và ngữ pháp tiện lợi</div>
                    <div class="introduce-desc">Với hệ thống từ điển được tích hợp, bạn có thể nhanh chóng tra cứu từ vựng, Kanji và cả ngữ pháp trong quá trình học mà không cần phải mất nhiều thời gian hay công sức tra cứu bằng những công cụ khác. Toàn bộ từ vựng, Kanji và ngữ pháp được biên soạn cẩn thận nhằm đảm bảo độ chính xác và dễ hiểu.</div>
                </div>
            </div>
            <div class="row service-introduce">
                <div class="service-introduce-title">Với Japanese in Your Hand, bạn có thể học...</div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice1.png" /></div>
                    <div class="service-introduce-num">2,500+</div>
                    <div class="service-introduce-text">Kanji thường dùng</div>
                </div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice2.png" /></div>
                    <div class="service-introduce-num">15,000+</div>
                    <div class="service-introduce-text">Từ vựng thiết yếu</div>
                </div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice3.png" /></div>
                    <div class="service-introduce-num">1,000+</div>
                    <div class="service-introduce-text">Cấu trúc ngữ pháp quan trọng</div>
                </div>
                <div class="service-introduce-desc">Những gì bạn có thể học với Japanese in Your Hand không những đủ cho kì thi JLPT N1, mà còn giúp bạn có thể giao tiếp tốt và đọc hiểu những văn bản phức tạp, giúp cho ngôn ngữ không còn là trở ngại khi bạn sinh sống tại Nhật Bản.</div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $.post("/Home/Available", function (data) {
                if (data == "0") {
                    $(".navbar-nav").load("/Home/UnAccess");
                } else if (data == "1") {
                    $(".navbar-nav").load("/Home/Access");
                } else {
                    // thông báo lỗi
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 1000 * 20
            });

        });
    </script>
</body>